<p>
    personal works!
</p>

<div class="container-fluid border"><br>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Lista del Equipo de Trabajo</h3>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
            <button [routerLink]="['/admin','instituto','equipo-de-trabajo','nuevo']" type="button" class="btn btn-primary m-1">Registrar</button>
            <!-- <button type="button" class="btn btn-primary m-1" (click)="generarPDF()">Imprimir</button> -->
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= TODO TODO TODO TODO TODO TODO TODO -->
    <!-- <div class="alert alert-danger" *ngIf="error" role="alert">
      {{ mensajeError }}
  </div> -->
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="border mt-4">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Apellidos y Nombres</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">PosVista</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{usuario.pri_nombre}} {{usuario.seg_nombre}} {{usuario.paterno}} {{usuario.materno}}</td>
                    <td>{{usuario.admin.cargo}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>{{usuario.admin.vista_posicion}}</td>
                    <td class="text-center">
                        <div class="form-group">
                            <div class="form-check">
                                <input (click)="posicionaModal(usuario, i)" data-toggle="modal" data-target="#ModalHacerAdmin" class="form-check-input" type="checkbox" id="gridCheck" [checked]="usuario.super">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <button [routerLink]="['/admin','instituto','equipo-de-trabajo', usuario.username ]" type="button" class="btn btn-warning">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#ModalAdmin" (click)="posicionaModal(usuario, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalAdmin" tabindex="-1" role="dialog" aria-labelledby="ModalAdminLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAdminLabel">Esta seguro de eliminar al admin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                    <div>
                        C.I. {{ usuario.ci}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliAdmin()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->

    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalHacerAdmin" tabindex="-1" role="dialog" aria-labelledby="ModalHacerAdminLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalHacerAdminLabel">Esta seguro de {{asignarQuitar}} LOS PRIVILEGIOS DE ADMINISTRADOR a:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                    <div>
                        cargo: {{ usuario.admin.cargo}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="asignarQuitarAdministrador()" data-dismiss="modal" class="btn btn-danger">SÍ</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ================= End Modal ================= -->

    <!-- ================= Begin  ================= -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAsigAdmin">
            Launch demo modal
        </button> -->

    <!-- Modal -->
    <!-- <div class="modal fade" id="ModalAsigAdmin" tabindex="-1" role="dialog" aria-labelledby="ModalAsigAdminTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">INGRESE CREDENCIALES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-center">
                            <form [formGroup]="forma" (ngSubmit)="loginUser()">
                                <div class="form-group">
                                    <label for="nombre1" class="font-weight-bold">Usuario</label>
                                    <input type="text" class="form-control" id="nombre1" placeholder="Usuario *" formControlName="username">
                                    <small id="nombreHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1" class="font-weight-bold">Contraseña</label>
                                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password *" formControlName="password">
                                </div>

                                <div class="alert alert-danger" role="alert" *ngIf="error">
                                    {{mensajeError}}
                                </div>

                                <button (click)="irPaginaArriba()" type="submit" class="btn btn-secondary">Submit</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ================= End  ================= -->

</div>