<p>
    list-inv works!
</p>
<!-- ================= Begin ListaProyecto por Convocatoria ================= -->
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Proyectos de Investigacion Ejecutados en la gestión {{gestion}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <!-- <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','proyectos','nuevo']" type="button" class="btn btn-primary">Registrar</button> -->
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="row mx-0 d-flex mt-4">
        <div class="card d-inline-flex mx-3 my-2" *ngFor="let proyecto of proyectos; index as i">
            <div class="card-header" style="height: 2.5rem"> </div>
            <div class="card-body">
                <h5 class="card-title">{{proyecto.tipo}} {{proyecto.titulo }}</h5>
                <p class="card-text">
                    <span *ngFor="let usuario of ussDocsInvestigadoresPorProyecto[i]; index as ii">
                        {{usuario.docente.grado}} {{usuario.paterno}} {{usuario.materno}} {{usuario.pri_nombre}} <br>
                    </span> {{ proyecto.abstract }}
                </p>
                <!-- investigacion/convocatorias/:gestion/docentes-investigadores/:username/proyectos-investigacion/:titulo -->
                <div class="w-100 d-flex justify-content-between">
                    <!-- <button [routerLink]="['/admin','posgrado','cursos', curso.sigla,'modulos']" (click)="eliModal(curso, i)" class="btn btn-secondary mx-1" style="width: 40%">Módulos</button> -->
                    <button [routerLink]="['/admin','investigacion','convocatorias', gestion, 'proyectos-investigacion', proyecto.titulo | rempEsp]" type="button" class="btn btn-primary mx-1" style="width: 30%">Editar</button>
                    <button type="button" data-toggle="modal" data-target="#ProyectoModal" (click)="eliModal(proyecto, i)" class="btn btn-danger mx-1" style="width: 30%">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================= Begin Modal ================= -->
<div class="modal fade" id="ProyectoModal" tabindex="-1" role="dialog" aria-labelledby="ProyectoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ProyectoModalLabel">Esta seguro de eliminar el proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="proyecto!=null">
                <!-- <div class="modal-body"> -->
                <div>
                    {{ proyecto.tipo }}
                </div>
                <div>
                    {{ proyecto.titulo}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="eliProyecto()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- ================= End Modal ================= -->
<!-- ================= End ListaProyecto por Convocatoria ================= -->