.aqside {
    font-family: PT_Sans-Web-Regular;
    width: 5%;
    height: 5%;
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    transform: rotateZ(90deg);
    white-space: nowrap;
}

.aqpart {
    padding-top: 1.5rem;
    width: 95%;
    border-left: 1px solid #e6e7eb;
    color: #0a143b
}