<!-- ================= Begin UPostgraduate ================= -->
<!-- ================= Begin Presentation ================= -->
<div class="row mx-0">
    <div class="aqside">
        <div style="padding-left: 4.5rem;display: flex; justify-content: space-around">
            <div>
                <h2>CONOCER</h2>
            </div>
            <div>
                <h2>APRENDER</h2>
            </div>
            <div>
                <h2>MEJORAR</h2>
            </div>
        </div>
    </div>
    <div class="aqpart">
        <div class="aqpx aqcon75 aqffsr">
            <h1>Unidad de Posgrado</h1>
            <h3>Desarrollar programas de posgrado de distinto nivel y en modalidades presencial, semi-presencial y virtual para formar recursos humanos de alta calificación en el campo comunicacional.</h3>
        </div>

        <!-- ================= Begin Collage ================= -->
        <div class="row mx-0" style="padding-left: 3px">

            <div class="col-12 col-md-6 px-0 d-flex aqposrel" style="background-color: #001a33;">
                <a href="course.html" class="aqhvup d-flex align-self-stretch">
                    <img src="../../../assets/img/postgraduate/fonup.jpg" class="aq100">
                    <div class="aqpx align-self-center text-justify" style="position: absolute;">
                        <h4 class="mb-0">0 Amplia y desarrolla tus conocimientos para ser un profesional que el mercado demanda, hazte de herramientas eficaces para llevar a cabo funciones que empresas o insitituciones necesitan, en la MGC</h4>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 px-0">
                <div class="row mx-0 h-50">
                    <div class="col-6 px-0 d-flex aqposrel" style="background-color: #00264d;">
                        <a href="noticeup.html" class="aqhvup d-flex align-self-stretch">
                            <img src="../../../assets/img/postgraduate/m1.jpg" class="aq100">
                            <div class="aqpx align-self-center text-justify" style="position: absolute;">
                                <h5 class="mb-0">1 El 3 de Julio se dio inicio al Taller de Tesis II, dictado por la destacada profesional.</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 px-0 d-flex aqposrel" style="background-color: #c4213a;">
                        <a href="noticeup.html" class="aqhvup d-flex align-self-stretch">
                            <img src="../../../assets/img/postgraduate/m2.jpg" class="aq100">
                            <div class="aqpx align-self-center text-justify" style="position: absolute;">
                                <h5 class="mb-0">2 Módulo 13 Gestión de campañas impartido el docente Mgr. Alvaro Hurtado Calderón.</h5>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row mx-0 h-50">
                    <div class="col-6 px-0 d-flex aqposrel" style="background-color: #333333;">
                        <a href="noticeup.html" class="aqhvup d-flex align-self-stretch">
                            <img src="../../../assets/img/postgraduate/m5.jpg" class="aq100">
                            <div class="aqpx align-self-center text-justify" style="position: absolute;">
                                <h5 class="mb-0">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 px-0 d-flex aqposrel" style="background-color: #00264d;">
                        <a href="noticeup.html" class="aqhvup d-flex align-self-stretch">
                            <img src="../../../assets/img/postgraduate/m4.jpg" class="aq100">
                            <div class="aqpx align-self-center text-justify" style="position: absolute;">
                                <h5 class="mb-0">4 Amplia y desarrolla tus conocimientos para ser un profesional que el mercado demanda, en la MGC</h5>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- ================= End Collage ================= -->
    </div>
</div>
<!-- ================= End Presentation ================= -->

<!-- ================= Begin NewsPostgraduate ================= -->
<div class="aqpx aqmt35" style="font-family: PT_Sans-Web-Regular;color: #0a143b;">
    <h2>NOTICIAS</h2>
</div>

<div class="row mx-0 aqpx mt-4">
    <div class="col-12 col-sm-4">
        <div>
            <img src="../../../assets/img/postgraduate/m1.jpg" class="img-fluid">
            <h4 style="margin-top: 1rem; font-family: PT_Sans-Web-Bold">La MSc. Rigliana Portugal.</h4>
            <p style="font-family: PT_Sans-Web-Regular">El 3 de Julio se dio inicio al Taller de Tesis II, dictado por la destacada profesional.</p>
            <p><a style="color: #006cb8;font-weight: 600;font-size: 1.125rem" href="noticeup.html">La MGC continúa! ></a></p>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div>
            <img src="../../../assets/img/postgraduate/m2.jpg" class="img-fluid">
            <h4 style="margin-top: 1rem; font-family: PT_Sans-Web-Bold">La MSc. Rigliana Portugal.</h4>
            <p style="font-family: PT_Sans-Web-Regular">El 3 de Julio se dio inicio al Taller de Tesis II, dictado por la destacada profesional.</p>
            <p><a style="color: #006cb8;font-weight: 600;font-size: 1.125rem" href="noticeup.html">Módulo Taller de Tesis II ></a></p>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div>
            <img src="../../../assets/img/postgraduate/m5.jpg" class="img-fluid">
            <h4 style="margin-top: 1rem; font-family: PT_Sans-Web-Bold">¡La Maestría en Gestión de la Comunicación avanza!</h4>
            <p style="font-family: PT_Sans-Web-Regular">Módulo 13 Gestión de campañas impartido el docente Mgr. Alvaro Hurtado Calderón.</p>
            <p><a style="color: #006cb8;font-weight: 600;font-size: 1.125rem" href="noticeup.html">El miércoles 14 de febrero inicio el módulo 13 ></a></p>
        </div>
    </div>
</div>
<!-- ================= End NewsPostgraduate ================= -->
<!-- ================= End UPostgraduate ================= -->