<p>
    oficinas works!
</p>
<div>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Oficinas</h3><small>Píe de Pagina</small>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            El Oficina "{{ mensajeExito }}" ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="mt-4">
        <form [formGroup]="formaOficina" (ngSubmit)="regOficina()">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Dirección</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oficina of oficinas; index as i">
                        <td>{{oficina.direccion}}</td>
                        <td>
                            <div class="d-flex">
                                <button (click)="editarOficina(oficina)" type="button" class="btn btn-warning">Editar</button>
                                <div style="width: 0.25rem"></div>
                                <button type="button" data-toggle="modal" data-target="#ModalOficina" (click)="eliModal(oficina, i)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="direccion" placeholder="Dirección de la Oficina" formControlName="direccion"></td>
                        <td>
                            <div class="d-flex">
                                <button [disabled]="!formaOficina.valid" type="submit" class="btn btn-primary">Guardar</button>
                                <div style="width: 0.25rem" *ngIf="this.editar"></div>
                                <button (click)="cargarForma()" class="btn btn-secondary" *ngIf="this.editar">Cancelar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalOficina" tabindex="-1" role="dialog" aria-labelledby="ModalOficinaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalOficinaLabel">Esta seguro de eliminar la oficina con dirección</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="oficina!=null">
                    <div>
                        {{ oficina.direccion }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliOficina()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->
</div>