<p>
    reg-edi-con works!
</p>
<!-- ================= Begin Formulario de Registro/Edición de Convocatorias ================= -->
<div style="background-color: #ecf0f5">
    <!-- <div class="container py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom mb-3 d-flex justify-content-between">
                <div class="d-flex">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary aqbtnatras" title="Ir arriba"><</button>
                    <h4>{{accion}} Convocatoria</h4>
                </div>
            </div> -->
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <!-- <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                La convocatoria {{ mensajeExito }} ha sido registrado Exitosamente.!!!
            </div>
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div> -->
    <!-- ================= End Alertas Exitos Error ================= -->
    <!-- <form [formGroup]="forma" (ngSubmit)="regConvocatoria()">

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="gestion" class="font-weight-bold">Gestión</label>
                        <input type="text" class="form-control" id="gestion" placeholder="Nombre" formControlName="gestion">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="ejes_tematicos" class="font-weight-bold">Ejes Temáticos</label>
                        <input type="text" class="form-control" id="ejes_tematicos" placeholder="Nro. del Convocatoria" formControlName="ejes_tematicos">
                    </div>
                    <div class="form-group col-md-2 align-self-end">
                        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </div>
                </div>

            </form>

            <div *ngIf="gestion !== 'nueva'">
                <form [formGroup]="forma1">
                    <div class="form-row border-top pt-3">
                        <label class="font-weight-bold">Registrar Docente Investigador</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="extendido" class="font-weight-bold">Nuevo docente</label>
                            <button [routerLink]="['/admin','investigacion','convocatorias', gestion, 'docentes-investigadores', 'nuevo']" type="button" class="btn btn-info btn-block">Registrar</button>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="docenteId" class="font-weight-bold">Docente ya Registrado, elegir</label>
                            <select (change)="selectElegido( $event.target.value)" class="form-control" formControlName="control1">
                            <option [ngValue]="0" [selected]>Profesor NO registrado</option>
                            <option *ngFor="let usuario of ussDocentes" [ngValue]="usuario.id">
                                {{ usuario.docente.grado }} {{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                            </option>
                        </select>
                        </div>
                        <div class="form-group col-md-3 align-self-end" *ngIf="docenteId">
                            <button (click)="registrarDocInvExistente() " class="btn btn-info btn-block">Registrar Docente Existente</button>
                        </div> -->
    <!-- <div class="form-group col-md-5">
                        <label for="profesor" class="font-weight-bold">Nombre del Docente</label> -->
    <!--TENER DEMASIADO CUIDADO CON USAR FUNCIONES DENTRO DE INPUTS ONFOCUS OK <input type="text" class="form-control" [ngClass]="{'aqdisabled': profesorNoRegistrado}" (focus)="limpiarSelect(this)" id="profesor" formControlName="profesor" placeholder="Ingrese grado y Nombre"> -->
    <!-- <input *ngIf="nombreProfesor !== ''" type="text" readonly class="form-control-plaintext pl-3" id="profesor" [value]="nombreProfesor"> -->
    <!-- <input *ngIf="nombreProfesor === ''" type="text" class="form-control" id="profesor" formControlName="profesor" placeholder="Ingrese grado y Nombre"> -->
    <!-- </div> -->
    <!-- </div>
                </form>
            </div>

            <div class="form-row pt-3" *ngIf="ussDocentesEstaGestion.length !== 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Investigador de esta convocatoria</th>
                            <th scope="col">Proyecto Investigado</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of ussDocentesEstaGestion; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td> {{usuario.docente.grado}} {{usuario.paterno}} {{usuario.materno}} {{usuario.pri_nombre}} {{usuario.seg_nombre}} </td>
                            <td>
                                <span *ngFor="let proyecto of proyectosPorDocente[i]">
                                    {{proyecto.titulo}},
                                </span>
                            </td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table> -->
    <!-- <div class="form-group col-md-4">
                    <label for="extendido">Docentes Investigadores asignados a esta convocatoria</label>
                    <input type="text" readonly class="form-control-plaintext pl-3" id="profesor" [value]="usuario.paterno">
                </div> -->
    <!-- <div class="form-group col-md-5">
                        <label for="docenteId">Elija Profesor</label>
                        <select (change)="selectElegido( $event.target.value)" id="docenteId" class="form-control" formControlName="docenteId">
                                <option [ngValue]="0" [selected]>Profesor NO registrado</option>
                                <option *ngFor="let usuario of ussDocentes" [ngValue]="usuario.id">
                                    {{ usuario.docente.grado }} {{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                                </option>
                            </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="profesor">Nombre del Profesor</label> -->
    <!--TENER DEMASIADO CUIDADO CON USAR FUNCIONES DENTRO DE INPUTS ONFOCUS OK <input type="text" class="form-control" [ngClass]="{'aqdisabled': profesorNoRegistrado}" (focus)="limpiarSelect(this)" id="profesor" formControlName="profesor" placeholder="Ingrese grado y Nombre"> -->
    <!-- <input *ngIf="nombreProfesor !== ''" type="text" readonly class="form-control-plaintext pl-3" id="profesor" [value]="nombreProfesor">
                        <input *ngIf="nombreProfesor === ''" type="text" class="form-control" id="profesor" formControlName="profesor" placeholder="Ingrese grado y Nombre">
                    </div> -->
    <!-- </div>

        </div>
    </div> -->
</div>
<!-- ================= End Formulario de Registro de Convocatorias ================= -->