<p>
    nosotros works!
</p>
<div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
    <div class="border-bottom  mb-3 d-flex justify-content-between">
        <div>
            <h4>Nosotros</h4>
        </div>
        <img class="img-fluid" alt="">
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="alert alert-warning" *ngIf="mensaje" role="alert">
        {{ mensaje }}
    </div>
    <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
        {{ mensajeExito }} actualizado correctamente.!!!
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <form [formGroup]="formaNosotros" (ngSubmit)="actNosotros()">

        <div class="form-row">
            <div class="form-group col-12">
                <label for="nombre">Nombre</label>
                <input style="background-color: #fcfcfc" type="text" readonly class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="resumen">Resumen</label>
                <input type="text" class="form-control" id="resumen" placeholder="Resumen (sugerido menos de 35 palabras)" formControlName="resumen">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-xs-12 col-md-7">
                <label for="exampleFormControlFileNosotros" [ngClass]="{'font-weight-bold': nombre !== 'nueva'}">Seleccione Imagen</label>
                <input type="file" (change)="selimg( $event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFileNosotros">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" placeholder="Párrafo de la Caracteristica" rows="15" formControlName="descripcion"></textarea>
                <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$, Ej. $$Objetivos del IpiCOM</small>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <!-- <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button> -->
            <button [disabled]="!formaNosotros.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
        </div>
    </form>
</div>