<p>
    modulos works!
</p>
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Módulos, eliga un curso</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <!-- <button [routerLink]="['/admin','posgrado','cursos','nuevo']" type="button" class="btn btn-primary">Registrar</button> -->
        </div>
    </div>

    <div class="row mx-0 d-flex mt-4">
        <div class="card d-inline-flex mx-3 my-2 aqpointer" [routerLink]="['/admin','posgrado','cursos',curso.sigla,'modulos']" *ngFor="let curso of cursos; index as i">
            <div class="card-header" style="height: 2.5rem"> </div>
            <div class="card-body">
                <h5 class="card-title">{{curso.sigla}} - {{ curso.nombre }}</h5>
                <p class="card-text"> Gestión {{ curso.gestion }} - Resolucion Facultativa N° {{ curso.nro_resolucion }}</p>
            </div>
        </div>
    </div>
</div>