<p>
    list-doc works!
</p>
<div class="container-fluid border py-4" *ngIf="curso">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Docentes del Curso: {{curso.nombre}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <!-- <button [routerLink]="['/admin','posgrado','cursos',sigla,'docentes','nuevo']" type="button" class="btn btn-primary">Registrar</button>
            <div style="width: 0.5rem"></div> -->
            <button [disabled]="!mensaje" [routerLink]="['/admin','posgrado','cursos',sigla,'modulos','nuevo']" type="button" class="btn btn-info" (click)="generarPDF()">Imprimir</button>
            <!-- <button type="button" class="btn btn-primary m-1" [disabled]="mensajeVacio !== ''" (click)="generarPDF()">Imprimir</button> -->
        </div>
    </div>

    <div class="mt-4">
        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <div class="table-responsive" *ngIf="!mensaje && carga && cargaDocRegistrados">
            <table class="table table-bordered">
                <thead class="text-center thead-dark">
                    <tr>
                        <th scope="col">N° Módulo</th>
                        <th scope="col">Módulo</th>
                        <th scope="col">Nombre del Profesor</th>
                        <th scope="col">Reg. Docente</th>
                        <th scope="col">Email</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let modulo of modulos; index as i">
                        <th class="text-center">{{modulo.numero}}</th>
                        <td>{{modulo.nombre}}</td>
                        <td [ngClass]="{'aqDocNoDatos': modulo.docenteId === 0}">{{modulo.profesor}}</td>
                        <td [ngClass]="{'aqDocNoDatos': modulo.docenteId === 0}">{{ussDocentes[i].docente.reg_docente}}</td>
                        <td [ngClass]="{'aqDocNoDatos': modulo.docenteId === 0}">{{ussDocentes[i].email}}</td>
                        <td [ngClass]="{'aqDocNoDatos': modulo.docenteId === 0}">{{ussDocentes[i].celular}}</td>
                        <th>
                            <div class="d-flex">
                                <button *ngIf="modulo.docenteId !== 0" [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', modulo.numero,'docentes',ussDocentes[i].username]" type="button" class="btn btn-primary">Editar</button>
                                <button *ngIf="modulo.docenteId === 0" [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', modulo.numero,'docentes','nuevo']" type="button" class="btn btn-primary">Registrar</button>
                                <div style="width: 0.25rem"></div>
                                <button [disabled]="modulo.docenteId === 0" type="button" data-toggle="modal" data-target="#ModalDocente" (click)="elimodal(modulo, ussDocentes[i].docente, i)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="aqDocNoDatos">-Docente no registrados.</div>
        </div>
    </div>

    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalDocente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esta seguro {{quitarEliminar}} el Docente:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="docente!=null">
                    <div>
                        {{ modulo.profesor }} con reg. docente: {{ docente.reg_docente }}
                    </div>
                    <div>
                        del Módulo {{ modulo.nombre }}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="actDocenteModulo()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->
</div>