<!-- ================= Begin Investigator ================= -->
<div class="row mx-0" *ngIf="carga">

    <section class="col-lg-9 px-0">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation']" class="aqsbtx aqlihov">Investigación</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation','teachers']" class="aqsbtx aqlihov">Investigadores</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation','teachers', term]" class="aqsbtx aqlihov">{{term}}</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">{{ usuario.auxiliar.denominacion }} </a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin InvestigatorAbstract ================= -->
        <div class="aqpxsc9 aqcon80">
            <div class="aqbbper">
                <h1 class="">{{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}</h1>
                <h3 class="mb-4 aqtxcoblsf">Estudiantes Investigadores del IpiCOM</h3>
            </div>
            <h4 class="mt-4 aqffser">{{usuario.auxiliar.resena}}</h4>
        </div>
        <!-- ================= End InvestigatorAbstract ================= -->

        <!-- ================= Begin InvestigatorExtensive ================= -->
        <div class="aqpxsc9 aqcontxsc9 aqcon80 mt-5">
            <img style="width: 30%" class="aqimper aqimagen" [src]="usuario.auxiliar.imgpath | seleccionaImagen: 'inveAuxiliares'">

            <!-- ================= Begin Content ================= -->
            <div *ngFor="let parrafo of descripcion">
                <p [ngClass]="{'aqffseb aqmb075': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
            </div>
            <!-- ================= End Content ================= -->

        </div>
        <!-- ================= End InvestigatorExtensive ================= -->

    </section>

    <aside class="col-lg-3 aqpx mt-3">
        <!-- ================= Begin Jumbotron Form Inscription ================= -->
        <a href="documents/FORMULARIO-DE-PREINSCRIPCION.xlsx">
            <div class="aqinfo aqmt20">
                <p><span>FORMULARIO DE INSCRIPCIÓN</span><br>Maestría en Gestión de la Comunicación</p>
            </div>
        </a>
        <!-- ================= End Jumbotron Form Inscription ================= -->

        <!-- ================= Begin Jumbotron ContactDetails ================= -->
        <div class="aqinfo aqmt20">
            <p><span>DETALLES DE CONTACTO</span><br>{{usuario.pri_nombre}} {{usuario.paterno}} {{usuario.materno}}</p>
            <p><span>Email:</span><br>
                <a [attr.href]="'mailto:' + usuario.email">
                    <div class="text-truncate"> {{usuario.email}} </div>
                </a>
            </p>
        </div>
        <!-- ================= End Jumbotron ContactDetails ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->

    </aside>

</div>
<!-- ================= End Investigator ================= -->