<p>
    instituto works!
</p>
<!-- ================= Begin Instituto ================= -->
<h3 class="h3 display-4">
    Bienvenido al IpiCOM!
</h3>
<!-- ================= End Instituto ================= -->

<div class="border mx-2">
    <div class="row m-3">
        <h2>
            Bienvenido al IpiCOM!
        </h2>
    </div>

    <div class="row mx-0">
        <div class="col-12 col-md-3 px-0">
            <div class="m-3 text-white" style="position: relative;">
                <div class="rounded-top pt-3 px-3 pb-1" style="background-color: #3c9cdd">
                    <h1 class="mb-0">{{numCaracteristicas}}</h1>
                    <h3>Caracteristicas</h3>
                </div>
                <div class="p-3" style="position: absolute;top: 12px;right: 6px;" class="icon">
                    <img width="70px" height="70px" src="../../../assets/svg/bookmark.svg" alt="img-feature">
                </div>
                <div [routerLink]="['/admin','instituto','caracteristicas']" class=" aqpointer rounded-bottom px-3 py-1" style="background-color: #328fcd">Más información</div>
            </div>
        </div>

        <div class="col-12 col-md-3 px-0">
            <div class="m-3 text-white" style="position: relative;">
                <div class="rounded-top pt-3 px-3 pb-1" style="background-color: #e95949">
                    <h1 class="mb-0">{{numEquipoTrabajo}}</h1>
                    <h3>Equipo de Trabajo</h3>
                </div>
                <div class="p-3" style="position: absolute;top: 12px;right: 12px;" class="icon">
                    <img width="70px" height="70px" src="../../../assets/svg/organization.svg" alt="img-organization">
                </div>
                <div [routerLink]="['/admin','instituto','equipo-de-trabajo']" class=" aqpointer rounded-bottom px-3 py-1" style="background-color: #cf574a">Más información </div>
            </div>
        </div>

        <div class="col-12 col-md-3 px-0">
            <div class="m-3 text-white" style="position: relative;">
                <div class="rounded-top pt-3 px-3 pb-1" style="background-color: #1acba8">
                    <h1 class="mb-0">{{numNoticias}}</h1>
                    <h3>Noticias</h3>
                </div>
                <div class="p-3" style="position: absolute;top: 12px;right: 12px;" class="icon">
                    <img width="70px" height="70px" src="../../../assets/svg/megaphone.svg" alt="img-news">
                </div>
                <div [routerLink]="['/admin','instituto','noticias']" class=" aqpointer rounded-bottom px-3 py-1" style="background-color: #17b595">Más información </div>
            </div>
        </div>

        <div class="col-12 col-md-3 px-0">
            <div class="m-3 text-white" style="position: relative;">
                <div class="rounded-top pt-3 px-3 pb-1" style="background-color: #f4a425">
                    <h1 class="mb-0">{{numSitiosInteres}}</h1>
                    <h3>Sitios de Interés</h3>
                </div>
                <div class="p-3" style="position: absolute;top: 12px;right: 12px;" class="icon">
                    <img width="70px" height="70px" src="../../../assets/svg/browser.svg" alt="img-img-pages">
                </div>
                <div [routerLink]="['/admin','instituto','sitios-interes']" class=" aqpointer rounded-bottom px-3 py-1" style="background-color: #ed9912">Más información </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <h2>
            Paginas!
        </h2>
    </div>
    <div class="row m-3">
        <div class="nav flex-column nav-pills border col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-units-tab" data-toggle="pill" href="#v-pills-units" role="tab" aria-controls="v-pills-units" aria-selected="true">Unidades</a>
            <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="false">Nosotros</a>
            <a class="nav-link" id="v-pills-video-tab" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">Video</a>
            <a class="nav-link" id="v-pills-networks-tab" data-toggle="pill" href="#v-pills-networks" role="tab" aria-controls="v-pills-networks" aria-selected="false">Redes</a>
            <a class="nav-link" id="v-pills-contacts-tab" data-toggle="pill" href="#v-pills-contacts" role="tab" aria-controls="v-pills-contacts" aria-selected="false">Contactos</a>
            <a class="nav-link" id="v-pills-offices-tab" data-toggle="pill" href="#v-pills-offices" role="tab" aria-controls="v-pills-offices" aria-selected="false">Oficinas</a>
            <a class="nav-link" id="v-pills-resources-tab" data-toggle="pill" href="#v-pills-resources" role="tab" aria-controls="v-pills-resources" aria-selected="false">Recursos</a>
        </div>
        <div class="tab-content border col-10" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-units" role="tabpanel" aria-labelledby="v-pills-units-tab">
                <app-unidades></app-unidades>

            </div>
            <div class="tab-pane fade" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                <app-nosotros></app-nosotros>
            </div>
            <div class="tab-pane fade" id="v-pills-video" role="tabpanel" aria-labelledby="v-pills-video-tab">
                <div>
                    <div>
                        <h3>Video de Presentación</h3>
                    </div>

                    <div class="form-group">
                        <h4>{{nombreVideo}}</h4>
                        <label for="formControlVideo">Introduzca el id del video de YouTube.</label>
                        <input class="form-control-file" id="formControlVideo" [value]="video.descripcion">
                    </div>
                    <button (click)="regVideo()" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                    <!-- <button (click)="cambiarVideo()" class="btn btn-outline-info btn-lg mt-4">Registrar</button> -->
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-networks" role="tabpanel" aria-labelledby="v-pills-networks-tab">
                <app-redes></app-redes>
            </div>
            <div class="tab-pane fade" id="v-pills-contacts" role="tabpanel" aria-labelledby="v-pills-contacts-tab">
                <app-contactos></app-contactos>
            </div>
            <div class="tab-pane fade" id="v-pills-offices" role="tabpanel" aria-labelledby="v-pills-offices-tab">
                <app-oficinas></app-oficinas>
            </div>
            <div class="tab-pane fade" id="v-pills-resources" role="tabpanel" aria-labelledby="v-pills-resources-tab">
                <app-recursos></app-recursos>
            </div>
        </div>

    </div>
</div>

<div><a>Nosotros</a></div>
<div><a [routerLink]="['/admin','instituto','caracteristicas']">Características</a></div>
<div><a [routerLink]="['/admin','instituto','equipo-de-trabajo']">Equipo de Trabajo</a></div>
<div><a [routerLink]="['/admin','instituto','noticias']">Noticias</a></div>
<div><a [routerLink]="['/admin','instituto','sitios-interes']">Sitios de Interés</a></div>
<!-- <div *ngIf="consultasNoleidas===0"><a [routerLink]="['/admin','instituto','consultas']">Consultas</a></div> -->
<div><a [routerLink]="['/admin','instituto','consultas']">Consultas <span class="badge badge-success" *ngIf="consultasNoleidas!==0"> {{consultasNoleidas}} Nuevas </span></a></div>