<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display: block" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" style="height: 54px;" onclick="w3_close()">IpiCOM &times;</button>

    <!-- ================= Begin SideBar ================= -->
    <div id="accordionEstudiante">
        <div class="card" *ngFor="let curso of cursos; index as i">
            <button class="btn btn-link card-header dropdown-toggle collapsed aqpd12px" data-toggle="collapse" [attr.data-target]="'#collapseEstudiante' + i" aria-expanded="false" [attr.aria-controls]="'collapseEstudiante' + i">
                <!-- revisar antes de liberar fas fa -->
                <i class="fas fa-adjust fa-2x"></i>
                <a [routerLink]="['/estudiante', curso.sigla, 'notas']"><span> {{curso.sigla}} {{curso.nombre | slice:0:13}}.. </span></a>
            </button>
            <!-- <div [attr.id]="'collapseEstudiante' + i" class="collapse" [attr.aria-labelledby]="'headingEstudiante' + i" data-parent="#accordionEstudiante">
                <div class="card-body">
                    <div *ngFor="let modulo of modulosPorCurso[i]; index as ii">
                        <a [routerLink]="['/docente', curso.sigla, modulo.numero, 'notas']">-{{modulo.nombre | slice}}..</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- ================= End SideBar ================= -->

    <!-- ================= Begin SideBar ================= -->
    <!-- <div id="accordionAdmin">
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle " id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-adjust fa-2x"></i>
            <span>Instituto</span>
        </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a [routerLink]="['/estudiante',]">Instituto</a></div> -->
    <!-- <div><a [routerLink]="['/admin','instituto','nosotros']">Nosotros</a></div>
                    <div><a [routerLink]="['/admin','instituto','nosotros']">Características</a></div>
                    <div><a [routerLink]="['/admin','instituto','equipo-de-trabajo']">Equipo de Trabajo</a></div>
                    <div><a [routerLink]="['/admin','instituto','noticias']">Noticias</a></div>
                    <div><a [routerLink]="['/admin','instituto','sitios-interes']">Sitios de Interés</a></div> -->
    <!-- </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-adjust fa-2x"></i>
                <span>Posgrado</span>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a [routerLink]="['/admin','posgrado']">Posgrado</a></div> -->
    <!-- <div><a [routerLink]="['/admin','posgrado','cursos']">Cursos</a></div>
                    <div><a [routerLink]="['/admin','posgrado','modulos']">Módulos</a></div>
                    <div><a [routerLink]="['/admin','posgrado','docentes']">Docentes</a></div>
                    <div><a [routerLink]="['/admin','posgrado','estudiantes']">Estudiantes</a></div>
                    <div><a [routerLink]="['/admin','posgrado','notas']">Notas</a></div>
                    <div><a [routerLink]="['/admin','posgrado','asistencia']">Asistencia</a></div>
                    <div><a [routerLink]="['/admin','posgrado','avisos']">Avisos</a></div> -->
    <!-- </div>
            </div>
        </div> -->
    <!-- <div class="card">
            <button class="btn btn-link card-header dropdown-toggle collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-adjust fa-2x"></i>
            <span>Investigación</span>        
        </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a>Docente</a></div>
                    <div><a [routerLink]="['/admin','investigacion']">Investigación</a></div>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <i class="fas fa-adjust fa-2x"></i>
            <span>Interacción</span>
        </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a>Docente</a></div>
                    <div><a [routerLink]="['/admin','interaccion']">Interacción</a></div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
    <!-- ================= End SideBar ================= -->
</div>

<div id="main" style="margin-left: 200px">

    <div class="w3-teal d-flex justify-content-between" style="height: 54px;">
        <div class="row mx-0">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()" style="display: none">&#9776;</button>
            <h3 class="mx-2 my-auto">My Page Estudiante</h3>
        </div>
        <div class="my-auto mr-1">
            <img width="28px" height="32px" src="../../assets/svg/personEst.svg" alt="profesor">
            <span class="mx-1">{{nombre}}</span>
            <button (click)="logout()" type="button" class="btn btn-danger">Cerrar Sesión</button>
        </div>
    </div>

    <!-- ================= Begin Content ================= -->
    <router-outlet></router-outlet>
    <!-- ================= End Content ================= -->

</div>