<p>
    reg-edi-par works!
</p>
<!-- ================= Begin Formulario de Registro/Edición de Participantes ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <div>
                    <h4>{{accion}} Participante</h4>
                </div>
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El Participante "{{ mensajeExito }}" ha sido registrado Exitosamente.!!!
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regParticipante()">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="paterno" class="font-weight-bold">Ap. Paterno</label>
                        <input type="text" class="form-control" id="paterno" placeholder="Ap. Paterno" formControlName="paterno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="materno" class="font-weight-bold">Ap. Materno</label>
                        <input type="text" class="form-control" id="materno" placeholder="Ap. Materno" formControlName="materno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="pnombre" class="font-weight-bold">Primer Nom.</label>
                        <input [ngClass]="{'is-invalid': !forma.controls['pri_nombre'].valid}" type="text" class="form-control" id="pnombre" placeholder="Primer Nombre" formControlName="pri_nombre">
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.required">Un nombre es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.minlength">Mínimo de 2 caracteres.</small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="snombre" class="font-weight-bold">Segundo Nom.</label>
                        <input type="text" class="form-control" id="snombre" placeholder="Segundo Nombre" formControlName="seg_nombre">
                    </div>
                </div>

                <div class="form-row border-bottom">
                    <div class="form-group col-md-5">
                        <label for="email" class="font-weight-bold">Correo (Email)</label>
                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico" formControlName="email">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="celular" class="font-weight-bold">Celular</label>
                        <input type="number" class="form-control" id="celular" placeholder="Celular" formControlName="celular">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de Participantes ================= -->