<p>
    avisos works!
</p>
<div class="carousel-item active" style="overflow:auto;position: relative;">
    <img class="d-block w-100" src="../../../../assets/img/slbienvenidos.jpg" alt="Bienvenidos" style="">
    <div class="" style="position: absolute;bottom: 0;left: 0;height: 40%;width: 100%; background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 17%,rgba(0,0,0,0.75) 57%,rgba(0,0,0,0.75) 88%,rgba(0,0,0,0.75) 100%);">
        <div style="height: 100%;width: 100%" class="d-flex align-items-end pb-5">
            <div>
                <h1 class="text-uppercase" style="color: white">BIENVENIDOS AL IPICOM</h1>
                <h4 class="mb-0; aqffsr" style="color: white;font-size: 1.3rem">Rigor académico, honestidad intelectual, generar conocimiento hacer accesible este y el preexistente por medio de espacios, acciones de promocion, debate y difusión. </h4>
            </div>
        </div>

    </div>
    <!-- <a href="noticeipi.html" class="aqsltxbg aqsltx carousel-caption d-none d-md-block" style="position: absolute;left: 0px;top: 0px;z-index: -1;">
        <h1 class="text-uppercase">BIENVENIDOS AL IPICOM</h1>
        <h4 class="mb-0">Rigor académico, honestidad intelectual, generar conocimiento hacer accesible este y el preexistente por medio de espacios, acciones de promocion, debate y difusión. </h4>
    </a> -->
</div>