<p>
    list-docinv works!
</p>
<!-- ================= Begin Lista de DocentesPorConvocatoria ================= -->
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Docentes Investigadores de la Gestion {{this.gestion}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','investigacion','convocatorias', gestion,'docentes-investigadores','nuevo']" type="button" class="btn btn-primary">Registrar</button>
        </div>
    </div>

    <div class="mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensajeError }}, {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <table class="table table-bordered" *ngIf="!mensaje">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Apellidos y Nombres</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Investigaciones</th>
                    <th scope="col" style="width: 5%">Nueva Inv.</th>
                    <th scope="col" style="width: 10%">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of ussInvestigadores; index as i">
                    <th scope="row" class="text-center">{{i+1}}</th>
                    <td>{{usuario.pri_nombre}} {{usuario.seg_nombre}} {{usuario.paterno}} {{usuario.materno}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>
                        <div class="input-group mb-1" *ngFor="let proyecto of proyectosPorDocente[i]; index as ii">
                            <input style="background-color: #fcfcfc" type="text" class="form-control" readonly [value]="proyecto.titulo" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button data-toggle="modal" data-target="#ModalProyecto" (click)="elimodalProyecto(usuario, proyecto, i, ii)" class="btn btn-outline-info" type="button">Eliminar</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button [routerLink]="['/admin','investigacion','convocatorias', gestion,'docentes-investigadores', usuario.username,'proyectos-investigacion', 'nuevo']" type="button" class="btn btn-info">Registrar</button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button [routerLink]="['/admin','investigacion','convocatorias', gestion,'docentes-investigadores', usuario.username ]" type="button" class="btn btn-primary">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#ModalInvestigadores" (click)="elimodal(usuario, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal Investigador ================= -->
    <div class="modal fade" id="ModalInvestigadores" tabindex="-1" role="dialog" aria-labelledby="ModalInvestigadoresLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalInvestigadoresLabel">Esta seguro de {{quitarEliminar}} al Docente Investigador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{usuario.investigador.grado}} {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                    <div class="mt-2">
                        <span class="font-weight-bold">Nota:</span> Se eliminaran los proyectos asociados a este docente investigador.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarDocenteInv()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal Investigador ================= -->

    <!-- ================= Begin Modal Proyecto ================= -->
    <div class="modal fade" id="ModalProyecto" tabindex="-1" role="dialog" aria-labelledby="ModalProyectoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalProyectoLabel">Esta seguro de {{quitarEliminarProyecto}} el Proyecto de Investigacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body" *ngIf="proyecto">
                    <div>
                        {{proyecto.titulo}}
                    </div>
                    <div>
                        de: {{usuario.investigador.grado}} {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarProyecto()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal Proyecto ================= -->

</div>
<!-- ================= End Lista de DocentesPorConvocatoria ================= -->