<!-- ================= Begin Formulario de Registro/Edición de Estudiantes ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <div>
                    <h4>{{accion}} Estudiante</h4>
                </div>
                <div>
                    <h4>{{forma.controls['paterno'].value[0]}}{{forma.controls['materno'].value[0]}}{{forma.controls['pri_nombre'].value[0]}}{{forma.controls['ci'].value}}</h4>
                </div>
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El Estudiante {{ mensajeExito }} ha sido registrado Exitosamente.!!!
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regEstudiante()">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="paterno" class="font-weight-bold">Ap. Paterno</label>
                        <input type="text" class="form-control" id="paterno" placeholder="Ap. Paterno" formControlName="paterno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="materno" class="font-weight-bold">Ap. Materno</label>
                        <input type="text" class="form-control" id="materno" placeholder="Ap. Materno" formControlName="materno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="pnombre" class="font-weight-bold">Primer Nom.</label>
                        <input [ngClass]="{'is-invalid': !forma.controls['pri_nombre'].valid}" type="text" class="form-control" id="pnombre" placeholder="Primer Nombre" formControlName="pri_nombre">
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.required">Un nombre es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.minlength">Mínimo de 2 caracteres.</small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="snombre" class="font-weight-bold">Segundo Nom.</label>
                        <input type="text" class="form-control" id="snombre" placeholder="Segundo Nombre" formControlName="seg_nombre">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="d-flex flex-row">
                            <label for="inputPassword4" class="font-weight-bold">Sexo</label>
                        </div>
                        <div class="pt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1" formControlName="sexo" value="Mujer">
                                <label class="form-check-label" for="inlineRadio1">Mujer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2" formControlName="sexo" value="Hombre">
                                <label class="form-check-label" for="inlineRadio2">Hombre</label>
                            </div>
                        </div>
                        <small class="form-text text-danger" *ngIf="forma.controls['sexo'].errors?.required">Es necesario.</small>
                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword5" class="font-weight-bold">Nacionalidad</label>
                        <div class="pt-2">
                            <div class="form-check form-check-inline">
                                <input [checked]="true" (click)="nacionalidad ='Boliviano'" class="form-check-input" type="radio" name="nacionalidad" id="inlineRadio3" formControlName="nacionalidad" value="Boliviano">
                                <label class="form-check-label" for="inlineRadio3">Boliviano/a</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input (click)="nacionalidad ='Extranjero'" class="form-check-input" type="radio" name="nacionalidad" id="inlineRadio4" formControlName="nacionalidad" value="Extranjero">
                                <label class="form-check-label" for="inlineRadio4">Extranjero</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'col-md-3': nacionalidad=='Boliviano','col-md-2': nacionalidad=='Extranjero'}">
                        <label for="ci" class="font-weight-bold" *ngIf="nacionalidad=='Boliviano'">Carnet de Identidad</label>
                        <label for="ci" class="font-weight-bold" *ngIf="nacionalidad=='Extranjero'">N° Documento</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.controls['ci'].valid}" id="ci" placeholder="Número de CI" formControlName="ci">
                        <small class="form-text text-danger" *ngIf="forma.controls['ci'].errors?.required">Es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['ci'].errors?.minlength">Mínimo de 5 digitos.</small>
                    </div>

                    <div class="form-group col-md-1" *ngIf="nacionalidad=='Boliviano'">
                        <label for="extendido" class="font-weight-bold">Ext. en:</label>
                        <select class="form-control" formControlName="extendido">
                            <option *ngFor="let cod of cod_deptos" [ngValue]="cod">
                                {{ cod }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-2" *ngIf="nacionalidad=='Extranjero'">
                        <label for="extendido" class="font-weight-bold">Exp. en País-Región:</label>
                        <input type="text" class="form-control" id="extendido" placeholder="" formControlName="extendido">
                        <small class="form-text text-danger" *ngIf="forma.controls['extendido'].errors?.required">Es necesario.</small>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="fec_nacimiento" class="font-weight-bold">Fec. de Nacimiento</label>
                        <input type="date" class="form-control" id="fec_nacimiento" placeholder="Fec. Nacimiento" formControlName="fec_nacimiento">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="reg_universitario" class="font-weight-bold">Reg. Universitario</label>
                        <input type="text" class="form-control" id="reg_universitario" placeholder="Reg. Universitario" formControlName="reg_universitario">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email" class="font-weight-bold">Correo (Email)</label>
                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico" formControlName="email">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="celular" class="font-weight-bold">Celular</label>
                        <input type="text" class="form-control" id="celular" placeholder="Celular" formControlName="celular">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="telefono" class="font-weight-bold">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" formControlName="telefono">
                    </div>
                </div>

                <div class="form-row">
                    <label class="font-weight-bold">Domicilio</label>
                </div>

                <div class="form-row border-bottom">
                    <div class="form-group col-md-3">
                        <label for="dciudad" class="font-weight-bold">Ciudad</label>
                        <input type="text" class="form-control" id="dciudad" placeholder="Ciudad" formControlName="dom_ciudad">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dzona" class="font-weight-bold">Zona</label>
                        <input type="text" class="form-control" id="dzona" placeholder="Zona" formControlName="dom_zona">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dcalle" class="font-weight-bold">Avenida/Calle</label>
                        <input type="text" class="form-control" id="dcalle" placeholder="Avenida o Calle" formControlName="dom_calle">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="numero" class="font-weight-bold">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="dom_numero">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="otro" class="font-weight-bold">Otro</label>
                        <input type="text" class="form-control" id="otro" placeholder="Número" formControlName="dom_otro">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="back()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de Estudiantes ================= -->