<p>
    reg-edi-eve works!
</p>
<!-- ================= Begin Formulario de Registro/Edición de EventoInteraccion ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <div>{{forma.valid}}
                    <h4>{{accion}} Evento</h4>
                </div>
                <img class="img-fluid" alt="">
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El Evento {{ mensajeExito }} ha sido registrada Exitosamente.!!!
                <!-- La noticia {{ mensajeExito | slice: 0: 20 }}... ha sido registrada Exitosamente.!!! -->
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regEvento()">

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-8">
                        <label for="titulo" class="font-weight-bold">Título</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Título" formControlName="titulo">
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="exampleFormControlFile1" [ngClass]="{'font-weight-bold': id !== 'nuevo'}">{{cambiarFoto}} Fotografías</label>
                        <input type="file" (change)="selimg( $event.target.files)" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFile1" multiple>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-12">
                        <label for="descripcion_capacitador" class="font-weight-bold"> Capacitador - Descripción del mismo (no es obligatorio)</label>
                        <input type="text" class="form-control" id="descripcion_capacitador" placeholder="Ej. Dicta: PhD. Erick Torrico - Docente investigador del IpiCOM" formControlName="descripcion_capacitador">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12 col-md-4">
                        <label for="tipo" class="font-weight-bold">Tipo</label>
                        <input type="text" class="form-control" id="tipo" placeholder="Intr. congreso, seminario, tertulia, taller, cátedra u otro " formControlName="tipo">
                    </div>
                    <div class="form-group col-12 col-md-3">
                        <label for="fecha" class="font-weight-bold">Fecha</label>
                        <input type="datetime-local" class="form-control" id="fecha" placeholder="Fecha de Publicación" formControlName="fecha">
                    </div>
                    <div class="form-group col-12 col-md-5">
                        <label for="lugar" class="font-weight-bold">Lugar</label>
                        <input type="text" class="form-control" id="lugar" placeholder="Dirección del lugar donde se llevara a cabo el evento" formControlName="lugar">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="dirigido_a" class="font-weight-bold">Dirigido a </label>
                        <input type="text" class="form-control" id="dirigido_a" placeholder="A quienes va dirigido el evento, tipo de audiencia" formControlName="dirigido_a">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="entrada" class="font-weight-bold">Entrada</label>
                        <input type="text" class="form-control" id="entrada" placeholder="Costo de la entrada" formControlName="entrada">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="auspiciadores" class="font-weight-bold">Auspiciadores</label>
                        <input type="text" class="form-control" id="auspiciadores" placeholder="Los auspiciadores e instituciones que participan y llevan a cabo el evento" formControlName="auspiciadores">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="contactos" class="font-weight-bold">Contactos</label>
                        <input type="text" class="form-control" id="contactos" placeholder="Contactos de las instituciones para comunicarse" formControlName="contactos">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="descripcion" class="font-weight-bold">Descripción</label>
                        <textarea class="form-control" id="descripcion" placeholder="Párrafo de la Evento" rows="15" formControlName="descripcion"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                    <!-- CORREGIR <button [disabled]="!forma.valid || nombreImagen === ''" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de EventoInteraccion ================= -->