<p>
    principal works!
</p>

<!-- ================= Begin Alertas Exitos Error ================= -->
<div class="alert alert-danger" *ngIf="mensajeError" role="alert">
    {{ mensajeError }}
</div>
<!-- ================= End Alertas Exitos Error ================= -->
<!-- ================= Begin Alertas Exitos Error ================= -->
<!-- <div class="alert alert-warning" *ngIf="mensaje" role="alert">
    {{ mensaje }}
</div> -->
<!-- ================= End Alertas Exitos Error ================= -->
<h3>Cambiar Contraseña</h3>
<form [formGroup]="forma" (ngSubmit)="cambiarContrasena()">
    <div class="modal-body">
        <div class="form-group row">
            <label for="oldpass" class=" pr-0 col-form-label d-flex justify-content-end">C.I.</label>
            <div class="">
                <input type="text" class="form-control" id="oldpass" placeholder="Password" formControlName="oldpass">
            </div>
            <button (click)="buscarUsuario()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        <!-- ================= Begin  ================= -->
        <div class="alert alert-primary" role="alert" *ngIf="idUsuario">
            {{ mensaje }}
        </div>
        <!-- ================= End  ================= -->
        <div class="form-group row">
            <label for="email" class=" pr-0 col-form-label d-flex justify-content-end">Email</label>
            <div class="">
                <input type="text" class="form-control" id="email" formControlName="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="newpass" class=" pr-0 col-form-label d-flex justify-content-end">Nueva contraseña</label>
            <div class="">
                <input type="text" class="form-control" id="newpass" placeholder="Password" formControlName="newpass">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="!forma.valid" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>