<!-- ================= Begin UInteraction ================= -->

<div class="row mx-0 justify-content-center aqtiint">
    <h1 class=" col-12 text-center" style="font-family: PT_Sans-Web-Bold">EVENTOS A REALIZARSE</h1>
    <h2 class=" col-12 text-center" style="font-family: PT_Sans-Web-Regular">Eventos que se desarrollaran</h2>
</div>

<!-- ================= Begin UpcomingEvents ================= -->
<div class="row mx-0 aquie">

    <!-- ================= Begin Event ================= -->
    <div class="mb-4 col-12 col-sm-4 col-xl-4" *ngFor="let evento of eventosUlt">
        <div class="aqboev">
            <a [routerLink]="['/interaction','events', evento.titulo | rempEsp]">
                <div class="aqposrel">
                    <div>
                        <img [src]="evento.imgpath | seleccionaImagen:'inteEventos':1" class="img-fluid">
                    </div>
                    <div>
                        <div class="p-2 aqfeint">
                            <h5 class="m-0 text-uppercase">{{evento.fecha | date: 'dd - MMM | h : mm a'}}</h5>
                        </div>
                    </div>
                </div>
                <div class="p-4">
                    <h3 class="aqffsr" style="color: #c00000">{{evento.tipo}}</h3>
                    <p>{{evento.titulo}}. {{evento.descripcion | slice:0:53}}...</p>
                </div>
            </a>
        </div>
    </div>
    <!-- ================= End Event ================= -->
</div>
<!-- ================= End UpcomingEvents ================= -->

<!-- ================= Begin UInteractionAbstract ================= -->
<div class="aqpx">
    <div class="col-12 px-0" style="border: solid #f8f9fa;">
        <div class="aqpinfinv">
            <h1 class="aqcon90 aqtxcoresf">{{uInteraccion.nombre}}</h1>
            <h3>{{uInteraccion.descripcion}}</h3>
            <hr>
            <h5 class="aqffsi">{{uInteraccion.invitacion}}</h5>
        </div>
    </div>
</div>
<!-- ================= End UInteractionAbstract ================= -->
<!-- ================= Begin UInteractionAbstract ================= -->
<!-- <div class="aqpx aqmt20">
    <div class="col-12 px-0" style="border: solid #f8f9fa;">
        <div class="aqpinfinv">
            <h1 class="aqcon90 aqtxcoresf">{{uInteraccion.linea}}</h1>
            <h3 *ngFor="let parrafo of parrafos">{{parrafo}}</h3>
            <hr>
        </div>
    </div>
</div> -->
<!-- ================= End UInteractionAbstract ================= -->
<!-- ================= Begin InterLines ================= -->
<div class="aqpx aqmt20">
    <div class="row mx-0 aqpx py-4 aqpinfinv">
        <div class="col-12 col-lg-4 px-0">
            <h1 class="mb-0 text-uppercase" style="line-height: 1.1">{{uInteraccion.linea}}</h1>
        </div>
        <div class="col-12 col-lg-8 d-flex mb-1">
            <div class="aqlininv  align-self-end">
                <span *ngFor="let parrafo of parrafos">{{parrafo}} <br></span>
            </div>
        </div>
    </div>
</div>
<!-- ================= End InterLines ================= -->

<!-- ================= Begin PastEvents ================= -->
<div class="mt-4 aqpx">
    <div class="row mx-0">
        <div class="col-12 px-0 aqtxcoresf">
            <h2 class="aqffsr">Eventos que se desarrollaron recientemente</h2>
        </div>

        <!-- ================= Begin PastEvents ================= -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let evento of eventos">
            <div class="border m-1 mt-3">
                <a [routerLink]="['/interaction','events', evento.titulo | rempEsp]">
                    <div class="aqposrel">
                        <div>
                            <img [src]="evento.imgpath | seleccionaImagen:'inteEventos':1" class="img-fluid">
                        </div>
                        <div>
                            <div class="p-2 aqfeint">
                                <h5 class="m-0 text-uppercase">{{evento.fecha | date: 'dd - MMM | h : mm a'}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <h3 class="aqffsr" style="color: #c00000">{{evento.tipo}}</h3>
                        <p>{{evento.titulo}}. {{evento.descripcion | slice:0:216}}...</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- ================= End PastEvents ================= -->

    </div>
</div>
<!-- ================= End PastEvents ================= -->
<div class="text-right mt-4 aqpx">
    <a [routerLink]="['/interaction','events']" class="aqlihov aqtxcoresf">Todas las Actividades</a>
</div>

<!-- ================= End UInteraction ================= -->