<!-- ================= Begin OpcionesCrear ================= -->
<!-- <div class="row mx-0">
    <div class="w-25">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="w-25">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="w-25">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="w-25">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</div> -->
<!-- ================= End OpcionesCrear ================= -->
<!-- ================= Begin ME ================= -->
<div class="row mx-0 border">
    <div class="col-3 px-3  my-3">
        <div class="border">
            <div class="border-bottom">arriba</div>
            <div>abajo</div>
        </div>
    </div>
    <div class="col-3 px-3  my-3">
        <div class="border">
            <div class="border-bottom">arriba</div>
            <div>abajo</div>
        </div>
    </div>
    <div class="col-3 px-3  my-3">
        <div class="border">
            <div class="border-bottom">arriba</div>
            <div>abajo</div>
        </div>
    </div>
    <div class="col-3 px-3  my-3">
        <div class="border">
            <div class="border-bottom">arriba</div>
            <div>abajo</div>
        </div>
    </div>
</div>
<!-- ================= End ME ================= -->