<p>
    reg-edi-doc works
</p>
<!-- ================= Begin Formulario de Registro/Edición de Docentes ================= -->
<div style="background-color: #ecf0f5">
    <div class="container py-5">
        <!-- <div class="container pb-5"> -->
        <!-- <div class="row mx-0 border d-flex justify-content-between">
            <div class="">
                <h3></h3>
            </div>
            <div class="d-flex">
                <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
                <div style="width: 0.5rem"></div>
                <button [routerLink]="['/admin','posgrado','cursos','nuevo']" type="button" class="btn btn-primary">Registrar</button>
            </div>
        </div> -->
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom mb-3 d-flex justify-content-between">
                <div class="d-flex">
                    <h4 class="mr-3">{{accion}} Docente</h4>
                    <div class="custom-control custom-checkbox aqpointer" *ngIf="username === 'nuevo'">
                        <input type="checkbox" class="custom-control-input aqpointer" id="customCheck1" value="docExistente" (change)="docExistente = !docExistente">
                        <label class="custom-control-label aqpointer align-middle" for="customCheck1">Asignar docente ya registrado</label>
                    </div>
                </div>
                <div>
                    <h4>{{forma.controls['paterno'].value[0]}}{{forma.controls['materno'].value[0]}}{{forma.controls['pri_nombre'].value[0]}}{{forma.controls['ci'].value}}</h4>
                </div>
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El Docente {{ mensajeExito }} ha sido registrado Exitosamente.!!!
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="registrarDocente()" *ngIf="!docExistente">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="paterno" class="font-weight-bold">Ap. Paterno</label>
                        <input type="text" class="form-control" id="paterno" placeholder="Ap. Paterno" formControlName="paterno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="materno" class="font-weight-bold">Ap. Materno</label>
                        <input type="text" class="form-control" id="materno" placeholder="Ap. Materno" formControlName="materno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="pnombre" class="font-weight-bold">Primer Nom.</label>
                        <input [ngClass]="{'is-invalid': !forma.controls['pri_nombre'].valid}" type="text" class="form-control" id="pnombre" placeholder="Primer Nombre" formControlName="pri_nombre">
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.required">Un nombre es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.minlength">Mínimo de 2 caracteres.</small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="snombre" class="font-weight-bold">Segundo Nom.</label>
                        <input type="text" class="form-control" id="snombre" placeholder="Segundo Nombre" formControlName="seg_nombre">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="d-flex flex-row">
                            <label for="inputPassword4" class="font-weight-bold">Sexo</label>
                        </div>
                        <div class="pt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1" formControlName="sexo" value="Mujer">
                                <label class="form-check-label" for="inlineRadio1">Mujer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2" formControlName="sexo" value="Hombre">
                                <label class="form-check-label" for="inlineRadio2">Hombre</label>
                            </div>
                        </div>
                        <small class="form-text text-danger" *ngIf="forma.controls['sexo'].errors?.required">Es necesario.</small>
                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword5" class="font-weight-bold">Nacionalidad</label>
                        <div class="pt-2">
                            <div class="form-check form-check-inline">
                                <input [checked]="true" (click)="nacionalidad ='Boliviano'" class="form-check-input" type="radio" name="nacionalidad" id="inlineRadio3" formControlName="nacionalidad" value="Boliviano">
                                <label class="form-check-label" for="inlineRadio3">Boliviano/a</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input (click)="nacionalidad ='Extranjero'" class="form-check-input" type="radio" name="nacionalidad" id="inlineRadio4" formControlName="nacionalidad" value="Extranjero">
                                <label class="form-check-label" for="inlineRadio4">Extranjero</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'col-md-3': nacionalidad=='Boliviano','col-md-2': nacionalidad=='Extranjero'}">
                        <label for="ci" class="font-weight-bold" *ngIf="nacionalidad=='Boliviano'">Carnet de Identidad</label>
                        <label for="ci" class="font-weight-bold" *ngIf="nacionalidad=='Extranjero'">N° Documento</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.controls['ci'].valid}" id="ci" placeholder="Número de CI" formControlName="ci">
                        <small class="form-text text-danger" *ngIf="forma.controls['ci'].errors?.required">Es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['ci'].errors?.minlength">Mínimo de 5 digitos.</small>
                    </div>

                    <div class="form-group col-md-1" *ngIf="nacionalidad=='Boliviano'">
                        <label for="extendido" class="font-weight-bold">Ext. en:</label>
                        <select class="form-control" formControlName="extendido">
                            <option *ngFor="let cod of cod_deptos" [ngValue]="cod">
                                    {{ cod }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-2" *ngIf="nacionalidad=='Extranjero'">
                        <label for="extendido" class="font-weight-bold">Exp. en País-Región:</label>
                        <input type="text" class="form-control" id="extendido" placeholder="" formControlName="extendido">
                        <small class="form-text text-danger" *ngIf="forma.controls['extendido'].errors?.required">Es necesario.</small>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="fnacimiento" class="font-weight-bold">Fec. de Nacimiento</label>
                        <input type="date" class="form-control" id="fnacimiento" placeholder="Fec. Nacimiento" formControlName="fec_nacimiento">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="reg_docente" class="font-weight-bold">Reg. Docente</label>
                        <input type="text" class="form-control" id="reg_docente" placeholder="Cargo" formControlName="reg_docente">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email" class="font-weight-bold">Correo (Email)</label>
                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico" formControlName="email">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="celular" class="font-weight-bold">Celular</label>
                        <input type="text" class="form-control" id="celular" placeholder="Celular" formControlName="celular">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="telefono" class="font-weight-bold">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" formControlName="telefono">
                    </div>
                </div>

                <div class="form-row">
                    <label class="font-weight-bold">Domicilio</label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="dciudad" class="font-weight-bold">Ciudad</label>
                        <input type="text" class="form-control" id="dciudad" placeholder="Ciudad" formControlName="dom_ciudad">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dzona" class="font-weight-bold">Zona</label>
                        <input type="text" class="form-control" id="dzona" placeholder="Zona" formControlName="dom_zona">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dcalle" class="font-weight-bold">Avenida/Calle</label>
                        <input type="text" class="form-control" id="dcalle" placeholder="Avenida o Calle" formControlName="dom_calle">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="numero" class="font-weight-bold">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="dom_numero">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="otro" class="font-weight-bold">Otro</label>
                        <input type="text" class="form-control" id="otro" placeholder="Número" formControlName="dom_otro">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-9">
                        <label for="exampleFormControlFile1" [ngClass]="{'font-weight-bold': username !== 'nuevo'}">{{cambiarFoto}} Imagen</label>
                        <input type="file" (change)="selimg( $event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group col-3">
                        <label for="grado" class="font-weight-bold">Grado</label>
                        <input type="text" class="form-control" id="grado" placeholder="Sra./Sr." formControlName="grado">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="descripcion" class="font-weight-bold">Describa estudios y desempeño laboral</label>
                        <textarea class="form-control" id="descripcion" placeholder="Describa la vida profesional del Docente" rows="17" formControlName="descripcion"></textarea>
                    </div>
                </div>
                <div class="form-row border-bottom">
                    <div class="form-group col-12">
                        <label for="resena" class="font-weight-bold">Reseña Profesional</label>
                        <textarea class="form-control" id="resena" placeholder="Encabezado del profesional" rows="5" formControlName="resena"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                </div>
            </form>

            <form [formGroup]="forma1" *ngIf="docExistente">
                <div class="form-row">
                    <label class="font-weight-bold">Profesor</label>
                </div>
                <div class="form-row border-bottom">
                    <div class="form-group col-12">
                        <label for="docenteId">Elija Profesor</label>
                        <select (change)="selectElegido($event.target.value)" class="form-control" formControlName="control1">
                            <option *ngFor="let usuario of ussDocentes" [ngValue]="usuario.id">
                                {{ usuario.docente.grado }} {{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}, registro docente: {{usuario.docente.reg_docente}}, email: {{usuario.email}}, celular: {{usuario.celular}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button (click)="registrarDocenteExistente()" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                    <!-- <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button> -->
                </div>
            </form>

        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de Docentes ================= -->