<p>
    list-est works!
</p>
<div class="container-fluid border py-4" *ngIf="modulo">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Estudiantes del Módulo: {{ modulo.numero }}. {{ modulo.nombre }} de la {{sigla}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes','nuevo']" type="button" class="btn btn-primary">Registrar Nuevo Estudiante</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes','Agregar-Estudiantes']" type="button" class="btn btn-primary">Agregar Estudiante(s) Existente(s)</button>
            <div style="width: 0.5rem"></div>
            <button type="button" class="btn btn-primary" [disabled]="mensaje" (click)="generarPDF()">Imprimir</button>
        </div>
    </div>

    <div class=" mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-danger" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <table class="table table-bordered" *ngIf="!mensaje">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Apellidos y Nombres</th>
                    <th scope="col">Reg. Universitario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of ussEstudiantes; index as i">
                    <th scope="row" class="text-center">{{i+1}}</th>
                    <td>{{usuario.paterno}} {{usuario.materno}} {{usuario.pri_nombre}} {{usuario.seg_nombre}} </td>
                    <td>{{usuario.estudiante.reg_universitario}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>
                        <div class="d-flex">
                            <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes', usuario.username ]" type="button" class="btn btn-primary">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#ModalEstudiante" (click)="elimodal(usuario, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalEstudiante" tabindex="-1" role="dialog" aria-labelledby="ModalEstudianteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEstudianteLabel">Esta seguro de eliminar al </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                    <div>
                        C.I. {{usuario.ci}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarEstudiante()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->

</div>