<p>
    eventos works!
</p>

<div class="container-fluid border"><br>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Lista de Eventos</h3>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
            <button [routerLink]="['/admin','interaccion','eventos','nuevo']" type="button" class="btn btn-primary m-1">Registrar</button>
            <!-- <button type="button" class="btn btn-primary m-1" (click)="generarPDF()">Imprimir</button> -->
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="alert alert-warning" *ngIf="mensaje" role="alert">
        {{ mensaje }}
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <!-- ================= Begin Alertas Exitos Error ================= TODO TODO TODO TODO TODO TODO TODO -->
    <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
        {{ mensajeError }}
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="border mt-4">
        <table class="table table-bordered" *ngIf="!mensajeError">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventos; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.fecha | date:'short' }}</td>
                    <td>
                        <div class="d-flex">
                            <button type="button" [routerLink]="['/admin','interaccion','eventos', evento.id, 'participantes']" class="btn btn-secondary">Inscritos</button>
                            <div style="width: 0.25rem"></div>
                            <button [routerLink]="['/admin','interaccion','eventos', evento.id]" type="button" class="btn btn-warning">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#eventoModal" (click)="elimodal(evento, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="eventoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventoModalLabel">Esta seguro de eliminar el Evento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="evento!=null">
                    <div>
                        {{ evento.titulo }}
                    </div>
                    <div>
                        De fecha: {{ evento.fecha | slice:0:10 }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliEvento()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->

</div>