<p>
    interaccion works!
</p>
<div class="border mx-2">
    <div class="row m-3">
        <h2>
            Bienvenido al IpiCOM!
        </h2>
    </div>

    <div class="row mx-0">
        <div class="col-12 col-md-6 px-0">
            <div class="m-3 text-white" style="position: relative;">
                <div class="rounded-top pt-3 px-3 pb-1" style="background-color: #3f5a73">
                    <h1 class="mb-0">{{numEventos}}</h1>
                    <h3>Eventos</h3>
                </div>
                <div class="p-3" style="position: absolute;top: 12px;right: 12px;" class="icon">
                    <img width="70px" height="70px" src="../../../assets/svg/calendar.svg" alt="img-events">
                </div>
                <div [routerLink]="['/admin','interaccion','eventos']" class=" aqpointer rounded-bottom px-3 py-1" style="background-color: #364d63">Más información</div>
            </div>
        </div>

        <div class="col-12 col-md-6 px-0">
            <div class="m-3 text-white" style="position: relative;">
                <div class="rounded-top pt-3 px-3 pb-1" style="background-color: #e95949">
                    <h1 class="mb-0">{{numParticipantes}}</h1>
                    <h3>Participantes</h3>
                </div>
                <div class="p-3" style="position: absolute;top: 12px;right: 12px;" class="icon">
                    <img width="70px" height="70px" src="../../../assets/svg/organization.svg" alt="img-attendants">
                </div>
                <div [routerLink]="['/admin','interaccion','participantes']" class=" aqpointer rounded-bottom px-3 py-1" style="background-color: #d05649">Más información </div>
            </div>
        </div>

    </div>
    <div class="row m-3">
        <h2>
            Pagina!
        </h2>
    </div>
    <div class="row m-3">
        <div class="nav flex-column nav-pills border col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-uInvestigation-tab" data-toggle="pill" href="#v-pills-uInvestigation" role="tab" aria-controls="v-pills-uInvestigation" aria-selected="true">Unidades</a>
            <!-- <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="false">UInvestigacion</a>
            <a class="nav-link" id="v-pills-video-tab" data-toggle="pill" href="#v-pills-video" role="tab" aria-controls="v-pills-video" aria-selected="false">Video</a>
            <a class="nav-link" id="v-pills-networks-tab" data-toggle="pill" href="#v-pills-networks" role="tab" aria-controls="v-pills-networks" aria-selected="false">Redes</a>
            <a class="nav-link" id="v-pills-contacts-tab" data-toggle="pill" href="#v-pills-contacts" role="tab" aria-controls="v-pills-contacts" aria-selected="false">Contactos</a>
            <a class="nav-link" id="v-pills-offices-tab" data-toggle="pill" href="#v-pills-offices" role="tab" aria-controls="v-pills-offices" aria-selected="false">Oficinas</a>
            <a class="nav-link" id="v-pills-resources-tab" data-toggle="pill" href="#v-pills-resources" role="tab" aria-controls="v-pills-resources" aria-selected="false">Recursos</a> -->
        </div>
        <div class="tab-content border col-10" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-uInvestigation" role="tabpanel" aria-labelledby="v-pills-uInvestigation-tab">
                <!-- ================= Begin ContentPageInvestigation ================= -->
                <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
                    <div class="border-bottom  mb-3 d-flex justify-content-between">
                        <div>
                            <h4>Contenido</h4>
                        </div>
                        <img class="img-fluid" alt="">
                    </div>
                    <!-- ================= Begin Alertas Exitos Error ================= -->
                    <div class="alert alert-warning" *ngIf="mensaje" role="alert">
                        {{ mensaje }}
                    </div>
                    <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                        "{{ mensajeExito }}"" actualizado correctamente.!!!
                    </div>
                    <!-- ================= End Alertas Exitos Error ================= -->
                    <form [formGroup]="formaUInteraccion" (ngSubmit)="actUInteraccion()">

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="nombre">Nombre</label>
                                <input style="background-color: #fcfcfc" type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="descripcion">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" placeholder="Descripción (sugerido menos de 35 palabras)" formControlName="descripcion">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="linea">Línea</label>
                                <input type="text" class="form-control" id="linea" placeholder="Líneas de Investigación" formControlName="linea">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="lineas">Líneas</label>
                                <textarea class="form-control" id="lineas" placeholder="Describa las líneas de Investigación" rows="3" formControlName="lineas"></textarea>
                                <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$, Ej. $$Objetivos del IpiCOM</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="invitacion">Invitación</label>
                                <input type="text" class="form-control" id="invitacion" placeholder="Palabras de invitación" formControlName="invitacion">
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <!-- <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button> -->
                            <button [disabled]="!formaUInteraccion.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                        </div>
                    </form>
                </div>
                <!-- ================= End ContentPageInvestigation ================= -->

            </div>

        </div>

    </div>
</div>

<div><a [routerLink]="['/admin','interaccion','eventos']">Eventos</a></div>
<div><a [routerLink]="['/admin','interaccion','participantes']">Participantes</a></div>