<p>
    auxiliares-investigadores works!
</p>
<!-- ================= Begin Assistant   ================= -->
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Auxiliares: eliga una Gestión</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <!-- <button [routerLink]="['/admin','posgrado','cursos','nuevo']" type="button" class="btn btn-primary">Registrar</button> -->
        </div>
    </div>

    <div class="mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="mx-3 alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->
        <div class="row mx-0 d-flex" *ngIf="!mensaje">
            <div class="card d-inline-flex mx-3 my-2 aqpointer" [routerLink]="['/admin','investigacion','convocatorias', convocatoria.gestion,'auxiliares-investigadores']" *ngFor="let convocatoria of convocatorias; index as i">
                <div class="card-header" style="height: 2.5rem"> </div>
                <div class="card-body">
                    <h5 class="card-title">Gestión {{convocatoria.gestion}}</h5>
                    <p class="card-text">Ejes Temáticos {{ convocatoria.ejes_tematicos }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================= End Assistant ================= -->