<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6 m-5 border border-info rounded p-5">
            <form [formGroup]="forma" (ngSubmit)="loginUser()">
                <h3 class="text-center">INGRESAR</h3>
                <div class="form-group">
                    <label for="nombre" class="font-weight-bold">Usuario</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Usuario *" formControlName="username">
                    <small id="nombreHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="font-weight-bold">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password *" formControlName="password">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="mensajeError">
                    {{mensajeError}}
                </div>

                <!-- <button (click)="retrocederPagina()" type="submit" class="btn btn-secondary">Submit</button> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>