<!-- ================= Begin Formulario de Registro/Edición de Caracteristicas ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <div>
                    <h4>{{accion}} Característica</h4>
                </div>
                <img class="img-fluid" alt="">
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                La caracteristica {{ mensajeExito }} ha sido registrada Exitosamente.!!!
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regCaracteristica()">

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="nombre" class="font-weight-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="resumen" class="font-weight-bold">Resumen</label>
                        <input type="text" class="form-control" id="resumen" placeholder="Resumen (sugerido menos de 35 palabras)" formControlName="resumen">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-7">
                        <label for="exampleFormControlFile1" [ngClass]="{'font-weight-bold': nombre !== 'nueva'}">{{cambiarFoto}} Imagen</label>
                        <input type="file" (change)="selimg( $event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="descripcion" class="font-weight-bold">Descripción</label>
                        <textarea class="form-control" id="descripcion" placeholder="Párrafo de la Caracteristica" rows="15" formControlName="descripcion"></textarea>
                        <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$, Ej. $$Objetivos del IpiCOM</small>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid || (nombreImagen === '' && caracteristica.imgpath === '')" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de Caracteristicas ================= -->