<p>
    list-asi works!
</p>
<div class="container-fluid border py-4" *ngIf="modulo">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Asistencia del Módulo: {{ modulo.nombre }} de la {{sigla}}, de {{modulo.inicio_clases | date: 'dd-MM-yyyy'}} a {{modulo.fin_clases | date: 'dd-MM-yyyy'}} </h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <!-- <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes','nuevo']" type="button" class="btn btn-primary">Registrar Nuevo Estudiante</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes','Agregar-Estudiantes']" type="button" class="btn btn-primary">Agregar Estudiante(s) Existente(s)</button> -->
            <div style="width: 0.5rem"></div>
            <button type="button" class="btn btn-primary" [disabled]="mensaje" (click)="generarPDF()">Imprimir</button>
        </div>
    </div>

    <div class="mt-4 mx-3">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-danger" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->
        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-danger" *ngIf="mensajeFecha" role="alert">
            {{ mensajeFecha }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->
        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            {{ mensajeExito }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <div class="table-responsive" *ngIf="!mensaje && carga">
            <div class="d-flex">
                <div class="mr-3 mb-1 border rounded p-2">
                    <img src="../../../../../assets/svg/check.svg" class="border-right pr-2" alt=""> Asistio o Asistió o asistio
                </div>
                <div class="mr-3 mb-1 border rounded p-2">
                    <img src="../../../../../assets/svg/x.svg" class="border-right pr-2" alt=""> Falto o falto
                </div>
                <div class="mr-3 mb-1 border rounded p-2">
                    <img src="../../../../../assets/svg/tag.svg" class="border-right pr-2" alt=""> Permiso o permiso: motivo.
                </div>
                <div class="mr-3 mb-1 border rounded p-2">
                    <img src="../../../../../assets/svg/question.svg" class="border-right pr-2" alt=""> No se registró.
                </div>
                <div class="d-flex border rounded mr-3 mb-1">
                    <div class="rounded p-2" style="background-color: #ffc107;border-color: #ffc107">
                        <img src="../../../../../assets/svg/pencil.svg" class="px-2" alt="">
                    </div>
                    <div class="p-2">
                        Editar.
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="text-center" [attr.colspan]="asistenciasPorMes[(i*3)+2]" *ngFor="let asistencia of asistenciasPorMesNumero; index as i">
                            {{asistenciasPorMes[(i*3)+1]}} - {{asistenciasPorMes[(i*3)]}}
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Apellidos y Nombres</th>
                        <th class="text-center" *ngFor="let asistencia of asistencias">{{asistencia.fecha | obtieneUnidadFecha:'dia'}}</th>
                        <th *ngIf="!editarFlag" class="border-primary bg-primary p-1">
                            <input class="form-control border-primary p-1" type="text" [(ngModel)]="asistencia.fecha">
                        </th>
                        <th *ngIf="editarFlag" class="border-warning bg-warning p-1">
                            <input class="form-control border-warning p-1" type="text" [(ngModel)]="asistenciaEditar.fecha">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of ussEstudiantes; index as i">
                        <th scope="row" class="text-center">{{i+1}}</th>
                        <td>{{usuario.pri_nombre}} {{usuario.seg_nombre}} {{usuario.paterno}} {{usuario.materno}}</td>
                        <td class="text-center" *ngFor="let asistPorEstud of asistenciasPorEstudiantes; index as ii">
                            <img [src]="'../../../../../assets/svg/' | asistencia: asistPorEstud[i].estado" alt="">
                        </td>
                        <td *ngIf="!editarFlag">
                            <input class="form-control p-1" [(ngModel)]="planillasAdicionar[i].estado">
                        </td>
                        <td *ngIf="editarFlag">
                            <input class="form-control p-1" [(ngModel)]="planillasAuxiliar[i].estado">
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td class="text-center" *ngFor="let asistencia of asistencias; index as i">
                            <button type="button" class="btn btn-warning btn-block" (click)="editarAsistencia(i)"><img src="../../../../../assets/svg/pencil.svg" alt=""></button>
                        </td>
                        <td *ngIf="!editarFlag">
                            <button (click)="registrarAsistencia()" type="button" class="btn btn-primary btn-block">Registrar</button>
                        </td>
                        <td *ngIf="editarFlag" class="d-flex ">
                            <button (click)="limpiarCampos()" type="button" class="btn btn-secondary">Cancelar</button>
                            <div style="width: 0.5rem"></div>
                            <button (click)="registrarActualizacion()" type="button" class="btn btn-primary">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- ================= Begin Modal ================= -->
    <!-- <div class="modal fade" id="ModalEstudiante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esta seguro de eliminar al </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                    <div>
                        C.I. {{usuario.ci}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarEstudiante()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ================= End Modal ================= -->

</div>



<!-- <datalist id="estados">
                            <option value="Asistio">Asistió</option>
                                <option value="Falto">Falto</option>
                        </datalist> -->

<!-- <select class="form-control border-primary" [(ngModel)]="planillasAdicionar[i].estado">
                                <option value="Asistio">Asistió</option>
                                <option value="Falto">Falto</option>
                                <option value="Permiso">Permiso</option>                                
                        </select> -->
<!-- <div style="position: absolute;top: 0; left: -93%;" class="input-group py-1" *ngIf="(planillasAdicionar[i].estado | estadoAsistencia) === 'Permiso'">
                            <input class="form-control border-primary" type="string" placeholder="Motivo">
                        </div> -->


<!-- <td *ngIf="editarFlag">
                                <input class="form-control" [(ngModel)]="planillasAuxiliar[i].estado">
        
                                <select class="form-control border-warning" [(ngModel)]="planillasAuxiliar[i].estado">
                                        <option value="Asistio">Asistió</option>
                                        <option value="Falto">Falto</option>
                                        <option value="Permiso">Permiso</option>                                
                                </select>
                            </td>
        
                            <td>
                                <div class="d-flex">
                                    <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes', usuario.username ]" type="button" class="btn btn-primary">Editar</button>
                                    <div style="width: 0.25rem"></div>
                                    <button type="button" data-toggle="modal" data-target="#ModalEstudiante" (click)="elimodal(usuario, i)" class="btn btn-danger">Eliminar</button>
                                </div>
                            </td> -->