<p>
    reg-edi-inv works!
</p>
<!-- ================= Begin Formulario de Registro/Edición de Proyectos o Publicaciones ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <!-- <div>{{forma.valid}}
                    <h4>{{accion}} Proyecto de Investigación</h4>
                </div>
                <img class="img-fluid" alt=""> -->
                <div class="d-flex">
                    <h4 class="mr-3">{{accion}} Proyecto de Investigación</h4>
                    <div class="custom-control custom-checkbox aqpointer" *ngIf="titulo === 'nuevo' && proyectosExistentes.length > 0">
                        <input type="checkbox" class="custom-control-input aqpointer" id="customCheck2" value="invExistente" (change)="invExistente = !invExistente">
                        <label class="custom-control-label aqpointer align-middle" for="customCheck2">Asignar proyecto ya registrado</label>
                    </div>
                </div>
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El proyecto de investigación {{ mensajeExito }} ha sido registrado Exitosamente.!!!
                <!-- La noticia {{ mensajeExito | slice: 0: 20 }}... ha sido registrada Exitosamente.!!! -->
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regProyecto()" *ngIf="!invExistente">

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-8">
                        <label for="titulo" class="font-weight-bold">Título</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Título" formControlName="titulo">
                    </div>

                    <div class="form-group col-4">
                        <label for="exampleFormControlFileProyecto" [ngClass]="{'font-weight-bold': nombre !== 'nueva'}">{{accion}} documento*</label>
                        <input type="file" (change)="selDocumento( $event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFileProyecto" required="true"><span *ngIf="nombreDocumento" class="aqpointer" (click)="quitarSeleccionProyecto()">X</span>
                        <small class="form-text text-danger" *ngIf="nombreDocumento === '' && accion !== 'Editar'">*Es necesario*</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-5">
                        <label for="exampleFormControlFileProyImagenes" [ngClass]="{'font-weight-bold': titulo !== 'nueva'}">{{cambiarFoto}} Fotografía</label>
                        <input type="file" (change)="selimg( $event.target.files)" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFileProyImagenes" multiple><span *ngIf="nombreImagen" class="aqpointer" (click)="quitarSeleccionImagenes()">X</span>
                    </div>
                    <div class="form-group col-12 col-md-3">
                        <label for="tipo" class="font-weight-bold">Tipo</label>
                        <input type="text" class="form-control" id="tipo" placeholder="Libro, revista, boletín u otro" formControlName="tipo">
                    </div>
                    <div class="form-group col-12 col-md-2">
                        <label for="fecha_publicacion" class="font-weight-bold">Fecha publicación</label>
                        <input type="date" class="form-control" id="fecha_publicacion" placeholder="Fecha de Publicación" formControlName="fecha_publicacion">
                    </div>
                    <div class="form-group col-12 col-md-2">
                        <label for="ambito" class="font-weight-bold">Ámbito</label>
                        <input type="text" class="form-control" id="ambito" placeholder="Social, político u educativo" formControlName="ambito">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-12">
                        <label for="presentacion" class="font-weight-bold">Presentación del proyecto</label>
                        <textarea class="form-control" id="presentacion" placeholder="Presentación del proyecto para la portada" rows="2" formControlName="presentacion"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="abstract" class="font-weight-bold">Abstract del proyecto</label>
                        <textarea class="form-control" id="abstract" placeholder="Abstract del proyecto de investigación" rows="3" formControlName="abstract"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                    <!-- CORREGIR <button [disabled]="!forma.valid || nombreImagen === ''" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button> -->
                </div>
            </form>

            <form [formGroup]="forma1" *ngIf="invExistente">
                <div class="form-row">
                    <label class="font-weight-bold">Proyecto</label>
                </div>
                <div class="form-row border-bottom">
                    <div class="form-group col-12">
                        <label for="docenteId">Elija Proyecto</label>
                        <select (change)="selectElegido($event.target.value)" class="form-control" formControlName="control1">
                            <option *ngFor="let proyecto of proyectosExistentes" [ngValue]="proyecto.id">
                                {{ proyecto.titulo }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button (click)="registrarProyectoExistente()" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                    <!-- <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de Proyectos o Publicaciones ================= -->