<!-- ================= Begin Notice ================= -->
<div class="row mx-0">

    <section class="col-lg-9 px-0">
        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about']" class="aqsbtx aqlihov">Nosotros</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about','notices']" class="aqsbtx aqlihov">Noticias</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">{{ noticia.titulo }}</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin TitleAbstract ================= -->
        <div class="aqpxsc9 aqcon80">
            <h1>{{ noticia.titulo }}</h1>
            <h5 class="aqffsr">{{ noticia.resumen }}</h5>
        </div>
        <!-- ================= End TitleAbstract ================= -->

        <!-- ================= Begin Image ================= TODO TODO TODO muy raro porque aqui si y en home en la parte de NOTICIAS 'no', se arreglo con este NGIF-->
        <div class="aqcon90" *ngIf="noticia.imgpath">
            <img [src]="noticia.imgpath | seleccionaImagen:'instNoticias' :i+1" class="img-fluid mt-3 mr-1" alt="Card image cap" *ngFor="let imagen of nomImagenes; index as i">
        </div>
        <!-- ================= End Image ================= -->

        <!-- ================= Begin Text ================= -->
        <div class="aqpxsc9 aqcontxsc9 aqcon80 aqmt20">
            <p *ngFor="let parrafo of parrafos">{{ parrafo }}</p>
        </div>
        <!-- ================= End Text ================= -->

        <!-- ================= Begin NewsInstitute sc9card3 ================= -->
        <div class="mt-5">
            <div class="row mx-0 aqpxsc9">
                <div>
                    <h2 class="aqsbti">NOTICIAS</h2>
                </div>
            </div>
            <div class="row mx-0 aqpxsc9rest">
                <div class="col-md-4 my-3 px-0" *ngFor="let noticia of noticias">
                    <a [routerLink]="['/about','notices', noticia.titulo | rempEsp]" class="hovred aqmxcard card">
                        <div class="h-100">
                            <!-- http://localhost:3000/api/containers/img/download/0grupos-focales.jpg?access_token=AQDss8I1Jx187NS81l9dwlCQu1uJt8B6t1HcEAhCTCcGnM8u6pPntUTbYtATrneY -->
                            <img class="card-img-top aqimgsimaxx" [src]="noticia.imgpath | seleccionaImagen:'instNoticias' :1" alt="Card image cap">
                        </div>
                        <div class="card-body px-0">
                            <h5 class="aqticard card-title">{{ noticia.titulo }}</h5>
                            <p class="card-text px-0">{{ noticia.resumen }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- ================= End NewsInstitute sc9card3 ================= -->
    </section>

    <aside class="col-lg-3 aqpx">

        <!-- ================= Begin List Flush Notice ================= -->
        <app-websites-interest></app-websites-interest>
        <!-- ================= Fin List Flush Notice ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>

</div>

<!-- ================= End Notice ================= -->