<p>
    consultas works!
</p>
<div class="container-fluid border pb-5"><br>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Consultas</h3>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
        </div>
    </div>

    <!-- ================= Begin Alertas Consultas Leidas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            La consulta {{ mensajeExito }} ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensajeErrorNuevas" role="alert">
            {{ mensajeErrorNuevas }}
        </div>
    </div>
    <!-- ================= End Alertas Consultas Leidas Exitos Error ================= -->

    <div class="mt-4" *ngIf="!mensajeErrorNuevas">
        <h4 class="h4">Consultas No leídas</h4>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email - Celular(si existe)</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="w-50">Mensaje</th>
                    <th scope="col">Leída</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of consultasNoLeidas; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{consulta.nombre}}</td>
                    <td>{{consulta.email}} {{consulta.celular}}</td>
                    <td>{{consulta.fecha | date: 'short'}}</td>
                    <td>{{consulta.mensaje}}</td>
                    <td class="text-center">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" [attr.id]="'aqcheckboxConsultaLeida'+i" type="checkbox" [checked]="consulta.leida">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button (click)="registrarConsultasNoLeidas()" type="button" class="btn btn-secondary m-1">Registrar Leidos</button>
        </div>

    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            La consulta {{ mensajeExito }} ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensajeErrorLeidas" role="alert">
            {{ mensajeErrorLeidas }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="mt-4" *ngIf="!mensajeErrorLeidas">
        <h4 class="h4">Consultas leídas</h4>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email - Celular(si existe)</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="w-50">Mensaje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of consultasLeidas; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{consulta.nombre}}</td>
                    <td>{{consulta.email}} {{consulta.celular}}</td>
                    <td>{{consulta.fecha | date: 'short'}}</td>
                    <td>{{consulta.mensaje}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>