<!-- ================= Begin Formulario de Registro de Estudiantes ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <div>
                    <h4>Registrar Estudiante</h4>
                </div>
                <div>
                    <h4>{{forma.controls['paterno'].value[0]}}{{forma.controls['materno'].value[0]}}{{forma.controls['pri_nombre'].value[0]}}{{forma.controls['ci'].value}}</h4>
                </div>
            </div>
            <form [formGroup]="forma">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="paterno">Ap. Paterno</label>
                        <input type="text" class="form-control" id="paterno" placeholder="Ap. Paterno" formControlName="paterno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="materno">Ap. Materno</label>
                        <input type="text" class="form-control" id="materno" placeholder="Ap. Materno" formControlName="materno">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="pnombre">Primer Nom.</label>
                        <input [ngClass]="{'is-invalid': !forma.controls['pri_nombre'].valid}" type="text" class="form-control" id="pnombre" placeholder="Primer Nombre" formControlName="pri_nombre">
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.required">Un nombre es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['pri_nombre'].errors?.minlength">Mínimo de 2 caracteres.</small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="snombre">Segundo Nom.</label>
                        <input type="text" class="form-control" id="snombre" placeholder="Segundo Nombre" formControlName="seg_nombre">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="d-flex flex-row">
                            <label for="inputPassword4">Sexo</label>
                        </div>
                        <div class="pt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1" formControlName="sexo" value="femenino">
                                <label class="form-check-label" for="inlineRadio1">Femenino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2" formControlName="sexo" value="masculino">
                                <label class="form-check-label" for="inlineRadio2">Masculino</label>
                            </div>
                        </div>
                        <small class="form-text text-danger" *ngIf="forma.controls['sexo'].errors?.required">Es necesario.</small>
                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword5">Nacionalidad</label>
                        <div class="pt-2">
                            <div class="form-check form-check-inline">
                                <input [checked]="true" (click)="nacionalidad ='Boliviano'" class="form-check-input" type="radio" name="nacionalidad" id="inlineRadio3" formControlName="nacionalidad" value="Boliviano">
                                <label class="form-check-label" for="inlineRadio3">Boliviano/a</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input (click)="nacionalidad ='extranjero'" class="form-check-input" type="radio" name="nacionalidad" id="inlineRadio4" formControlName="nacionalidad" value="extranjero">
                                <label class="form-check-label" for="inlineRadio4">Extranjero</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'col-md-3': nacionalidad=='Boliviano','col-md-2': nacionalidad=='extranjero'}">
                        <label for="ci" *ngIf="nacionalidad=='Boliviano'">Carnet de Identidad</label>
                        <label for="ci" *ngIf="nacionalidad=='extranjero'">N° de Documento</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.controls['ci'].valid}" id="ci" placeholder="Número de CI" formControlName="ci">
                        <small class="form-text text-danger" *ngIf="forma.controls['ci'].errors?.required">Es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['ci'].errors?.minlength">Mínimo de 5 digitos.</small>
                    </div>

                    <div class="form-group col-md-1" *ngIf="nacionalidad=='Boliviano'">
                        <label for="extendido">Ext. en:</label>
                        <select class="form-control" formControlName="extendido">
                                <option *ngFor="let cod of cod_deptos" [ngValue]="cod">
                                  {{ cod }}
                                </option>
                            </select>
                    </div>

                    <div class="form-group col-md-2" *ngIf="nacionalidad=='extranjero'">
                        <label for="extendido">Exp. en:</label>
                        <input type="text" class="form-control" id="extendido" placeholder="" formControlName="extendido">
                        <small class="form-text text-danger" *ngIf="forma.controls['extendido'].errors?.required">Es necesario.</small>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="fnacimiento">Fec. de Nacimiento</label>
                        <input type="date" class="form-control" id="fnacimiento" placeholder="Fec. Nacimiento" formControlName="fec_nacimiento">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="runiversitario">Reg. Universitario</label>
                        <input type="text" class="form-control" id="runiversitario" placeholder="Reg. Universitario" formControlName="reg_universitario">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email">Correo (Email)</label>
                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico" formControlName="email">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="celular">Celular</label>
                        <input type="text" class="form-control" id="celular" placeholder="Celular" formControlName="celular">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" formControlName="telefono">
                    </div>
                </div>

                <div class="form-row">
                    <label>Domicilio</label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="dciudad">Ciudad</label>
                        <input type="text" class="form-control" id="dciudad" placeholder="Ciudad" formControlName="dom_ciudad">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dzona">Zona</label>
                        <input type="text" class="form-control" id="dzona" placeholder="Zona" formControlName="dom_zona">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dcalle">Avenida/Calle</label>
                        <input type="text" class="form-control" id="dcalle" placeholder="Avenida o Calle" formControlName="dom_calle">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="dom_numero">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="otro">Otro</label>
                        <input type="text" class="form-control" id="otro" placeholder="Número" formControlName="dom_otro">
                    </div>
                </div>
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-block btn-lg">Registrar</button>
            </form>
        </div>
    </div>

</div>
<!-- ================= End Formulario de Registro de Estudiantes ================= -->