<!-- ================= Begin Course Plan ================= -->
<div class="row mx-0" *ngIf="curso">

    <section class="col-lg-9 px-0">
        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/postgraduate']" class="aqsbtx aqlihov">Posgrado</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/postgraduate','courses']" class="aqsbtx aqlihov">Cursos</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/postgraduate','courses', sigla | rempEsp]" class="aqsbtx aqlihov">{{ sigla }}</a></li>
                    <li class="breadcrumb-item active"><a>Plan de Estudios</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin Title ================= -->
        <div class="aqpxsc9 row mx-0 mt-2">
            <h2 class="aqffser aqticocurpos">Plan de Estudios y Profesores de la {{curso.sigla}}</h2>
        </div>
        <!-- ================= End Title ================= -->

        <!-- ================= Begin Content ================= -->
        <div class="aqpxsc9 col-md-12 mt-3">

            <div class="table-responsive">
                <table class="text-center table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre del Módulo</th>
                            <th scope="col">Profesor</th>
                            <th scope="col">Carga H. A</th>
                            <th scope="col">Carga H. B</th>
                            <th scope="col">H. Acádemicas</th>
                            <th scope="col">Créditos</th>
                            <th scope="col">Calendario</th>
                        </tr>
                    </thead>
                    <tbody class="aqtd">
                        <tr *ngFor="let modulo of modulos; index as i">
                            <th scope="row">{{i+1}}</th>
                            <th>{{modulo.nombre}}</th>
                            <td>{{modulo.profesor}}</td>
                            <td>{{modulo.carga_horaria_a}}</td>
                            <td>{{modulo.carga_horaria_b}}</td>
                            <td>{{modulo.horas_academicas}}</td>
                            <td>{{modulo.creditos}}</td>
                            <td>{{modulo.inicio_clases | date:'d \'de\' MMMM'}} al {{modulo.fin_clases | date: 'd \'de\' MMMM \'del\' yyyy'}} <i>{{modulo.observacion}}</i></td>
                        </tr>
                        <tr>
                            <th>TOTAL</th>
                            <th></th>
                            <th></th>
                            <th> {{tcarga_horaria_a}} </th>
                            <th> {{tcarga_horaria_b}} </th>
                            <th> {{thoras_academicas}} </th>
                            <th> {{tcreditos}} </th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="px-4 pb-3 pt-1 mt-5">
                <a [routerLink]="['/postgraduate','courses', curso.sigla]" title="Ver Maestría en Gestión de la Comunicación - MGC">
                    <h2 class="" style="font-family: PT_Serif-Web-Regular;color: #1d4163"> Ver Maestría en Gestión de la Comunicación - MGC</h2>
                </a>
            </div>
        </div>

        <!-- ================= End Content ================= -->

    </section>

    <aside class="col-lg-3 aqpx mt-3">
        <div class="aqmt20 aqinfo bg-white" style="border-left: 3px solid #c4213a">

            <app-information-course [curso]="curso"></app-information-course>

        </div>

        <!-- ================= Begin Jumbotron Form Inscription ================= -->
        <a href="documents/FORMULARIO-DE-PREINSCRIPCION.xlsx">
            <div class="aqinfo aqmt20">
                <p><span>FORMULARIO DE INSCRIPCIÓN</span><br>Maestría en Gestión de la Comunicación</p>
            </div>
        </a>
        <!-- ================= End Jumbotron Form Inscription ================= -->

        <!-- ================= Begin Jumbotron Area Postgraduate ================= -->
        <div class="aqinfo aqmt20">
            <p><span>ÁREA DE POSGRADO</span><br>Av. 6 de Agosto, Edif. Hoy, piso 4 Teléfono: (591-2) 2612733</p>
        </div>
        <!-- ================= End Jumbotron Area Postgraduate ================= -->

        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqinfo aqmt20">
            <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
            <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
            <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
            <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

    </aside>

</div>
<!-- ================= End Course Plan ================= -->