<!-- ================= Begin Term ================= -->
<div class="row mx-0">
    <section class="col-lg-9 aqpx">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation']" class="aqsbtx aqlihov">Investigación</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation','teachers']" class="aqsbtx aqlihov">Investigadores</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">{{term}}</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <div class="aqcon80">
            <h1>Gestión: {{term}}</h1>
            <h5 class="aqffsr">Ejes Temáticos: {{convocatoria.ejes_tematicos}}</h5>
        </div>
        <div class="row mx-0 aqcon80 aqcontxsc9">

            <!-- ================= Begin Teachers ================= -->
            <!-- <div class="col-12 my-3 px-0 aqffsr" *ngFor="let usuario of investigadores">
                <div class="aqw99" style="display: flex;box-shadow: 0 2px 14px rgba(0,0,0,.15)">
                    <div class="p-1 pt-2" style="width: 70%">
                        <div style="min-height: 30%; display: flex; align-items: flex-end;justify-content: center;">
                            <a [routerLink]="['/investigation','teachers', term, usuario.investigador.denominacion | rempEsp]">
                                <h3 class="mb-0 aqlihov aqlico text-center" style="vertical-align:middle">{{usuario.pri_nombre}} {{usuario.seg_nombre}} {{usuario.paterno}} {{usuario.materno}}</h3>
                            </a>
                        </div>
                        <div class=" p-2" style="height: 45%;display:flex;align-items:center;">
                            <p class="mb-0" style="text-align: center;">{{usuario.investigador.resena}}</p>
                        </div>
                        <div class="p-2" style="height: 25%; display: flex; align-items: flex-start;justify-content: center;">
                            <a class="border-top px-2 text-center" [attr.href]="'mailto:' + usuario.email"> {{usuario.email}} </a>
                        </div>

                    </div>
                    <div style="width: 30%">
                        <img [src]="usuario.investigador.imgpath | seleccionaImagen:'inveDocentes'" class="w-100 h-100">
                    </div>
                </div>
            </div> -->
            <div class="col-12 px-0" *ngIf="auxiliares">
                <div *ngFor="let usuario of investigadores">
                    <h4 [routerLink]="['/investigation','teachers', term, usuario.investigador.denominacion | rempEsp]" class="mt-3 aqlink">{{ usuario.investigador.denominacion }}:</h4>
                    <p>{{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}</p>
                </div>
            </div>
            <!-- ================= End Teachers ================= -->
            <!-- ================= Begin Content TEAM WORK ================= -->
            <div class="col-12 px-0" *ngIf="auxiliares">
                <p class="mt-4 aqffsb aqsitx175 mb-1">Estudiantes Investigadores</p>
                <div *ngFor="let usuario of auxiliares">
                    <h4 [routerLink]="['/investigation','assistants', term, usuario.auxiliar.denominacion | rempEsp]" class="mt-3 aqlink">{{ usuario.auxiliar.denominacion }}:</h4>
                    <p>{{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}</p>
                </div>
            </div>
            <!-- ================= End Content TEAM WORK ================= -->
        </div>


    </section>

    <aside class="aqpx col-lg-3 mt-3">
        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqmt20">
            <div class="aqinfo">
                <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
                <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
                <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
                <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
            </div>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->

    </aside>
</div>
<!-- ================= End Term ================= -->