<!-- ================= Begin Publications ================= -->
<div class="row mx-0">
    <section class="col-lg-9 aqpx">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation']" class="aqsbtx aqlihov">Investigación</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">Publicaciones</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <div class="row mx-0">
            <h1>Proyectos de Investigación</h1>
        </div>

        <!-- ================= Begin Publication ================= -->
        <div class="aqmxsc9pu aqunin border my-4" style="border-left:0px solid white !important;" *ngFor="let proyecto of proyectos; index as i">

            <!-- ======= TODO hacer la funcion o la relacion con la que venga el enlace o descarga ======= -->
            <a [href]="proyecto.docpath | seleccionaImagen:'inveDocumentos'" style="color: #333333" class="aqpointer" target="_blank">
                <div class="pb-3 pt-4 aqpxsc9">
                    <h3>{{proyecto.titulo}}</h3>
                </div>
                <div class="aqpxsc9 py-3" style="background:#f9f9f9;">
                    <div class="row mx-0 aqffsr">
                        <div class="col-xs-12 col-md-9 col-lg-10 px-0" style="margin: auto;">
                            <table class="aqffsr">
                                <tr>
                                    <td class="w-25 text-right aqtxcobl p-2">TIPO DE LA PUBLICACIÓN:</td>
                                    <td class="p-2">
                                        {{proyecto.tipo}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 text-right aqtxcobl p-2">INVESTIGADOR/ES:</td>
                                    <td class="p-2">
                                        <span *ngFor="let docente of docentesPorProyecto[i]">
                                            {{docente.pri_nombre}} {{docente.paterno}} {{docente.materno}}.
                                        </span>
                                    </td>
                                </tr>
                                <tr *ngIf="auxiliaresPorProyecto[i]">
                                    <td class="w-25 text-right aqtxcobl p-2">UNIV. INVESTIGADOR/ES:</td>
                                    <td class="p-2">
                                        <span *ngFor="let auxiliar of auxiliaresPorProyecto[i]">
                                            {{auxiliar.pri_nombre}} {{auxiliar.paterno}} {{auxiliar.materno}}.
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 text-right aqtxcobl p-2">ÁMBITO:</td>
                                    <td class="p-2">{{proyecto.ambito}}</td>
                                </tr>
                                <tr>
                                    <td class="w-25 text-right aqtxcobl p-2">FECHA PUBLICACIÓN:</td>
                                    <td class="p-2 text-capitalize">{{proyecto.fecha_publicacion | date: 'EEEE d, MMMM yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td class="w-25 text-right aqtxcobl p-2">ABSTRACT:</td>
                                    <td class="aqffsi p-2">{{proyecto.abstract}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3 col-lg-2 d-none d-md-block px-0" style="margin: auto;">
                            <img [src]="proyecto.imgpath | seleccionaImagen:'inveDocsImagenes':1" class=" w-100">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- ================= End Publication ================= -->

        <div class="row mx-0">
            <nav aria-label="...">
                <ul class="pagination aqsbtx">
                    <li (click)="carga(actual-1)" class="page-item" [ngClass]="{'disabled': actual === 0}">
                        <a class="page-link ">Anterior</a>
                    </li>
                    <li (click)="carga(i)" class="page-item" [ngClass]="{'disabled': actual === i }" *ngFor="let item of numPag; index as i">
                        <a class="page-link " [ngClass]="{'aqund': actual === i }">{{i+1}}</a>
                    </li>
                    <li (click)="carga(actual+1)" class="page-item" [ngClass]="{'disabled': actual === total-1}">
                        <a class="page-link ">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- <div class="aqmxsc9pu aqunin border my-4" style="border-left:0px solid white !important;">
            <a href="documents/MA.pdf" target="_blank" style="color: #333333">
                <div class="pb-3 pt-4 aqpxsc9 " style="background: white">
                    <h3>II Congreso de la Carrera de Ciencias de la Comunicación Social de la UMSA</h3>
                </div>
                <div class=" aqpxsc9  py-3" style="background:#f9f9f9;">
                    <div class="row mx-0 aqffsr">
                        <div class=" d-none d-xl-block">
                        </div>
                        <div class="col-xs-12 col-md-9 col-lg-10  px-0" style="margin: auto;">
                            <table style="font-family: PT_Sans-Web-Regular">
                                <tr>
                                    <td class="" style="width:25%;text-align: right; padding: 8px;color: #264162;font-family: PT_Sans-Web-Regular">DOC. INVESTIGADOR/ES:</td>
                                    <td class="" style="padding: 8px;font-family: PT_Sans-Web-Regular">Tamara Liendo, Marlene Choque Tamara Liendo, Marlene Choque</td>
                                </tr>
                                <tr>
                                    <td class="" style="width:25%;text-align: right;padding: 8px;color: #264162;font-family: PT_Sans-Web-Regular">UNIV. INVESTIGADOR/ES:</td>
                                    <td class="aqffsr" style="padding: 8px;font-family: PT_Sans-Web-Regular">Pedro Ruiz, Marlene Aro</td>
                                </tr>
                                <tr>
                                    <td class="aqffsr" style="width:25%;text-align: right;padding: 8px;color: #264162">ÁMBITO:</td>
                                    <td class="aqffsr" style="padding: 8px">Social</td>
                                </tr>
                                <tr>
                                    <td class="aqffsr" style="text-align: right;padding: 8px;color: #264162">FECHA PUBLICACIÓN:</td>
                                    <td class="aqffsr" style="padding: 8px">Martes 17 Octubre 2018</td>
                                </tr>
                                <tr>
                                    <td class="" style="width:25%;text-align: right;padding: 8px;color: #264162">ABSTRACT:</td>
                                    <td class="font-italic" style="padding: 8px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris n</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3 col-lg-2 d-none d-md-block px-0" style="margin: auto;">
                            <img src="../../../assets/img/investigation/invesb.jpg" class=" w-100">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aqmxsc9pu aqunin border my-4" style="border-left:0px solid white !important;">
            <a href="documents/MA.pdf" target="_blank" style="color: #333333">
                <div class="pb-3 pt-4 aqpxsc9" style="background: white">
                    <h3>Comunicación y Decolonialidad</h3>
                </div>
                <div class=" aqpxsc9 py-3" style="background:#f9f9f9;">
                    <div class="row mx-0 aqffsr">
                        <div class=" d-none d-xl-block">
                        </div>
                        <div class="col-xs-12 col-md-9 col-lg-10  px-0" style="margin: auto;">
                            <table style="font-family: PT_Sans-Web-Regular">
                                <tr>
                                    <td class="" style="width:25%;text-align: right; padding: 8px;color: #264162;font-family: PT_Sans-Web-Regular">DOC. INVESTIGADOR/ES:</td>
                                    <td class="" style="padding: 8px;font-family: PT_Sans-Web-Regular">Erick R. Torrico Villanueva, Eloina Castro Lara, Nelson Osorio Andrade</td>
                                </tr>
                                <tr>
                                    <td class="" style="width:25%;text-align: right;padding: 8px;color: #264162;font-family: PT_Sans-Web-Regular">UNIV. INVESTIGADOR/ES:</td>
                                    <td class="aqffsr" style="padding: 8px;font-family: PT_Sans-Web-Regular">Pedro Ruiz, Marlene Aro</td>
                                </tr>
                                <tr>
                                    <td class="aqffsr" style="width:25%;text-align: right;padding: 8px;color: #264162">ÁMBITO:</td>
                                    <td class="aqffsr" style="padding: 8px">Social</td>
                                </tr>
                                <tr>
                                    <td class="aqffsr" style="text-align: right;padding: 8px;color: #264162">FECHA PUBLICACIÓN:</td>
                                    <td class="aqffsr" style="padding: 8px">Martes 17 Octubre 2018</td>
                                </tr>
                                <tr>
                                    <td class="" style="width:25%;text-align: right;padding: 8px;color: #264162">ABSTRACT:</td>
                                    <td class="" style="padding: 8px">La Comununicación es vista en este libro como un lugar desde el cual es dable trabajar la decolonización en el plano de las ideas tanto como en el de las prácticas. Con esa convicción, 12 autoras y 12 autores de Argentina,
                                        Bolivia, Colombia, Chile, Ecuador, España...
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3 col-lg-2 d-none d-md-block px-0" style="margin: auto;">
                            <img src="../../../assets/img/investigation/invesc.png" class=" w-100">
                        </div>
                    </div>
                </div>
            </a>
        </div> -->

    </section>

    <aside class="aqpx col-lg-3 mt-3">
        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqmt20">
            <div class="aqinfo">
                <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
                <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
                <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
                <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
            </div>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->

    </aside>
</div>

<!-- ================= End Publications ================= -->