<!-- ================= Begin Notices ================= -->
<div class="row mx-0">
    <section class="col-lg-9 px-0">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about']" class="aqsbtx aqlihov">Nosotros</a></li>
                    <li class="breadcrumb-item active"><a>Noticias</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin NewsInstitute sc9card3 ================= -->
        <div class="mt-2">
            <div class="row mx-0 aqpxsc9">
                <h2 class="aqsbti">NOTICIAS</h2>
            </div>
            <div class="row mx-0 aqpxsc9rest">
                <div class="col-md-4 my-3 px-0" *ngFor="let noticia of noticias">
                    <a [routerLink]="['/about','notices', noticia.titulo | rempEsp]" class="hovred aqmxcard card">
                        <div class="h-100">
                            <img class="card-img-top aqimgsimaxx" [src]="noticia.imgpath | seleccionaImagen:'instNoticias' :1" alt="Notice Ipicom">
                        </div>
                        <div class="card-body px-0">
                            <h5 class="aqticard card-title">{{ noticia.titulo }}</h5>
                            <p class="card-text px-0">{{ noticia.resumen }}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mx-0 aqpxsc9">
                <nav aria-label="...">
                    <ul class="pagination aqsbtx">
                        <li (click)="carga(actual-1)" class="page-item" [ngClass]="{'disabled': actual === 0}">
                            <a class="page-link ">Anterior</a>
                        </li>
                        <li (click)="carga(i)" class="page-item" [ngClass]="{'disabled': actual === i }" *ngFor="let item of numPag; index as i">
                            <a class="page-link " [ngClass]="{'aqund': actual === i }">{{i+1}}</a>
                        </li>
                        <li (click)="carga(actual+1)" class="page-item" [ngClass]="{'disabled': actual === total-1}">
                            <a class="page-link ">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- ================= End NewsInstitute sc9card3 ================= -->
    </section>

    <aside class="col-lg-3 aqpx">

        <!-- ================= Begin List Flush Notice ================= -->
        <app-websites-interest></app-websites-interest>
        <!-- ================= Fin List Flush Notice ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>
</div>
<!-- ================= End Notices ================= -->