<p>
    reg-edi-cur works!
</p>
<!-- ================= Begin Formulario de Registro/Edición de Cursos ================= -->
<div style="background-color: #ecf0f5">
    <div class="container py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom mb-3 d-flex justify-content-between">
                <div class="d-flex align-items-end">
                    <h4 class="mb-0">{{accion}} Curso</h4>
                </div>
                <div class="d-flex">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
                    <div style="width: 0.5rem"></div>
                    <button [routerLink]="['/admin', 'posgrado','cursos',sigla,'modulos']" type="button" class="btn btn-primary">Ver Módulos</button>
                </div>
            </div>

            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El curso {{ mensajeExito }} ha sido registrado Exitosamente.!!!
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="registrarCurso()">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="nombre" class="font-weight-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre del curso" formControlName="nombre">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="sigla" class="font-weight-bold">Sigla</label>
                        <input type="text" class="form-control" id="sigla" placeholder="Sigla" formControlName="sigla">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="gestion" class="font-weight-bold">Gestión</label>
                        <input type="text" class="form-control" id="gestion" placeholder="Gestión o gestiones en las que se desarrollará" formControlName="gestion">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nro_resolucion" class="font-weight-bold">Resolución Facultativa N°</label>
                        <input type="text" class="form-control" id="nro_resolucion" placeholder="Número de la resolución facultativa" formControlName="nro_resolucion">
                    </div>
                </div>
                <div class="form-row">
                    <label class="font-weight-bold">Calendario</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inscripcion" class="font-weight-bold">Inscripción</label>
                        <input type="date" class="form-control" id="inscripcion" placeholder="Fecha Límite para la inscripción" formControlName="inscripcion">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inicio_matriculacion" class="font-weight-bold">Inicio matriculación</label>
                        <input type="date" class="form-control" id="inicio_matriculacion" placeholder="Información: Gestion, versión, número resolución" formControlName="inicio_matriculacion">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="fin_matriculacion" class="font-weight-bold">Fin matriculación</label>
                        <input type="date" class="form-control" id="fin_matriculacion" placeholder="Información: Gestion, versión, número resolución" formControlName="fin_matriculacion">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inicio_clases" class="font-weight-bold">Inicio de Clases</label>
                        <input type="date" class="form-control" id="inicio_clases" placeholder="Fecha Inicio de Clases" formControlName="inicio_clases">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="acerca" class="font-weight-bold">Acerca de</label>
                        <textarea class="form-control" id="acerca" placeholder="Acerca de el Curso" rows="21" formControlName="acerca"></textarea>
                        <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$. Ej. $$Nombre del Programa</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="areas" class="font-weight-bold">Aréas</label>
                        <textarea class="form-control" id="areas" placeholder="Aréas" rows="21" formControlName="areas"></textarea>
                        <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$. Ej. $$Nombre del Programa</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="perfiles" class="font-weight-bold">Perfiles</label>
                        <textarea class="form-control" id="perfiles" placeholder="Pérfil profesional" rows="21" formControlName="perfiles"></textarea>
                        <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$. Ej. $$Nombre del Programa</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="admision" class="font-weight-bold">Admisión</label>
                        <textarea class="form-control" id="admision" placeholder="Adminisión" rows="21" formControlName="admision"></textarea>
                        <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$. Ej. $$Nombre del Programa</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="costo" class="font-weight-bold">Costo</label>
                        <textarea onkeydown="if(event.shiftKey && event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" class="form-control" id="costo"
                            placeholder="Costos, formas de pago y demas" rows="21" formControlName="costo"></textarea>
                        <small class="form-text text-info">Si quieres que un párrafo sea un subtítulo antepon $$. Ej. $$Nombre del Programa</small>
                        <small class="form-text text-info">Si quieres introducir una tabulacion presiona "shift+tab"</small>
                    </div>
                </div>

                <div class="form-row">
                    <label class="font-weight-bold">Información</label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="modalidad" class="font-weight-bold">Modalidad</label>
                        <textarea type="text" class="form-control" id="modalidad" placeholder="Modalidad" rows="4" formControlName="modalidad"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="num_plazas" class="font-weight-bold">Número de plazas</label>
                        <textarea type="text" class="form-control" id="num_plazas" placeholder="Número de plazas" rows="4" formControlName="num_plazas"></textarea>
                    </div>
                </div>
                <div class="form-row border-bottom">
                    <div class="form-group col-md-6">
                        <label for="otra" class="font-weight-bold">Otra Información</label>
                        <textarea type="text" class="form-control" id="otra" placeholder="Introduzaca alguna otra informacion. Ej. $$Lugar, Las clases se pasaran en..." rows="4" formControlName="otra"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dias_horarios" class="font-weight-bold">Días y Horarios</label>
                        <textarea type="text" class="form-control" id="dias_horarios" placeholder="Días y Horarios" rows="4" formControlName="dias_horarios"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button (click)="irArriba()" type="button" class="btn btn-primary" id="aqbtntop" title="Ir arriba">^</button>


<!-- ================= End Formulario de Registro de Cursos ================= -->