<!-- ================= Begin Jumbotrom AskQuestion ================= -->
<div class="aqmt20 aqpx20 aqpy20 jumbotron">
    <h4>Comunicate con Nosotros!</h4>
    <p class="lead aqjt">Tienes alguna pregunta o necesitas ayuda personalizada</p>
    <button class="mb-2 aqjt aqjtbt btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#consultationModal">Preguntanos</button>
</div>
<!-- ================= Fin Jumbotrom AskQuestion ================= -->

<!-- ================= Begin ConsultationModal ================= -->
<div class="modal fade" id="consultationModal" tabindex="-1" role="dialog" aria-labelledby="consultationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="border: 0px">
            <!-- <div [ngClass]="{'aqborpristine': !forma.touched}"> -->
            <!-- <div [ngClass]="{'aqborvalid': forma.valid}"> -->
            <form [formGroup]="forma" (ngSubmit)="registrarConsulta()">
                <div class="modal-header px-4" [ngClass]="{'aqbgpristine': !forma.touched,'aqbgtouched': forma.touched && !forma.valid,'aqbgvalid': forma.valid}">
                    <h5 class="modal-title text-white" id="consultationModalLabel">Escribenos!!! con gusto te responderemos.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-4 py-3">
                    <!-- ================= Begin Alertas Exitos Error ================= -->
                    <div class="alert alert-success" *ngIf="mensajeExito !== ''" role="alert">
                        {{ mensajeExito }}
                    </div>
                    <div class="alert alert-danger" *ngIf="mensajeError !== ''" role="alert">
                        {{ mensajeError }}
                    </div>
                    <!-- ================= End Alertas Exitos Error ================= -->
                    <div class="form-group">
                        <label for="nombre" class="col-form-label font-weight-bold">Nombre: *</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.controls['nombre'].valid && forma.touched}" id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre">
                        <small class="form-text text-danger" *ngIf="forma.controls['nombre'].errors?.required  && forma.controls['nombre'].touched">Es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['nombre'].errors?.minlength  && forma.controls['nombre'].touched">Mínimo nombre y apellido</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['nombre'].errors?.pattern  && forma.controls['nombre'].touched">Solo son permitidas letras.</small>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="email" class="col-form-label font-weight-bold">Correo Electronico: *</label>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid': !forma.controls['email'].valid && forma.touched}" id="email" formControlName="email" placeholder="Ingresa tu correo Electronico">
                                <small class="form-text text-danger" *ngIf="forma.controls['email'].errors?.required && forma.controls['email'].touched">Es necesario.</small>
                                <small class="form-text text-danger" *ngIf="forma.controls['email'].errors?.pattern && forma.controls['email'].touched">Introduzca un email valido.</small>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="celular" class="col-form-label font-weight-bold">Celular:</label>
                                <input type="number" class="form-control" id="celular" formControlName="celular" placeholder="No es necesario">
                                <small class="form-text text-info">Para una respuesta mas rápida.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mensaje" class="col-form-label font-weight-bold">Mensaje: *</label>
                        <textarea maxlength="250" class="form-control" [ngClass]="{'is-invalid': !forma.controls['mensaje'].valid && forma.touched}" id="mensaje" formControlName="mensaje" placeholder="Escribe tu consulta" rows="4"></textarea>
                        <small class="form-text text-danger" *ngIf="forma.controls['mensaje'].errors?.required && forma.controls['mensaje'].touched">Es necesario.</small>
                        <small class="form-text text-danger" *ngIf="forma.controls['mensaje'].errors?.minlength && forma.controls['mensaje'].touched">Mínimo 25 caracteres.</small>
                    </div>
                </div>
                <div class="modal-footer px-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" [disabled]="forma.invalid" class="btn btn-primary" style="border-color: #477DCA;background-color: #477DCA">Enviar Mensaje</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- ================= End ConsultationModal ================= -->