<p>
    docente-notas works!
</p>
<div class="container border py-4" *ngIf="notas">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="">
            <h3 class="mb-0">Notas del Módulo: {{ modulo.nombre }} de la {{sigla}}, profesor {{ modulo.profesor }}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button type="button" class="btn btn-primary" [disabled]="mensaje" (click)="generarPDF()">Imprimir</button>
        </div>
    </div>

    <div class="mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-danger" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            {{ mensajeExito }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <table class="table table-bordered" *ngIf="!mensaje">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 4%" scope="col" class="text-center">#</th>
                    <th style="width: 17%" scope="col">Apellidos</th>
                    <th style="width: 17%" scope="col">Nombres</th>
                    <th style="width: 7%" scope="col">Nota</th>
                    <th style="width: 55%" scope="col">Observación</th>
                </tr>
            </thead>
            <!-- revisar antes de liberar mejorar el padding -->
            <tbody *ngIf="notas.length === ussEstudiantes.length">
                <tr *ngFor="let usuario of ussEstudiantes; index as i">
                    <th style="padding: 3px !important" scope="row" class="text-center">{{i+1}}</th>
                    <td style="padding: 3px !important">{{usuario.paterno}} {{usuario.materno}}</td>
                    <td style="padding: 3px !important">{{usuario.pri_nombre}} {{usuario.seg_nombre}}</td>
                    <td style="padding: 3px !important"><input class="form-control px-1 py-0 h-100" style="padding: 1px 0" type="number" min="0" max="100" [(ngModel)]="notas[i].nota"></td>
                    <td style="padding: 3px !important"><input class="form-control px-1 py-0 h-100" style="padding: 1px 0" type="text" min="0" max="100" [(ngModel)]="notas[i].observacion"></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button (click)="registrarNotas()" type="button" class="btn btn-secondary m-2">Registrar Notas</button>
        </div>

    </div>
    <!-- ================= Begin Modal ================= -->
    <!-- <div class="modal fade" id="ModalEstudiante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esta seguro de eliminar al </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                    <div>
                        C.I. {{usuario.ci}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="retrocederPagina()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarEstudiante()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ================= End Modal ================= -->

</div>