<!-- ================= Begin Teachers ================= -->
<div class="row mx-0">
    <section class="col-lg-9 aqpx">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/investigation']" class="aqsbtx aqlihov">Investigación</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">Investigadores</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <div class="row mx-0">
            <h1>Investigadores</h1>
        </div>
        <div class="row mx-0">

            <!-- ================= Begin Content TERMS ================= -->
            <div>
                <div *ngFor="let convocatoria of convocatorias">
                    <h4 [routerLink]="['/investigation', 'teachers', convocatoria.gestion]" class="aqmt20 aqlink">Gestión: {{ convocatoria.gestion }}:</h4>
                    <p>Ejes Temáticos: {{convocatoria.ejes_tematicos}}</p>
                </div>
            </div>
            <!-- ================= End Content TERMS ================= -->
        </div>


    </section>

    <aside class="aqpx col-lg-3 mt-3">
        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqmt20">
            <div class="aqinfo">
                <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
                <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
                <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
                <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
            </div>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->

    </aside>
</div>
<!-- ================= End Teachers ================= -->