<p>
    docentes works!
</p>
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Docentes: eliga un curso</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <!-- <button [routerLink]="['/admin','posgrado','cursos','nuevo']" type="button" class="btn btn-primary">Registrar</button> -->
        </div>
    </div>

    <div class="mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="mx-3 alert alert-warning" *ngIf="mensajeCursos" role="alert">
            {{ mensajeCursos }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->
        <div class="row mx-0 d-flex" *ngIf="!mensajeCursos">
            <div class="card d-inline-flex mx-3 my-2 aqpointer" [routerLink]="['/admin','posgrado','cursos',curso.sigla,'docentes']" *ngFor="let curso of cursos; index as i">
                <div class="card-header" style="height: 2.5rem"> </div>
                <div class="card-body">
                    <h5 class="card-title">{{curso.sigla}} - {{ curso.nombre }}</h5>
                    <p class="card-text">Gestión {{curso.gestion}} N°{{ curso.nro_resolucion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SI ES QUE SE VE LA NECESIDAD DE QUE HAYA UNA LISTA PARA ELIMINAR -->
<!-- SI ES QUE SE VE LA NECESIDAD DE QUE HAYA UNA LISTA PARA ELIMINAR -->
<!-- SI ES QUE SE VE LA NECESIDAD DE QUE HAYA UNA LISTA PARA ELIMINAR a algun docente -->

<!-- ================= Begin Alertas Exitos Error ================= -->
<!-- <div class="mx-3 alert alert-warning" *ngIf="mensajeDocentes" role="alert">
            {{ mensajeDocentes }}
        </div> -->
<!-- ================= End Alertas Exitos Error ================= -->
<!-- <table class="table table-bordered" *ngIf="!mensajeDocentes">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Apellidos y Nombres</th>
                <th scope="col">Celular</th>
                <th scope="col">Email</th>
                <th scope="col">Reg. Docente</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let docente of docentes; index as i">
                <th scope="row" class="text-center">{{i+1}}</th>
                <td>{{docente.pri_nombre}} {{docente.seg_nombre}} {{docente.paterno}} {{docente.materno}}</td>
                <td>{{docente.celular}}</td>
                <td>{{docente.email}}</td>
                <td>{{docente.estudiante.reg_universitario}}</td>
                <td>
                    <div class="d-flex">
                        <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes', usuario.username ]" type="button" class="btn btn-primary">Editar</button>
                        <div style="width: 0.25rem"></div>
                        <button type="button" data-toggle="modal" data-target="#ModalEstudiante" (click)="elimodal(usuario, i)" class="btn btn-danger">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table> -->