<!-- ================= Begin About ================= -->
<div class="row mx-0">

    <section class="col-lg-9 px-0">
        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">Nosotros</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin TitleAbstract ================= -->
        <div class="aqpxsc9 aqcon80">
            <h1>Acerca del Instituto</h1>
            <h5 class="aqffsr">{{caracteristica.resumen}}</h5>
        </div>
        <!-- ================= End TitleAbstract ================= -->

        <!-- ================= Begin Image ================= -->
        <img [src]="caracteristica.imgpath | seleccionaImagen:'instCaracteristicas'" class="img-fluid mt-3">
        <!-- ================= End Image ================= -->

        <!-- ================= Begin Text ================= -->
        <div class="aqpxsc9 aqcontxsc9 aqcon80 aqmt20">
            <div *ngFor="let parrafo of parrafos">
                <p class="" [ngClass]="{'aqmt20 aqffsb aqsitx175 mb-1': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
            </div>
        </div>
        <!-- ================= End Text ================= -->

        <!-- ================= Begin NewsInstitute sc9card3 ================= -->
        <div class="mt-5">
            <div class="row mx-0 aqpxsc9">
                <div>
                    <h2 class="aqsbti">NOTICIAS</h2>
                </div>
            </div>
            <div class="row mx-0 aqpxsc9rest">
                <div class="col-md-4 my-3 px-0" *ngFor="let noticia of noticias">
                    <a [routerLink]="['/about','notices', noticia.titulo | rempEsp]" class="hovred aqmxcard card">
                        <div class="h-100">
                            <!-- http://localhost:3000/api/containers/img/download/0grupos-focales.jpg?access_token=AQDss8I1Jx187NS81l9dwlCQu1uJt8B6t1HcEAhCTCcGnM8u6pPntUTbYtATrneY -->
                            <img class="card-img-top aqimgsimaxx" [src]="noticia.imgpath | seleccionaImagen:'instNoticias':1" alt="Card image cap">
                        </div>
                        <div class="card-body px-0">
                            <h5 class="aqticard card-title" [title]="noticia.titulo">{{ noticia.titulo | slice:0:53 }}</h5>
                            <p class="card-text px-0">{{ noticia.resumen }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- ================= End NewsInstitute sc9card3 ================= -->
    </section>

    <aside class="col-lg-3 aqpx">

        <!-- ================= Begin List Flush About ================= -->
        <div class="list-group list-group-flush">
            <a [routerLink]="[ '/about' ]" class="aqpysbti aqpx20 list-group-item list-group-item-action">
                <h6 class="aqsbtisi">NOSOTROS</h6>
            </a>

            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about',caracte.nombre | rempEsp]" *ngFor="let caracte of caracteristicas">{{ caracte.nombre }}</a>

        </div>
        <!-- ================= Fin List Flush About ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>

</div>

<!-- ================= End About ================= -->