<!-- ================= Begin Feature ================= -->
<div class="row mx-0" *ngIf="caracteristica.imgpath">
    <img [src]="caracteristica.imgpath | seleccionaImagen:'instCaracteristicas'" class="aq100">
</div>
<div class="row mx-0">
    <section class="col-lg-9 aqpx aqrelat">
        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about']" class="aqsbtx aqlihov">Nosotros</a></li>
                    <li class="breadcrumb-item active"><a class="aqsbtx aqlihov">{{caracteristica.nombre}}</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin ContentSC9 ================= -->
        <div class="aqcon80 aqcontxsc9">

            <!-- ================= Begin TitleAbstract ================= -->
            <h1>{{ caracteristica.nombre }}</h1>
            <h5 class="aqpb20 aqffsr border-bottom">
                {{ caracteristica.resumen }}
            </h5>
            <!-- ================= End TitleAbstract ================= -->

            <!-- ================= Begin Content ================= -->
            <div class="aqmt20" *ngIf="nombre !== 'Equipo de Trabajo'">
                <div *ngFor="let parrafo of parrafos">
                    <p class="" [ngClass]="{'aqmt20 aqffsb aqsitx175 mb-1': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
                </div>
            </div>
            <!-- ================= End Content ================= -->

            <!-- ================= Begin Content TEAM WORK ================= -->
            <div class="aqmt20" *ngIf="nombre === 'Equipo de Trabajo'">
                <div *ngFor="let usuario of usuarios">
                    <h4 [routerLink]="[ '/about','Equipo-de-Trabajo', usuario.admin.cargo | rempEsp]" class="aqmt20 aqlink">{{ usuario.admin.cargo }}:</h4>
                    <p>{{ usuario.admin.grado }} {{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}</p>
                </div>
            </div>
            <!-- ================= End Content TEAM WORK ================= -->

        </div>
        <!-- ================= End ContentSC9 ================= -->
    </section>

    <aside class="col-lg-3 aqpx">

        <!-- ================= Begin List Flush About ================= -->
        <div class="list-group list-group-flush">
            <a [routerLink]="[ '/about' ]" class="aqpysbti aqpx20 list-group-item list-group-item-action">
                <h6 class="aqsbtisi">NOSOTROS</h6>
            </a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about',caracte.nombre | rempEsp]" *ngFor="let caracte of caracteristicas">{{ caracte.nombre }}</a>
            <!-- <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about','Equipo-de-Trabajo']">Equipo de Trabajo</a> -->
            <!-- <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about','Visión']">Visión</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about','Misión']">Misión</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about','Pensamiento']">Pensamiento</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about','Equipo de Trabajo']">Equipo de Trabajo</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [routerLink]="['/about','Noticias']">Noticias</a> -->
        </div>
        <!-- ================= Fin List Flush About ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>
</div>
<!-- ================= End Feature ================= -->