<p>
    caracteristicas works!
</p>

<!-- ================= Begin ListCaracteristicas ================= -->
<div class="container-fluid border"><br>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Caracteristicas</h3>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
            <button [routerLink]="['/admin','instituto','caracteristicas','nueva']" type="button" class="btn btn-primary m-1">Nueva Característica</button>
        </div>
    </div>
    <div class="row mx-0 d-flex justify-content-around">
        <div class="card my-3" style="width: 30rem;" *ngFor="let caracteristica of caracteristicas; index as i">
            <img class="card-img-top" [src]="caracteristica.imgpath | seleccionaImagen:'instCaracteristicas'" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ caracteristica.nombre }}</h5>
                <!-- <p class="card-text">{{ caracteristica.resumen }}</p> -->
                <p class="text-muted">{{ caracteristica.fecha | slice:0:10 }}</p>
                <div class="w-100 d-flex justify-content-between">
                    <a [routerLink]="['/admin','instituto','caracteristicas', caracteristica.nombre | rempEsp]" class=" btn btn-primary " style="width: 47%">Editar</a>
                    <button type="button" data-toggle="modal" data-target="#CharModal" (click)="elimodal(caracteristica, i)" class="btn btn-danger" style="width: 47%">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================= End ListCaracteristicas ================= -->
<!-- ================= Begin Modal ================= -->
<div class="modal fade" id="CharModal" tabindex="-1" role="dialog" aria-labelledby="CharModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CharModalLabel">Esta seguro de eliminar la característica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" *ngIf="caracteristica!=null">
                <div>
                    {{ caracteristica.nombre }}
                </div>
                <div>
                    de fecha {{caracteristica.fecha | slice:0:10}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="eliCaracteristica()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- ================= End Modal ================= -->