<!-- ================= Begin UInvestigation ================= -->
<!-- ================= Begin Banner ================= -->
<div class="row mx-0 aqposrel" *ngIf="uInvestigacion">

    <img class="w-100 h-100" [src]="uInvestigacion.imgpath | seleccionaImagen:'invePagina'">
    <div class="d-flex align-items-center aqposabs h-100 aqffsr aqbaninv">
        <div>
            <h1 class="text-uppercase">{{uInvestigacion.nombre}}</h1>
            <h3>{{uInvestigacion.descripcion}}</h3>
        </div>
    </div>
</div>
<!-- ================= End Banner ================= -->

<!-- ================= Begin InvesLines ================= -->
<div class="row mx-0 aqpx py-4">
    <div class="col-12 col-lg-4 px-0">
        <h1 class="text-uppercase">{{uInvestigacion.linea}}</h1>
    </div>
    <div class="col-12 col-lg-8">
        <div class="aqcon80 aqlininv">
            <p>{{uInvestigacion.concepto}}</p>
            <span *ngFor="let parrafo of parrafos">{{parrafo}}<br></span>
        </div>
    </div>
</div>
<!-- ================= End InvesLines ================= -->

<!-- ================= Begin LatestPosts latest posts ================= -->
<div class="aqpx">
    <h2 class="aqsbti">ÚLTIMAS PUBLICACIONES</h2>
</div>
<div class="row mx-0 my-3" style="background-color: #AD7C21">
    <div class="col-12 col-md-6 mx-0 p-5" *ngFor="let proyecto of proyectosUltimos; index as i">
        <a [href]="proyecto.docpath | seleccionaImagen:'inveDocumentos'" class="row" target="_blank">
            <div class="col-12 col-sm-6 px-0">
                <img [src]="proyecto.imgpath | seleccionaImagen:'inveDocsImagenes':1" class="w-100 h-100">
            </div>
            <div class="col-12 col-sm-6 px-0 d-flex align-items-end" style="background-color: #f1f1f3;">
                <div class="aqpx">
                    <h5 class="" style="color: #333333"><b>{{proyecto.ambito}}</b></h5>
                    <p class="aqffsr" style="text-align: justify;"><span style="font-family: PT_Sans-Web-Italic">Se publicó el {{proyecto.tipo}}</span><br>{{proyecto.titulo}}</p>

                    <h5 style="color: #333333"><b>Doc. Investigador/es</b></h5>
                    <p>
                        <span *ngFor="let investigador of investigadoresPorProyecto[i]">
                            {{investigador.pri_nombre}} {{investigador.paterno}} {{investigador.materno}}.
                        </span>
                    </p>
                    <div *ngIf="auxiliaresPorProyecto[i]">
                        <h5 style="color: #333333"><b>Aux. Investigador/es</b></h5>
                        <p>
                            <span *ngFor="let auxiliar of auxiliaresPorProyecto[i]">
                                {{auxiliar.pri_nombre}} {{auxiliar.paterno}} {{auxiliar.materno}}.
                            </span>
                        </p>
                    </div>

                    <p class="" style="font-family: PT_Sans-Web-Italic;text-align: justify;">{{proyecto.presentacion}}</p>
                </div>
            </div>
        </a>
    </div>

</div>
<!-- ================= End LatestPosts ================= -->

<!-- ================= Begin TeachersIn ================= -->
<div class="aqpx aqmtfirst">
    <h2 class="aqsbti">
        DOCENTES INVESTIGADORES
        <small class="text-muted">Gestión {{ultimaGestion}}</small>
    </h2>
</div>

<div class="aqpx row mx-0  w-100 d-flex flex-wrap justify-content-center">

    <!-- ================= Begin Teachers ================= -->
    <div class="col-12 col-md-6 my-3 px-0 aqffsr" *ngFor="let usuario of ultimosDocenteInvestigadores">
        <div class="aqw99" style="display: flex;box-shadow: 0 2px 14px rgba(0,0,0,.15)">
            <div class="p-1 pt-2" style="width: 65%">
                <div style="min-height: 30%; display: flex; align-items: flex-end;justify-content: center;">
                    <a href="person.html">
                        <h3 class="mb-0 aqlihov aqlico text-center" style="vertical-align:middle">{{usuario.pri_nombre}} {{usuario.seg_nombre}} {{usuario.paterno}} {{usuario.materno}}</h3>
                    </a>
                </div>
                <div class=" p-2" style="height: 45%;display:flex;align-items:center;">
                    <p class="mb-0" style="text-align: center;">{{usuario.investigador.resena}}</p>
                </div>
                <div class="p-2" style="height: 25%; display: flex; align-items: flex-start;justify-content: center;">
                    <a class="border-top px-2 text-center" [attr.href]="'mailto:' + usuario.email">
                        <div class="text-truncate"> {{usuario.email}} </div>
                    </a>
                </div>

            </div>
            <div style="width: 35%">
                <img [src]="usuario.investigador.imgpath | seleccionaImagen:'inveDocentes'" class="w-100 h-100">
            </div>
        </div>
    </div>
    <!-- ================= End Teachers ================= -->
    <div class="col-12 px-0 d-flex justify-content-end mr-3">
        <a [routerLink]="['/investigation','teachers']" class="aqlico aqlihov">Más Investigadores</a>
    </div>

</div>
<!-- ================= End TeachersIn ================= -->

<!-- ================= Begin ProjectsIn ================= -->
<div class="aqpx mt-5">
    <h2 class="aqsbti">NUESTROS PROYECTOS DE INVESTIGACIÓN</h2>
</div>
<div class="row mx-0 aqpx py-4 my-3" style="background-color: #f9f9f9">
    <div class="col-12 col-md-3 col-lg-2 px-0" *ngFor="let proyecto of proyectosRecientes">
        <div class="row mx-0">
            <div class="col-12 px-0 aqmbpr">
                <div class="m-1 ml-0">
                    <a href="">
                        <img [src]="proyecto.imgpath | seleccionaImagen:'inveDocsImagenes':1" class="img-fluid" alt="image-Project" [title]="proyecto.titulo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="my-1 col-md-12 col-12 col-lg-4 px-0 d-flex align-items-center border">
        <div class="py-4 text-center">
            <h2>INVESTIGACIÓN</h2>
            <p>{{uInvestigacion.rol}}</p>
            <div class="text-right">
                <div class="align-self-end pr-2">
                    <a [routerLink]="['/investigation','publications']" class="aqlico aqlihov">Todos los proyectos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row mx-0 aqpx py-4 my-3" style="background-color: #f9f9f9">
    <div class="col-12 col-md-6 col-lg-4 px-0">
        <div class="row mx-0">
            <div class=" col-sm-6 px-0 aqmbpr">
                <div class="m-1 ml-0">
                    <a href="">
                        <img src="../../../assets/img/investigation/invesa.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class=" col-sm-6 px-0 aqmbpr">
                <div class=" m-1">
                    <a href="">
                        <img src="../../../assets/img/investigation/invesc.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 px-0">
        <div class="row mx-0">
            <div class="col-sm-6 px-0 aqmbpr">
                <div class="m-1">
                    <a href="">
                        <img src="../../../assets/img/investigation/invesb.jpg" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 px-0 aqmbpr">
                <div class=" m-1 mr-0">
                    <a href="">
                        <img src="../../../assets/img/investigation/invesd.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="my-1 col-md-12 col-12 col-lg-4 px-0 d-flex align-items-center border border-left-0">
        <div class="py-4 text-center">
            <h2>INVESTIGACIÓN </h2>
            <p>{{uInvestigacion.rol}}</p>
            <div class="text-right">
                <div class="align-self-end pr-2">
                    <a [routerLink]="['/investigation','publications']" class="aqlico aqlihov">Todos los proyectos</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- ================= End ProjectsIn ================= -->
<!-- ================= End UInvestigation ================= -->