<!-- ================= Begin Formulario de Registro/Edición de NoticiasInstituto ================= -->
<div style="background-color: #ecf0f5">
    <div class="aqpx py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom  mb-3 d-flex justify-content-between">
                <div>{{forma.valid}}
                    <h4>{{accion}} Noticia</h4>
                </div>
                <img class="img-fluid" alt="">
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-danger" *ngIf="error" role="alert">
                {{ mensajeError }}
            </div>
            <div class="alert alert-success" *ngIf="exito" role="alert">
                La noticia {{ mensajeExito }} ha sido registrada Exitosamente.!!!
                <!-- La noticia {{ mensajeExito | slice: 0: 20 }}... ha sido registrada Exitosamente.!!! -->
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regNoticia()">

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="titulo" class="font-weight-bold">Título</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Título" formControlName="titulo">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="resumen" class="font-weight-bold">Resumen</label>
                        <input type="text" class="form-control" id="resumen" placeholder="Resumen (sugerido menos de 35 palabras)" formControlName="resumen">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-7">
                        <label for="exampleFormControlFile1" [ngClass]="{'font-weight-bold': titulo !== 'nueva'}">{{cambiarFoto}} Fotografías</label>
                        <input type="file" (change)="selimg( $event.target.files)" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFile1" multiple>
                    </div>
                    <div class="form-group col-xs-12 col-md-5">
                        <label for="fecha" class="font-weight-bold">Fecha</label>
                        <input type="date" class="form-control" id="fecha" placeholder="Fecha de Publicación" formControlName="fecha">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="cuerpo" class="font-weight-bold">Cuerpo</label>
                        <textarea class="form-control" id="cuerpo" placeholder="Párrafo de la Noticia" rows="15" formControlName="cuerpo"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <button (click)="back()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                    <!-- CORREGIR <button [disabled]="!forma.valid || nombreImagen === ''" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de NoticiasInstituto ================= -->