<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display: block" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" style="height: 54px;" onclick="w3_close()">IpiCOM &times;</button>

    <!-- ================= Begin SideBar ================= -->
    <div id="accordionDocente">
        <div class="card" *ngFor="let curso of cursos; index as i">
            <button class="btn btn-link card-header dropdown-toggle collapsed aqpd12px" data-toggle="collapse" [attr.data-target]="'#collapseDocente' + i" aria-expanded="false" [attr.aria-controls]="'collapseDocente' + i">
                <!-- revisar antes de liberar fas fa -->
                <i class="fas fa-adjust fa-2x"></i>
                <span> {{curso.sigla}} {{curso.nombre | slice:0:13}}.. </span>
            </button>
            <div [attr.id]="'collapseDocente' + i" class="collapse" [attr.aria-labelledby]="'headingDocente' + i" data-parent="#accordionDocente">
                <div class="card-body">
                    <div *ngFor="let modulo of modulosPorCurso[i]; index as ii">
                        <a [routerLink]="['/docente', curso.sigla, modulo.numero, 'notas']">-{{modulo.nombre | slice}}..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End SideBar ================= -->
</div>

<div id="main" style="margin-left: 200px">

    <div class="w3-teal d-flex justify-content-between" style="height: 54px;">
        <div class="row mx-0">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()" style="display: none">&#9776;</button>
            <h3 class="mx-2 my-auto">My Page Docente</h3>
        </div>
        <div class="my-auto mr-1">
            <img width="28px" height="32px" src="../../assets/svg/personProf.svg" alt="profesor">
            <span>{{nombre}}</span>
            <button (click)="logout()" type="button" class="btn btn-danger">Cerrar Sesión</button>
        </div>
    </div>

    <!-- ================= Begin Content ================= -->
    <router-outlet></router-outlet>
    <!-- ================= End Content ================= -->

</div>