<p>
    docente-documentos works!
</p>

<div>nombreDocumento {{nombreDocumento}},nombreAuxiliar {{nombreAuxiliar}},docPathAnterior {{docPathAnterior}}</div>
<!-- ================= Begin Formulario de Registro/Edición de Caracteristicas ================= -->
<!-- <div style="background-color: #ecf0f5" *ngIf="modulo"> -->

<div class="container-fluid border py-4" *ngIf="modulo">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Documentos del módulo: {{modulo.nombre}}</h3>
        </div>

        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button (click)="cargarForma()" class="btn btn-primary" type="button" data-toggle="modal" data-target="#documentoModal">Registrar</button>

        </div>
    </div>

    <div class="mt-4 mx-3">
        <!-- ================= Begin Alertas Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Error ================= -->
        <div class="">
            <div class=" border-bottom" *ngFor="let documento of documentos; index as i">
                <div class="p-2 d-flex justify-content-between">
                    <div class="align-self-end">
                        <img style="height: 30px; width: 30px;" src="../../../assets/svg/file.svg" alt="">{{documento.nombre}}, {{documento.descripcion}}
                    </div>
                    <div>
                        <div class="d-flex">
                            <button (click)="editarDocumento(documento, i)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#documentoModal">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#eliDocumentoModal" (click)="posicionaDocumento(documento, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ================= End Formulario de Registro de Caracteristicas ================= -->

<!-- ================= Begin RegistrarDocumentoModal ================= -->
<div class="modal fade" id="documentoModal" tabindex="-1" role="dialog" aria-labelledby="documentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="border: 0px">
            <form [formGroup]="forma" (ngSubmit)="registrarDocumento()">
                <div class="modal-header px-4 aqbgpristine">
                    <h5 class="modal-title text-white" id="documentoModalLabel">{{accion}} documento "{{nombreAuxiliar}}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-4 py-3">
                    <!-- ================= Begin Alertas Exitos Error ================= -->
                    <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                        {{ mensajeExito }}
                    </div>
                    <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                        {{ mensajeError }}
                    </div>
                    <!-- ================= End Alertas Exitos Error ================= -->
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="descripcion" class="font-weight-bold">Descripción</label>
                            <input type="text" class="form-control" id="descripcion" placeholder="Descripción del documento" formControlName="descripcion">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="exampleFormControlFileDocente1" [ngClass]="{'font-weight-bold': nombre !== 'nueva'}">{{accion}} documento*</label>
                            <input type="file" (change)="selDocumento( $event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFileDocente1" required="true">
                            <small class="form-text text-danger" *ngIf="nombreDocumento === '' && accion !== 'Actualizar'">*Es necesario*</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary btn-lg mt-4" (click)="cargarForma()" data-dismiss="modal">Cancelar</button>
                    <button type="submit" [disabled]="nombreDocumento === ''" class="btn btn-primary btn-lg mt-4">Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- ================= End RegistrarDocumentoModal ================= -->

<!-- ================= Begin Modal ================= -->
<div class="modal fade" id="eliDocumentoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Esta seguro de eliminar el documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" *ngIf="documento!=null">
                <div>
                    {{ documento.nombre }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="eliModal()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- ================= End Modal ================= -->