<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display: block" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" style="height: 54px;" onclick="w3_close()">IpiCOM &times;</button>

    <!-- ================= Begin SideBar ================= -->
    <div id="accordionAdmin">
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle " id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-adjust fa-2x"></i>
                <span>Instituto</span>
            </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a [routerLink]="['/admin','instituto']">Instituto</a></div>
                    <div><a [routerLink]="['/admin','instituto','caracteristicas']">Características</a></div>
                    <div><a [routerLink]="['/admin','instituto','equipo-de-trabajo']">Equipo de Trabajo</a></div>
                    <div><a [routerLink]="['/admin','instituto','noticias']">Noticias</a></div>
                    <div><a [routerLink]="['/admin','instituto','sitios-interes']">Sitios de Interés</a></div>
                    <div *ngIf="consultasNoleidas===0"><a [routerLink]="['/admin','instituto','consultas']">Consultas</a></div>
                    <div *ngIf="consultasNoleidas!==0"><a [routerLink]="['/admin','instituto','consultas']">Consultas <span class="badge badge-success"> {{consultasNoleidas}} Nuevas </span></a></div>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-adjust fa-2x"></i>
                <span>Posgrado</span>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a [routerLink]="['/admin','posgrado']">Posgrado</a></div>
                    <div><a [routerLink]="['/admin','posgrado','cursos']">Cursos</a></div>
                    <div><a [routerLink]="['/admin','posgrado','modulos']">Módulos</a></div>
                    <div><a [routerLink]="['/admin','posgrado','docentes']">Docentes</a></div>
                    <div><a [routerLink]="['/admin','posgrado','estudiantes']">Estudiantes</a></div>
                    <div><a [routerLink]="['/admin','posgrado','notas']">Notas</a></div>
                    <div><a [routerLink]="['/admin','posgrado','asistencia']">Asistencia</a></div>
                    <!-- <div><a [routerLink]="['/admin','posgrado','avisos']">Avisos</a></div> -->
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fas fa-adjust fa-2x"></i>
                <span>Investigación</span>        
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a [routerLink]="['/admin','investigacion']">Investigacion</a></div>
                    <div><a [routerLink]="['/admin','investigacion','convocatorias']">Convocatorias</a></div>
                    <div><a [routerLink]="['/admin','investigacion','docentes-investigadores']">Investigadores</a></div>
                    <div><a [routerLink]="['/admin','investigacion','investigaciones']">Proyectos</a></div>
                    <div><a [routerLink]="['/admin','investigacion','auxiliares-investigadores']">Auxiliares Inv</a></div>

                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-link card-header dropdown-toggle collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <i class="fas fa-adjust fa-2x"></i>
                <span>Interacción</span>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionAdmin">
                <div class="card-body">
                    <div><a [routerLink]="['/admin','interaccion']">Interacción</a></div>
                    <div><a [routerLink]="['/admin','interaccion','eventos']">Eventos</a></div>
                    <div><a [routerLink]="['/admin','interaccion','participantes']">Participantes</a></div>
                    <div><a>Docente</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End SideBar ================= -->
</div>

<div id="main" style="margin-left: 200px">

    <div class="w3-teal d-flex justify-content-between" style="height: 54px;">
        <div class="row mx-0">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()" style="display: none">&#9776;</button>
            <h3 class="mx-2 my-auto">My Page Admin</h3>
        </div>
        <div class="my-auto mr-1">
            <div *ngIf="consultasNoleidas===0">
                <div class="rounded p-2" style="border-color: #0b812e">
                    <a [routerLink]="['/admin','instituto','consultas']">
                        <img width="28px" height="32px" src="../../assets/svg/mail-read.svg" alt="">
                    </a>
                </div>
            </div>
            <div *ngIf="consultasNoleidas!==0">
                <a [routerLink]="['/admin','instituto','consultas']">
                    <div class="rounded p-2" style="border-color: #ff2357">
                        <img width="28px" height="32px" img src="../../assets/svg/mail.svg" alt="notifications">
                        <span class="badge badge-danger"> {{consultasNoleidas}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="my-auto mr-1">
            <img width="28px" height="32px" src="../../assets/svg/key.svg" alt="profesor">
            <span>{{nombre}}</span>
            <button (click)="logout()" type="button" class="btn btn-danger">Cerrar Sesión</button>
        </div>
    </div>

    <!-- ================= Begin Content ================= -->
    <router-outlet></router-outlet>
    <!-- ================= End Content ================= -->

</div>