@font-face {
    font-family: PT_Sans-Web-Bold;
    src: url(../../assets/fuentes/PT_Sans-Web/PT_Sans-Web-Bold.ttf);
}

@font-face {
    font-family: PT_Sans-Web-BoldItalic;
    src: url(../../assets/fuentes/PT_Sans-Web/PT_Sans-Web-BoldItalic.ttf);
}

@font-face {
    font-family: PT_Sans-Web-Italic;
    src: url(../../assets/fuentes/PT_Sans-Web/PT_Sans-Web-Italic.ttf);
}

@font-face {
    font-family: PT_Sans-Web-Regular;
    src: url(../../assets/fuentes/PT_Sans-Web/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: PT_Serif-Web-Regular;
    src: url(../../assets/fuentes/PT_Serif-Web/PT_Serif-Web-Regular.ttf);
}

@font-face {
    font-family: PT_Serif-Web-Bold;
    src: url(../../assets/fuentes/PT_Serif-Web/PT_Serif-Web-Bold.ttf);
}

@font-face {
    font-family: Inconsolata-Regular;
    src: url(../../assets/fuentes/Inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: Inconsolata-Bold;
    src: url(../../assets/fuentes/Inconsolata/Inconsolata-Bold.ttf);
}

@font-face {
    font-family: Share-Regular;
    src: url(../../assets/fuentes/Share/Share-Regular.ttf);
}

@font-face {
    font-family: Share-Bold;
    src: url(../../assets/fuentes/Share/Share-Bold.ttf);
}