<!-- ================= Begin Event ================= -->
<div class="row mx-0" *ngIf="evento">
    <section class="col-lg-9 px-0">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/interaction']" class="aqsbtx aqlihov">Interacción</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/interaction','events']" class="aqsbtx aqlihov">Eventos</a></li>
                    <li class="breadcrumb-item active"><a>{{evento.titulo}}</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin EVENT CQCQCQCQCQCQCQCQCQCQCQCQCQCCQCQCQCQCQCQCQCQCQCQCQCQCQCQCQCQ ================= -->
        <!-- ================= Begin Title ================= -->
        <div class="row mx-0 aqpxsc9 aqcon90">
            <h1 class="aqffsr" style="line-height: 1.1;">{{evento.titulo}}</h1>
        </div>
        <!-- ================= End Title ================= -->
        <!-- ================= Begin Dates ================= -->
        <div class="row mx-0 aqpxsc9">
            <div class="p-0 col-12 col-md-6 col-lg-4">
                <img [src]="evento.imgpath | seleccionaImagen:'inteEventos':1" class=" img-fluid">
            </div>
            <div class="aqpxsc9 mt-4 col-12 col-md-6 col-lg-7 align-self-end">
                <h4 class="aqffsr">{{ evento.fecha | date:'EEEE' | titlecase }}, {{evento.fecha | date: 'd'}} de {{evento.fecha | date:'MMMM, y' | titlecase}}</h4>
                <h4 class="aqffsr"> {{evento.fecha | date:'h:mm a'}}</h4>
                <h4 class="aqffsr">{{evento.lugar }}</h4>
                <h4 class="aqffsr" *ngIf="evento.descripcion_capacitador !== ''">{{evento.descripcion_capacitador }}</h4>
                <h4 class="aqffsi" style="font-size: 1.1rem">Auspiciado por:</h4>
                <h4 class="aqffsi" style="font-size: 1.1rem">{{evento.auspiciadores}}</h4>
            </div>
        </div>
        <!-- ================= End Dates ================= -->
        <!-- ================= Begin Content ================= -->
        <div class="row mx-0 aqpxsc9 mt-4 col-12 aqcon90 aqcontxsc9">
            <div>
                <p *ngFor="let parrafo of parrafos">{{ parrafo }}</p>
            </div>
        </div>
        <div class="row mx-0 aqpxsc9">
            <table class="aqffsi">
                <tr>
                    <td class="d-flex justify-content-end p-2 aqtxcobl">CUANDO:</td>
                    <td class="p-2">{{ evento.fecha | date:'EEEE' | titlecase }}, {{evento.fecha | date: 'd'}} de {{evento.fecha | date:'MMMM, y h:mm ' | titlecase}},{{evento.fecha | date:'a'}}</td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-end p-2 aqtxcobl">DONDE:</td>
                    <td class="" style="padding: 8px">{{evento.lugar}}</td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-end p-2 aqtxcobl">ENTRADA:</td>
                    <td class="p-2">{{evento.entrada}}</td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-end p-2 aqtxcobl">AUDIENCIA:</td>
                    <td class="p-2">{{evento.dirigido_a}}</td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-end p-2 aqtxcobl">CONTACTO:</td>
                    <td class="p-2">{{evento.contactos}}</td>
                </tr>
            </table>
        </div>
        <!-- ================= End Content ================= -->
        <!-- ================= End EVENT CQCQCQCQCQCQCQCQCQCQCQCQCQCCQCQCQCQCQCQCQCQCQCQCQCQCQCQCQCQ ================= -->
    </section>

    <aside class="col-lg-3 aqpx mt-3">
        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqmt20">
            <div class="aqinfo">
                <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
                <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
                <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
                <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
            </div>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>

</div>
<!-- ================= End Event ================= -->