<!-- ================= Begin Home ================= -->

<!-- ================= Begin Slider ================= -->
<!-- TODO DEBE VENIR DE LA DB -->
<div class="row mx-0">
    <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
        <ol class="aqpx mx-0 d-flex justify-content-end carousel-indicators mb-0">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/img/slgalaxy.jpg" alt="Bienvenidos">
                <a href="noticeipi.html" class=" aqsltx carousel-caption carouselcaption d-none d-md-block">
                    <h1 class="text-uppercase">BIENVENIDOS AL IPICOM</h1>
                    <h4 class="mb-0">Rigor académico, honestidad intelectual, generar conocimiento hacer accesible este y el preexistente por medio de espacios, acciones de promocion, debate y difusión. </h4>
                </a>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/slbienvenidos.jpg" alt="Bienvenidos">
                <a href="noticeipi.html" class="aqsltx carousel-caption carouselcaption d-none d-md-block">
                    <h1 class="text-uppercase">BIENVENIDOS AL IPICOM</h1>
                    <h4 class="mb-0">Rigor académico, honestidad intelectual, generar conocimiento hacer accesible este y el preexistente por medio de espacios, acciones de promocion, debate y difusión.</h4>
                </a>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/slmaestria-continua.jpg" alt="La maestría continua">
                <a href="noticeipi.html" class="aqsltx carousel-caption carouselcaption d-none d-md-block">
                    <h1 class="text-uppercase">La Maestría en Gestión de la Comunicación continúa!</h1>
                    <h4>El martes 3 de julio se dio inicio al Taller de Tesis II, dictado por la destacada profesional MSc. Rigliana Portugal.</h4>
                </a>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/sltaller-seguridadciudadana.jpg" alt="Taller seguridad ciudadana">
                <a href="noticeipi.html" class="aqsltx carousel-caption carouselcaption d-none d-md-block">
                    <h1 class="text-uppercase">taller de Difusión y Capacitación en Seguridad Ciudadana</h1>
                    <h4>El IpiCOM y la Secretaría Municipal de Seguridad Ciudadana del Gobierno Autónomo Municipal de El Alto (GAMEA) llevarán adelante actividades conjuntas en el marco de la campaña de reducción de violencia de género.</h4>
                </a>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- ================= End Slider ================= -->

<!-- ================= Begin Content ================= -->

<div class="row mx-0">
    <section class="col-lg-9 px-0">
        <!-- ================= Begin Imagen ================= -->
        <!-- <div class="aqpxsc9 aqffsb container-fluid mt-3">
            <div class="row mx-0 justify-content-center d-flex align-items-end">
                <img class="aqimglogo mr-1" src="../../../assets/img/logot_IpiCOM.png">
                <h1 class="mb-0 aqtxcole aqsgI">I</h1>
                <h1 class="mb-0 aqtxcole">pi</h1>
                <h1 class="mb-0 aqtxcore" style="letter-spacing: -2px;">COM</h1>
            </div>

            <div class="aqtxcobl row mx-0 justify-content-center">
                <h5 class="mb-0 text-center">Instituto de Investigacion, Posgrado e Interaccion Social en Comunicacion</h5>
            </div>
            <div class="aqtxcole row mx-0 justify-content-center">
                <h5 class="mb-0 text-center">CARRERA DE CIENCIAS DE LA COMUNICACION SOCIAL - UMSA</h5>
            </div>
        </div> -->
        <!-- ================= End Imagen ================= -->

        <!-- ================= Begin Panel ================= -->
        <div class="row mx-0 mt-4 aqpxsc9rest">
            <div class="col-md-4 my-3 px-0">
                <div class="aqun bblesf aqmxsc9card3" style="background: #fcfcfc">
                    <h3 class="pb-3 aqtxcole"><span class="aqbble4">{{uInves.nombre}}</span></h3>
                    <p class="aqmb20 ">{{uInves.descripcion}}</p>
                    <a [routerLink]="['/investigation']" class="aqtxcole">Ver Unidad</a>
                </div>
            </div>
            <div class="col-md-4 my-3 px-0">
                <div class="aqun bbblsf aqmxsc9card3" style="background: #fcfcfc">
                    <h3 class="pb-3 aqtxcoblsf"><span class="aqbbbl4">{{uPosgr.nombre}}</span></h3>
                    <p class="aqmb20 ">{{uPosgr.descripcion}}</p>
                    <a [routerLink]="['/postgraduate']" class="aqtxcoblsf">Ver Unidad</a>
                </div>
            </div>
            <div class="col-md-4 my-3 px-0">
                <div class="aqun bbresf aqmxsc9card3" style="background: #fcfcfc">
                    <h3 class="pb-3 aqtxcoresf"><span class="aqbbre4">{{uInter.nombre}}</span></h3>
                    <p class="aqmb20 ">{{uInter.descripcion}}</p>
                    <a [routerLink]="['/interaction']" class="aqtxcoresf">Ver Unidad</a>
                </div>
            </div>
        </div>
        <!-- ================= End Panel ================= -->

        <!-- ================= Begin Video ================= -->
        <!-- TODO DEBE VENIR DE LA DB -->
        <div class="row mx-0 mt-4 aqpxsc9">

            <iframe width="840" height="473" [src]="videopath | videoYoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <video src="../../../assets/video/video presentacion umsa.mp4" controls="controls bg" class="aqvideo">Este Video no soporta tu navegador</video> -->
        </div>
        <!-- ================= End Video ================= -->
    </section>

    <aside class="aqpx col-lg-3 mt-3">
        <!-- ================= Begin Newness ================= -->
        <!-- TODO DEBE VENIR DE LA DB -->
        <div class="my-3">
            <h3 class="aqsbtisi">NOVEDADES</h3>
            <a [routerLink]="['/interaction','events', evento.titulo | rempEsp ]" class="" style="color: #333333" *ngFor="let evento of eventos">
                <div class="aqhovne d-flex flex-row mt-4">
                    <div class="d-flex align-items-center aqcal">
                        <div class="aqcalfec"><span class="aqtxsi2">{{evento.fecha | date:'dd'}}</span><br><span class="text-uppercase">{{evento.fecha | date:'MMM'}}</span>
                        </div>
                    </div>
                    <div class="pl-3">
                        <div>
                            <h5 class="aqcalti text-uppercase">{{evento.titulo}}</h5>
                            <h6 class="aqcalst mb-0">{{evento.descripcion_capacitador}}</h6>
                            <span class="aqcalfe  text-uppercase">{{evento.fecha | date:'dd MMM yyyy'}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- <a href="" class="" style="color: #333333">
                <div class="aqhovne d-flex flex-row mt-4">
                    <div class="d-flex align-items-center aqcal">
                        <div class="aqcalfec"><span class="aqtxsi2">21</span> SEP
                        </div>
                    </div>
                    <div class="pl-3">
                        <div>
                            <h5 class="aqcalti text-uppercase">Curso de Capacitación para Docentes de la UMSA</h5>
                            <h6 class="aqcalst mb-0">Dicta: PhD. Erick Torrico - Docente investigador del IpiCOM</h6>
                            <span class="aqcalfe">21 SEP 2018</span>
                        </div>
                    </div>
                </div>
            </a> -->
        </div>
        <!-- ================= End Newness ================= -->

        <!-- ================= Begin Jumbotron Form Inscription ================= -->
        <a href="documents/FORMULARIO-DE-PREINSCRIPCION.xlsx">
            <div class="aqinfo aqmt20">
                <p><span>FORMULARIO DE INSCRIPCIÓN</span><br>Maestría en Gestión de la Comunicación</p>
            </div>
        </a>
        <!-- ================= End Jumbotron Form Inscription ================= -->

        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqmt20">
            <div class="aqinfo">
                <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
                <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
                <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
                <p class="mt-3"><span>Directora IpiCOM</span><br>Msc. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
            </div>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->
    </aside>
</div>

<!-- ================= Begin News ================= -->
<!-- TODO DEBE VENIR DE LA DB -->
<div class="mt-5">
    <div class="row mx-0 aqpx">
        <div>
            <h2 class="aqsbti">NOTICIAS</h2>
        </div>
    </div>
    <div class="row mx-0 aqpxsc">
        <div class=" col-md-3 my-3 px-0" *ngFor="let noticia of noticias">
            <a [routerLink]="['/about','notices', noticia.titulo | rempEsp]" class="hovred aqmxcard card">
                <div class="h-100">
                    <!-- http://localhost:3000/api/containers/img/download/0grupos-focales.jpg?access_token=AQDss8I1Jx187NS81l9dwlCQu1uJt8B6t1HcEAhCTCcGnM8u6pPntUTbYtATrneY -->
                    <img class="card-img-top aqimgsimaxx" [src]="noticia.imgpath | seleccionaImagen:'instNoticias' :1" alt="Card image cap">
                </div>
                <div class="card-body px-0">
                    <h5 class="aqticard card-title text-truncate" [title]="noticia.titulo">{{ noticia.titulo }}</h5>
                    <p class="card-text px-0">{{ noticia.resumen }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- ================= End News ================= -->

<!-- ================= End Content ================= -->

<!-- ================= End Home ================= -->