.carouselcaption {
    bottom: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 16%, rgba(0, 0, 0, 0.54) 56%, rgba(0, 0, 0, 0.74) 87%, rgba(0, 0, 0, 0.74) 100%);
}

.aqcov {
    height: 600px;
    object-fit: cover;
}

.aqsltxbg {
    background: rgba(127, 127, 127, 0.2);
}

.aqsltxbg:hover {
    color: #f0f0f0;
}

.aqsltx {
    color: #fff;
    font-family: PT_Sans-Web-Regular;
    text-align: left;
    left: 0%;
    right: 0%;
    padding-left: 2%;
    padding-right: 2.2%;
}

.aqsgI {
    font-family: Share-Bold;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}

.aqun {
    padding: 2.6rem 2rem;
    -webkit-box-shadow: 0px 0px 8px 1px #ccc;
    box-shadow: 0px 0px 8px 1px #ccc;
}

.aqmb20 {
    margin-bottom: 2rem;
}

.aqun.bblesf {
    border-bottom: 5px solid #666666;
}

.aqun.bbblsf {
    border-bottom: 5px solid #306DA7;
}

.aqun.bbresf {
    border-bottom: 5px solid #c4213a;
}

.aqbble4 {
    border-bottom: 4px solid #f2f2f2;
}

.aqbbbl4 {
    border-bottom: 4px solid #d7e6f4;
}

.aqbbre4 {
    border-bottom: 4px solid #fbe9ec;
}

.aqvideo {
    width: 90%;
    min-height: 450px;
    -webkit-box-shadow: 0px 0px 8px 1px #ccc;
    box-shadow: 0px 0px 8px 1px #ccc;
}

.aqhovne:hover {
    background-color: #f7f7f7;
}

.aqcal {
    width: 4rem;
    height: 3.5rem;
    -webkit-box-shadow: 0px 0px 2px 1px #264162;
    box-shadow: 0px 0px 2px 1px #264162;
    text-align: center;
}

.aqcalfec {
    color: #264162;
    line-height: 80%;
    font-size: 1rem;
    letter-spacing: 2px;
    -ms-flex-line-pack: bottom;
    align-content: bottom;
}

.aqcalfe {
    font-size: 0.9rem;
    font-family: PT_Sans-Web-Regular;
}

.aqtxsi2 {
    font-size: 2rem;
}

.aqcalti {
    font-size: 1.1rem;
    font-family: PT_Sans-Web-Bold;
}

.aqcalst {
    font-size: 1rem;
    font-family: PT_Sans-Web-Regular;
}