<!-- ================= Begin Nav ================= -->
<nav class="navbar aqpx aqbgbl fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand py-0 mr-2" [routerLink]="['/']">
        <img src="../../../assets/img/logofb_IpiCOM.png" width="45" height="45" alt="IpiCOM">
    </a>
    <a class="navbar-brand pb-0 aqtxsi150" [routerLink]="['/']"><span class="aqsgi">I</span>piCOM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="aqtxcowh mr-1">Quienes Somos</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/about']">Nosotros</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/about',caracte.nombre | rempEsp]" *ngFor="let caracte of caracteristicas">{{ caracte.nombre }}</a></div>
            </li>
            <li class="nav-item dropdown">
                <a class="aqtxwh nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="aqtxcowh mr-1">Investigacion</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/investigation']">Lineamiento</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/investigation','publications']">Proyectos</a>
                    <a class="dropdown-item" [routerLink]="['/investigation','teachers']">Investigadores</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="aqtxcowh mr-1">Posgrado</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/postgraduate']">Descripcion</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/postgraduate','courses']">Cursos</a>
                    <a class="dropdown-item" href="posnotices.html">Noticias</a>
                    <a class="dropdown-item" href="#">Recursos</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="aqtxcowh mr-1">Interaccion</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/interaction']">Actividades</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/interaction','events']">Eventos Realizados</a>
                </div>
            </li>
            <!-- <li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 7.5rem">
                    <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit">Buscar</button>
                </form>
            </li> -->
            <li>
                <button [routerLink]="['/login']" class="btn btn-outline-light ml-4 my-2 my-sm-0" type="button" data-target="#exampleModalCenter">Acceder</button>
            </li>
        </ul>
    </div>
</nav>
<!-- ================= End Nav ================= -->