<!-- <p>
    estudiante-notas works!
</p> -->
<div class="container border py-4 my-2" *ngIf="usuario && curso && notas">
    <div class="mx-3 pb-2 border-bottom">
        <div class="">
            <h3 class="mb-0">{{ curso.nombre }}</h3>
        </div>
        <div class="mt-4">

            <h3 *ngIf="documentos">Documentos</h3>

            <div class="">
                <div class=" border-bottom" *ngFor="let documento of documentos; index as i">
                    <div class="p-2 d-flex justify-content-between">
                        <div class="align-self-end">
                            <a [href]="documento.docpath | seleccionaImagen:'docsPosgrado'" class="aqicfo" target="_blank">
                                <img style="height: 30px; width: 30px;" src="../../../assets/svg/file.svg" alt="">{{documento.nombre}}, {{documento.descripcion}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-4">
            <h3 class="mb-0">Reporte de Notas: {{usuario.pri_nombre}} {{ usuario.paterno }} {{ usuario.materno }}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button type="button" class="btn btn-primary" [disabled]="mensaje" (click)="generarPDF()">Imprimir</button>
        </div>
    </div>

    <div class="mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-danger" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <!-- <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            {{ mensajeExito }}
        </div> -->
        <!-- ================= End Alertas Exitos Error ================= -->

        <table class="table table-bordered" *ngIf="!mensaje">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 4%" scope="col" class="text-center">N°</th>
                    <th style="width: 55%" scope="col">Módulo</th>
                    <th style="width: 17%" scope="col">Fecha</th>
                    <th style="width: 7%" scope="col">Nota</th>
                    <th style="width: 17%" scope="col">Detalle</th>
                </tr>
            </thead>
            <!-- <form [formGroup]="forma" (ngSubmit)="registrarNotas()"> -->
            <tbody>
                <tr *ngFor="let modulo of modulos; index as i">
                    <th scope="row" class="text-center">{{modulo.numero}}</th>
                    <td>{{modulo.nombre}}</td>
                    <td>{{modulo.inicio_clases | date:'dd/MM/yyyy'}} {{modulo.fin_clases | date:'dd/MM/yyyy'}}</td>
                    <td>{{modulo.nota.nota | notaNumeral }}</td>
                    <td>{{modulo.nota.nota | notaDetalle }}</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>