<p>
    sitios-interes works!
</p>
<div class="container-fluid border"><br>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Sitios de Interés</h3>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito !== ''" role="alert">
            El sitio de interés {{ mensajeExito }} ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensajeError !== ''" role="alert">
            {{ mensajeError }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->

    <!-- ================= Begin Alertas Exitos Error ================= -->
    <!-- <div class="alert alert-danger" *ngIf="error" role="alert">
        {{ mensajeError }}
    </div> -->

    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="mt-4">
        <form [formGroup]="forma" (ngSubmit)="registrarSitio()">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="px-2 text-center">#</th>
                        <th scope="col">Nombre de la Institución</th>
                        <th scope="col">Dirección de Internet (URL)</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sitio of sitios; index as i">
                        <th scope="row" class="px-2 text-center">{{i+1}}</th>
                        <td>{{sitio.nombre}}</td>
                        <td>{{sitio.direccion_url}}</td>
                        <td>
                            <div class="d-flex">
                                <button (click)="editarSitioInteres(sitio)" type="button" class="btn btn-warning">Editar</button>
                                <div style="width: 0.25rem"></div>
                                <button type="button" data-toggle="modal" data-target="#ModalSitiosInt" (click)="eliModal(sitio, i)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td><input type="text" class="form-control" id="nombre" placeholder="Nombre Institución" formControlName="nombre"></td>
                        <td><input type="text" class="form-control" id="direccion_url" placeholder="https://www.ejemplo.com" formControlName="direccion_url"></td>
                        <td>
                            <div class="d-flex">
                                <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Guardar</button>
                                <div style="width: 0.25rem" *ngIf="this.editar"></div>
                                <button (click)="cargarForma()" class="btn btn-secondary" *ngIf="this.editar">Cancelar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalSitiosInt" tabindex="-1" role="dialog" aria-labelledby="ModalSitiosIntLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSitiosIntLabel">Esta seguro de eliminar el sitio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="sitio!=null">
                    <div>
                        De: {{ sitio.nombre }}
                    </div>
                    <div>
                        Con dirección: {{ sitio.direccion_url}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliSitioInteres()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->

</div>