<!-- ================= Begin Courses ================= -->
<div class="row mx-0">
    <section class="col-lg-9 px-0">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/postgraduate']" class="aqsbtx aqlihov">Posgrado</a></li>
                    <li class="breadcrumb-item active"><a>Cursos</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin NewsInstitute sc9card3 ================= -->
        <div class="mt-2">
            <div class="row mx-0 aqpxsc9">
                <h2 class="aqsbti">CURSOS DE POSGRADO</h2>
                <div class="row mx-0 my-3 border" *ngFor="let curso of cursos">
                    <a [routerLink]="['/postgraduate','courses',curso.sigla]" class="px-4 pt-4">
                        <h1 class="aqffser aqticocurpos aqlicurpos">{{curso.nombre}} {{curso.sigla}}</h1>
                        <div class=" mx-0 aqticocurpos aqffsi aqtxincurpos">
                            Gestión {{ curso.gestion }} - Resolucion Facultativa N° {{ curso.nro_resolucion }}
                        </div>
                    </a>
                    <div class="px-4 pb-3 pt-1 mt-3 border-top">
                        <a [routerLink]="['/postgraduate','courses', curso.sigla,'Plan-de-Estudios']">
                            <h2 class="aqh2 aqffser aqticocurpos">Plan de Estudios y Profesores de la MGC</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mx-0 aqpxsc9">
                <nav aria-label="...">
                    <ul class="pagination aqsbtx">
                        <li (click)="carga(actual-1)" class="page-item" [ngClass]="{'disabled': actual === 0}">
                            <a class="page-link ">Anterior</a>
                        </li>
                        <li (click)="carga(i)" class="page-item" [ngClass]="{'disabled': actual === i }" *ngFor="let item of numPag; index as i">
                            <a class="page-link " [ngClass]="{'aqund': actual === i }">{{i+1}}</a>
                        </li>
                        <li (click)="carga(actual+1)" class="page-item" [ngClass]="{'disabled': actual === total-1}">
                            <a class="page-link ">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- ================= End NewsInstitute sc9card3 ================= -->
    </section>

    <aside class="col-lg-3 aqpx">

        <!-- ================= Begin List Flush Notice revisar antes de produccion ================= -->
        <div class="list-group list-group-flush">
            <a class="aqpysbti aqpx20 list-group-item">
                <h6 class="aqsbtisi">SITIOS DE INTERÉS</h6>
            </a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" href="http://fcs.umsa.bo/web/comunicacion" target="_blank">Comunicación Social <br> Facultad de Ciencias Sociales</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" href="http://www.aboic.org.bo/" target="_blank">Asociación Boliviana de Investigadores de la Comunicación</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" href="http://www.tvu.umsa.bo" target="_blank">TVU</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" href="http://lacatedra.umsa.bo" target="_blank">La Cátedra</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" href="http://www.alaic.net" target="_blank">Asociación Latinoamericana de Investigadores de la Comunicación</a>
            <a class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" href="http://ciespal.org/" target="_blank">Centro Internacional de Estudios Superiores de Comunicación para América Latina</a>
        </div>
        <!-- ================= Fin List Flush Notice ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>
</div>
<!-- ================= End Courses ================= -->