<!-- ================= Begin Person ================= -->
<div class="row mx-0" *ngIf="carga">

    <section class="col-lg-9 px-0">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about']" class="aqsbtx aqlihov">Nosotros</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about','Equipo-de-Trabajo']" class="aqsbtx aqlihov">Equipo de Trabajo</a></li>
                    <li class="breadcrumb-item active"><a>{{ cargo }}</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin PersonAbstract ================= -->
        <div class="aqpxsc9 aqcon80">
            <div class="aqbbper">
                <h1 class="">{{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}</h1>
                <h3 class="mb-4 aqtxcoblsf">{{usuario.admin.cargo}} del IpiCOM</h3>
            </div>
            <h4 class="mt-4 aqffser">{{usuario.admin.resena}}</h4>
        </div>
        <!-- ================= End PersonAbstract ================= -->

        <!-- ================= Begin PersonExtensive ================= -->
        <div class="aqpxsc9 aqcontxsc9 aqcon80 mt-5">
            <img class="aqimper" [src]="usuario.admin.imgpath | seleccionaImagen: 'instPersonal'">

            <!-- ================= Begin Content ================= -->
            <div *ngFor="let parrafo of descripcion">
                <p [ngClass]="{'aqffseb': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
            </div>
            <!-- ================= End Content ================= -->
        </div>
        <!-- ================= End PersonExtensive ================= -->

    </section>

    <aside class="col-lg-3 aqpx mt-3">
        <!-- ================= Begin Jumbotron Form Inscription ================= -->
        <a href="documents/FORMULARIO-DE-PREINSCRIPCION.xlsx">
            <div class="aqinfo aqmt20">
                <p><span>FORMULARIO DE INSCRIPCIÓN</span><br>Maestría en Gestión de la Comunicación</p>
            </div>
        </a>
        <!-- ================= End Jumbotron Form Inscription ================= -->

        <!-- ================= Begin Jumbotron ContactDetails ================= -->
        <div class="aqinfo aqmt20">
            <p><span>DETALLES DE CONTACTO</span><br>{{usuario.admin.grado}} {{usuario.pri_nombre}} {{usuario.paterno}} {{usuario.materno}}</p>
            <p><span>Oficina</span><br>{{usuario.admin.oficina}}</p>
            <p><span>Email:</span><br>
                <a [attr.href]="'mailto:' + usuario.email">
                    <div class="text-truncate"> {{usuario.email}} </div>
                </a>
            </p>
        </div>
        <!-- ================= End Jumbotron ContactDetails ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->

    </aside>

</div>
<!-- ================= End Person ================= -->