<p>
    list-auxinv works!
</p>
<!-- ================= Begin Lista de AuxiliaresPorConvocatoria ================= -->
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Auxiliares Investigadores de la Gestión {{this.gestion}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','investigacion','convocatorias', gestion,'auxiliares-investigadores','nuevo']" type="button" class="btn btn-primary">Registrar</button>
        </div>
    </div>

    <div class="mt-4">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensajeError }}, {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <table class="table table-bordered" *ngIf="!mensaje">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Apellidos y Nombres</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Denominación</th>
                    <th scope="col">Colaboracion</th>
                    <th scope="col" style="width: 5%">Nueva Col.</th>
                    <th scope="col" style="width: 10%">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of auxsInvestigadores; index as i">
                    <th scope="row" class="text-center">{{i+1}}</th>
                    <td>{{usuario.pri_nombre}} {{usuario.seg_nombre}} {{usuario.paterno}} {{usuario.materno}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>{{usuario.auxiliar.denominacion}}</td>
                    <td>
                        <div class="input-group mb-1" *ngIf="titulosProyectosAuxiliares[i]">
                            <input style="background-color: #fcfcfc" type="text" class="form-control" readonly [value]="titulosProyectosAuxiliares[i]" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button data-toggle="modal" data-target="#ModalProyecto" (click)="elimodalProyecto(usuario,i)" class="btn btn-outline-info" type="button">Eliminar</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button (click)="elimodal(usuario, i)" [disabled]="usuario.auxiliar.proyectoId" type="button" data-toggle="modal" data-target="#ModalRegProyecto" class="btn btn-info">Registrar</button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button [routerLink]="['/admin','investigacion','convocatorias', gestion,'auxiliares-investigadores', usuario.username ]" type="button" class="btn btn-primary">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#ModalAuxiliares" (click)="elimodal(usuario, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal Auxiliar ================= -->
    <div class="modal fade" id="ModalAuxiliares" tabindex="-1" role="dialog" aria-labelledby="ModalAuxiliaresLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAuxiliaresLabel">Esta seguro de ELIMINAR al Auxiliar Investigador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" *ngIf="usuario!=null">
                    <div>
                        {{usuario.auxiliar.denominacion}}: {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliAuxiliarInv()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal Auxiliar ================= -->

    <!-- ================= Begin Modal RegProyecto ================= -->
    <div class="modal fade" id="ModalRegProyecto" tabindex="-1" role="dialog" aria-labelledby="ModalRegProyectoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalRegProyectoLabel">Seleccione el Proyecto a colaborar:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" *ngIf="proyectos.length > 0">
                    <form [formGroup]="forma1">
                        <select (change)="selectElegido($event.target.value)" class="form-control" formControlName="controlRegProy1">
                            <option *ngFor="let proyecto of proyectos" [ngValue]="proyecto.id">
                                {{ proyecto.titulo }}
                            </option>
                          </select>
                    </form>
                </div>
                <div class="modal-body" *ngIf="proyectos.length === 0">
                    No hay proyectos finalizados en esta convocatoria.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button [disabled]="!proyectoId" type="button" (click)="agregarProyecto()" data-dismiss="modal" class="btn btn-primary">Asociar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal RegProyecto ================= -->

    <!-- ================= Begin Modal Proyecto ================= -->
    <div class="modal fade" id="ModalProyecto" tabindex="-1" role="dialog" aria-labelledby="ModalProyectoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalProyectoLabel">Esta seguro de QUITAR el Proyecto de Investigacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body" *ngIf="titulosProyectosAuxiliares[index]">
                    <div>
                        {{titulosProyectosAuxiliares[index]}}
                    </div>
                    <div>
                        de: {{usuario.auxiliar.denominacion}} {{ usuario.pri_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarProyecto()" data-dismiss="modal" class="btn btn-danger">Quitar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal Proyecto ================= -->

</div>
<!-- ================= End Lista de AuxiliaresPorConvocatoria ================= -->