<p>
    cursos works!
</p>
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Cursos</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos','nuevo']" type="button" class="btn btn-primary">Registrar</button>
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-warning" *ngIf="mensaje !== ''" role="alert">
            {{ mensaje }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="row mx-0 d-flex mt-4">
        <div class="card d-inline-flex mx-3 my-2" *ngFor="let curso of cursos; index as i">
            <div class="card-header" style="height: 2.5rem"> </div>
            <div class="card-body">
                <h5 class="card-title">{{curso.sigla}} {{ curso.nombre }}</h5>
                <p class="card-text">Gestión {{ curso.gestion }} - Resolucion Facultativa N° {{ curso.nro_resolucion }}</p>

                <div class="w-100 d-flex justify-content-between">
                    <button [routerLink]="['/admin','posgrado','cursos', curso.sigla,'modulos']" (click)="eliModal(curso, i)" class="btn btn-secondary mx-1" style="width: 40%">Módulos</button>
                    <button [routerLink]="['/admin','posgrado','cursos', curso.sigla]" type="button" class="btn btn-primary mx-1" style="width: 30%">Editar</button>
                    <button type="button" data-toggle="modal" data-target="#CursoModal" (click)="eliModal(curso, i)" class="btn btn-danger mx-1" style="width: 30%">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================= Begin Modal ================= -->
<div class="modal fade" id="CursoModal" tabindex="-1" role="dialog" aria-labelledby="CursoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CursoModalLabel">Esta seguro de eliminar el curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="curso!=null">
                <div>
                    {{ curso.nombre }}
                </div>
                <div>
                    Gestión {{ curso.gestion }} - Resolucion Facultativa N° {{ curso.nro_resolucion }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="eliCurso()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- ================= End Modal ================= -->



<!--   TODO por revisar tiene buena pinta <div class="container-fluid border border-danger row">
    <div class="card-deck d-flex flex-wrap">
        <div class="card mb-3" *ngFor="let curso of cursos">
            <div class="card-header text-white bg-secondary" style="padding: 1.25rem">
                <h3>
                    {{ curso.nombre | uppercase}}
                </h3>
                <div>
                    {{ curso.introduccion }}
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div> -->