<p>
    agr-mul-est works!
</p>
<div class="container-fluid border py-4" *ngIf="modulo">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex">
            <h3 class="mb-0">Agregar Estudiante/s al Módulo: {{ modulo.nombre }} de la {{sigla}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos', sigla,'modulos', numeroModulo,'estudiantes','nuevo']" type="button" class="btn btn-primary">Registrar Nuevo Estudiante</button>
        </div>
    </div>

    <!-- ================= Begin Alertas Exitos Error =================  *ngIf="mensaje"-->
    <div class="alert alert-danger" role="alert" *ngIf="mensaje">
        {{ mensaje }}
    </div>
    <!-- ================= End Alertas Exitos Error =================  *ngIf="!mensaje"-->

    <div id="accordionEstudiantes" *ngIf="cursos">
        <div class="card" *ngFor="let curso of cursos; index as i">
            <div class="card-header" [attr.id]="'heading'+i">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                    Estudiantes del Curso {{curso.sigla}} - {{ curso.nombre }} {{curso.gestion}}
                  </button>
                </h5>
            </div>
            <div [attr.id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordionEstudiantes">
                <!-- ================= Begin Alertas Exitos Error =================  *ngIf="mensaje"-->
                <div class="alert alert-success m-2" role="alert" *ngIf="mensajeEstRegistrados">
                    {{mensajeEstRegistrados}}
                </div>
                <!-- ================= End Alertas Exitos Error =================  *ngIf="!mensaje"-->
                <div *ngIf="estudiantesPorCurso[i] !== 'No hay estudiantes en este Curso' && estudiantesPorCurso[i] !== 'Todos los estudiantes de este curso estan registrados en este módulo'">
                    <div class="card-body p-2">

                        <table class="table table-bordered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-center">#</th>
                                    <th scope="col">Apellidos y Nombres</th>
                                    <th scope="col">Reg. Universitario</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Celular</th>
                                    <th scope="col" class="text-center">Seleccionar estudiante</th>
                                </tr>
                            </thead>
                            <tbody [attr.id]="'tbody'+i">
                                <tr *ngFor="let usuario of estudiantesPorCurso[i]; index as ii">
                                    <th scope="row" class="text-center">{{ii+1}}</th>
                                    <td>{{usuario.paterno}} {{usuario.materno}} {{usuario.pri_nombre}} {{usuario.seg_nombre}}</td>
                                    <td>{{usuario.estudiante.reg_universitario}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.celular}}</td>
                                    <td class="text-center">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input [attr.id]="'aqcheckbox'+i+'-'+ii" class="form-check-input" type="checkbox">
                                                <!-- <label for="">{{i}} {{ii}}</label> -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="d-flex justify-content-end">
                        <button (click)="registrarEstudiantes(i)" type="button" class="btn btn-secondary m-2">Registrar estudiantes seleccionados</button>
                    </div>
                </div>
                <div class="card-body" *ngIf="estudiantesPorCurso[i] === 'No hay estudiantes en este Curso' || estudiantesPorCurso[i] === 'Todos los estudiantes de este curso estan registrados en este módulo'">
                    <!-- ================= Begin Alertas Exitos Error =================  *ngIf="mensaje"-->
                    <div class="alert alert-warning" role="alert">
                        {{ estudiantesPorCurso[i] }}
                    </div>
                    <!-- ================= End Alertas Exitos Error =================  *ngIf="!mensaje"-->
                    <!-- ================= Begin Alertas Exitos Error =================  *ngIf="mensaje"-->
                    <div class="alert alert-sucess" role="alert">
                        {{mensajeEstRegistrados}}
                    </div>
                    <!-- ================= End Alertas Exitos Error =================  *ngIf="!mensaje"-->
                </div>
            </div>
        </div>
    </div>

</div>