<p>
    convocatorias works!
</p>
<!-- ================= Begin Convocatorias de Investigacion ================= -->
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Convocatorias de Investigación</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <!-- <div style="width: 0.5rem"></div> -->
            <!-- <button [routerLink]="['/admin','investigacion','convocatorias','nueva']" type="button" class="btn btn-primary">Registrar</button> -->
        </div>
    </div>

    <div class="mt-4">
        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            La convocatoria de investigación {{ mensajeExito }} ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensajeError" role="alert">
            {{ mensajeError }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->
        <div class="mx-3">
            <form [formGroup]="forma" (ngSubmit)="registrarConvocatoria()">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="px-2 text-center">#</th>
                            <th scope="col">Gestión</th>
                            <th scope="col">Ejes Tematícos</th>
                            <th scope="col" style="width: 35%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let convocatoria of convocatorias; index as i">
                            <th scope="row" class="px-2 text-center">{{i+1}}</th>
                            <td>{{convocatoria.gestion}}</td>
                            <td>{{convocatoria.ejes_tematicos}}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button (click)="editarConvocatoria(convocatoria)" type="button" class="btn btn-warning">Editar</button>
                                    <div style="width: 0.25rem"></div>
                                    <button type="button" data-toggle="modal" data-target="#ModalConvocatoria" (click)="eliModal(convocatoria, i)" class="btn btn-danger">Eliminar</button>
                                    <div style="width: 0.25rem"></div>
                                    <button type="button" [routerLink]="['/admin','investigacion','convocatorias', convocatoria.gestion,'docentes-investigadores']" class="btn btn-info">Investigadores</button>
                                    <div style="width: 0.25rem"></div>
                                    <button type="button" [routerLink]="['/admin','investigacion','convocatorias', convocatoria.gestion,'proyectos-investigacion']" class="btn btn-secondary">Proyectos</button>
                                    <div style="width: 0.25rem"></div>
                                    <button type="button" [routerLink]="['/admin','investigacion','convocatorias', convocatoria.gestion,'auxiliares-investigadores']" class="btn btn-secondary">Auxiliares</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><input type="text" class="form-control" id="gestion" placeholder="Gestión de la Convocatoria" formControlName="gestion"></td>
                            <td><input type="text" class="form-control" id="ejes_tematicos" placeholder="Ejes Tematícos" formControlName="ejes_tematicos"></td>
                            <td>
                                <div class="d-flex">
                                    <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Guardar</button>
                                    <div style="width: 0.25rem" *ngIf="this.editar"></div>
                                    <button (click)="cargarForma()" class="btn btn-secondary" *ngIf="this.editar">Cancelar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- ================= Begin Modal ================= -->
        <div class="modal fade" id="ModalConvocatoria" tabindex="-1" role="dialog" aria-labelledby="ModalConvocatoriaLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalConvocatoriaLabel">Esta seguro de eliminar la Convocatoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body" *ngIf="convocatoria!=null">
                        <div class="" *ngIf="numeroInvssAsociados ===0">
                            De la gestión: {{ convocatoria.gestion }}, eje temático: {{ convocatoria.ejes_tematicos}}
                        </div>
                        <div class="mt-2 text-danger font-italic" *ngIf="numeroInvssAsociados !==0">
                            No se puede eliminar la convocatoria de la <span class="font-weight-bold">gestión: {{ convocatoria.gestion }}</span>, primero Elimine los Docentes Investigadores asociados a ella.
                            <!-- <span class="font-weight-bold">Nota:</span> Se eliminaran los docentes y proyectos asociados a esta convocatoria. -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" [disabled]="numeroInvssAsociados !==0" (click)="eliConvocatoria()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================= End Modal ================= -->
    </div>
</div>
<!-- ================= End Convocatorias de Investigacion ================= -->