.tab {
    overflow: hidden;
    /* border:;
    background-color:; */
}


/* Style the buttons inside the tab */

.tab button {
    position: relative;
    font-family: PT_Serif-Web-Regular;
    color: #286dc0;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    border-right: 1px solid #dee2e6;
}


/* Change background color of buttons on hover */

.tab button:hover {
    color: #333333;
    background-color: rgba(192, 0, 0, 0.025);
}


/* Create an active/current tablink class */

.tab button.active {
    color: #333333;
    border-bottom: 2px solid #c4213a;
    border-right: 1px solid #fff;
}


/* Style the tab content */

.tabcontent {
    display: none;
}