<!-- ================= Begin Course ================= -->
<div class="row mx-0" *ngIf="curso">

    <section class="col-lg-9 px-0">
        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/postgraduate']" class="aqsbtx aqlihov">Posgrado</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/postgraduate','courses']" class="aqsbtx aqlihov">Cursos</a></li>
                    <li class="breadcrumb-item active"><a>{{ sigla }}</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin Title ================= -->
        <div class="aqpxsc9 row mx-0">
            <h1 class="mx-0 aqffser aqticocurpos aqlicurpos">{{ curso.nombre }}</h1>
            <div class="mx-0 aqticocurpos aqffsi aqtxincurpos">
                Gestión {{ curso.gestion }} - Resolución Facultativa N° {{ curso.nro_resolucion }}
            </div>
        </div>
        <!-- ================= End Title ================= -->

        <!-- ================= Begin Tabs =================  col-md-9 ojo revisar-->
        <div class="aqpxsc9 aqmt20">
            <div class="row mx-0 tab">
                <button class="tablinks active" onclick="openChar(event, 'about')">Acerca de</button>
                <button class="tablinks" onclick="openChar(event, 'curriculum')">Áreas</button>
                <button class="tablinks" onclick="openChar(event, 'profiles')">Perfiles</button>
                <button class="tablinks" onclick="openChar(event, 'requirements')">Admisión</button>
                <button class="tablinks" onclick="openChar(event, 'cost')" style="border-right: none;">Costo</button>
            </div>

            <div class="row mx-0 mt-4 aqcontxsc9">

                <div id="about" class="tabcontent aqcon80" style="display: block;">
                    <div *ngFor="let parrafo of parrafosAcerca">
                        <p class="" [ngClass]="{'aqffseb aqsitx175 my-1': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
                    </div>
                </div>

                <div id="curriculum" class=" tabcontent aqcon80">
                    <div *ngFor="let parrafo of parrafosAreas">
                        <p class="" [ngClass]="{'aqffseb aqsitx175 my-1': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
                    </div>
                </div>

                <div id="profiles" class=" tabcontent aqcon80">
                    <div *ngFor="let parrafo of parrafosPerfiles">
                        <p class="" [ngClass]="{'aqffseb aqsitx175 my-1': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
                    </div>
                </div>

                <div id="cost" class="tabcontent aqcon95">
                    <div *ngFor="let parrafo of parrafosCostos">
                        <div *ngIf="!parrafo.includes('$ad$') && !parrafo.includes('$#$')">
                            <p [ngClass]="{'aqffseb aqsitx175 my-1': (parrafo !== (parrafo | subtitulo)) }">
                                {{ parrafo | subtitulo }}
                            </p>
                        </div>
                        <div class="d-flex justify-content-between" style="padding: 1px" *ngIf="parrafo.includes('$ad$')">
                            <div>{{ parrafo | alinder: 'izq' }}</div>
                            <div>{{ parrafo | alinder }}</div>
                        </div>
                        <div class="d-flex justify-content-between aqbb1px" style="padding: 1px" *ngIf="parrafo.includes('$#$')">
                            <div class="aqffsb">
                                {{ parrafo | alinder: 'izq' }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="requirements" class=" tabcontent aqcon80">
                    <div *ngFor="let parrafo of parrafosAdmision">
                        <p class="" [ngClass]="{'aqffseb aqsitx175 my-1': (parrafo !== (parrafo | subtitulo)) }">{{ parrafo | subtitulo }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 px-0">
                <div class="px-4 pb-3 pt-1 mt-5">
                    <a [routerLink]="['/postgraduate','courses', sigla,'Plan-de-Estudios']" title="Ver Plan de Estudios y Profesores">
                        <h2 class="aqffser aqticocurpos"> Ver Plan de Estudios y Profesores de la MGC</h2>
                    </a>
                </div>
            </div>
        </div>
        <!-- ================= End Tabs ================= -->

    </section>

    <aside class="col-lg-3 aqpx mt-3">
        <div class="aqmt20 aqinfo bg-white" style="border-left: 3px solid #c4213a">

            <app-information-course [curso]="curso"></app-information-course>

        </div>

        <!-- ================= Begin Jumbotron Form Inscription ================= -->
        <a href="documents/FORMULARIO-DE-PREINSCRIPCION.xlsx">
            <div class="aqinfo aqmt20">
                <p><span>FORMULARIO DE INSCRIPCIÓN</span><br>Maestría en Gestión de la Comunicación</p>
            </div>
        </a>
        <!-- ================= End Jumbotron Form Inscription ================= -->

        <!-- ================= Begin Jumbotron Area Postgraduate ================= -->
        <div class="aqinfo aqmt20">
            <p><span>ÁREA DE POSGRADO</span><br>Av. 6 de Agosto, Edif. Hoy, piso 4 Teléfono: (591-2) 2612733</p>
        </div>
        <!-- ================= End Jumbotron Area Postgraduate ================= -->

        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqinfo aqmt20">
            <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
            <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
            <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
            <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

    </aside>

</div>
<!-- ================= End Course ================= -->