<p>
    principal-docente works!
</p>
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Bienvenido, registrar notas o subir documentos.</h3>
        </div>
        <div class="d-flex m-1">
            <!-- <button (click)="retrocederPagina()" type="button" class="btn btn-secondary">Volver</button> -->
            <!-- <div style="width: 0.5rem"></div> -->
            <!-- <button [routerLink]="['/admin','posgrado','cursos','nuevo']" type="button" class="btn btn-primary">Registrar</button> -->
        </div>
    </div>

    <div class="row mx-0 d-flex mt-4">
        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->
        <div *ngFor="let curso of cursos; index as i" class="card d-inline-flex mx-3 my-2" style="width: 34rem;">
            <div class="card-header">
                <h5>{{ curso.nombre }} - {{curso.sigla}}</h5>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <div *ngFor="let modulo of modulosPorCurso[i]; index as in" class="aqpointer list-group-item list-group-item-action flex-column align-items-start">
                        <small>Módulo número: {{ modulo.numero }} </small>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="card-title my-2">{{ modulo.nombre }}</h5>
                        </div>
                        <div class="d-flex">
                            <button [routerLink]="['/docente', curso.sigla, modulo.numero, 'documentos']" type="button" class="btn btn-secondary btn-block">Documentos</button>
                            <div style="width: 0.5rem"></div>
                            <button [routerLink]="['/docente', curso.sigla, modulo.numero, 'notas']" type="button" class="btn btn-primary btn-block">Notas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>