<p>
    reg-edi-mod works!
</p>
<!-- ================= Begin Formulario de Registro/Edición de Módulos ================= -->
<div style="background-color: #ecf0f5">
    <div class="container py-5">
        <div class="border border-info rounded px-5 pb-5 pt-4" style="background-color: white">
            <div class="border-bottom mb-3 d-flex justify-content-between">
                <div class="d-flex">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary aqbtnatras" title="Ir arriba"><</button>
                    <h4>{{accion}} Módulo</h4>
                </div>
            </div>
            <!-- ================= Begin Alertas Exitos Error ================= -->
            <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
                El módulo {{ mensajeExito }} ha sido registrado Exitosamente.!!!
            </div>
            <div class="alert alert-danger" *ngIf="mensajeError" role="alert">
                {{ mensajeError }}
            </div>
            <!-- ================= End Alertas Exitos Error ================= -->
            <form [formGroup]="forma" (ngSubmit)="regModulo()">

                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="nombre" class="font-weight-bold">Nombre del Módulo</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numero" class="font-weight-bold">N° del Módulo</label>
                        <input type="text" class="form-control" id="numero" placeholder="Nro. del Módulo" formControlName="numero">
                    </div>
                </div>

                <div class="form-row">
                    <label class="font-weight-bold">Profesor</label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="extendido">Nuevo profesor</label>
                        <button [routerLink]="['/admin','posgrado','cursos', siglaCurso,'modulos', numeroModulo,'docentes','nuevo']" type="button" class="btn btn-primary btn-block">Registrar</button>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="docenteId">Elija Profesor</label>
                        <select (change)="selectElegido( $event.target.value)" id="docenteId" class="form-control" formControlName="docenteId">
                                <option [ngValue]="0" [selected]>Profesor NO registrado</option>
                                <option *ngFor="let usuario of ussDocentes" [ngValue]="usuario.id">
                                    {{ usuario.docente.grado }} {{ usuario.pri_nombre }} {{ usuario.seg_nombre }} {{ usuario.paterno }} {{ usuario.materno }}
                                </option>
                            </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="profesor">Nombre del Profesor</label>
                        <!--TENER DEMASIADO CUIDADO CON USAR FUNCIONES DENTRO DE INPUTS ONFOCUS OK <input type="text" class="form-control" [ngClass]="{'aqdisabled': profesorNoRegistrado}" (focus)="limpiarSelect(this)" id="profesor" formControlName="profesor" placeholder="Ingrese grado y Nombre"> -->
                        <input *ngIf="nombreProfesor !== ''" type="text" readonly class="form-control-plaintext pl-3" id="profesor" [value]="nombreProfesor">
                        <input *ngIf="nombreProfesor === ''" type="text" class="form-control" id="profesor" formControlName="profesor" placeholder="Ingrese grado y Nombre">
                    </div>
                </div>

                <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="calendario" class="font-weight-bold">Calendario</label>
                        <input type="text" class="form-control" id="calendario" placeholder="Fecha de Inicio - Fecha de Finalización" formControlName="calendario">
                    </div>
                </div> -->
                <div class="form-row">
                    <label class="font-weight-bold">Calendario</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inicio_clases" class="font-weight-bold">Fecha de inicio</label>
                        <input type="date" class="form-control" id="inicio_clases" placeholder="Fecha de inicio de las clases del módulo" formControlName="inicio_clases">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="fin_clases" class="font-weight-bold">Fecha de Finalización</label>
                        <input type="date" class="form-control" id="fin_clases" placeholder="Fecha de fin de las clases del módulo" formControlName="fin_clases">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="observacion" class="font-weight-bold">Observación</label>
                        <input type="text" class="form-control" id="observacion" placeholder="Observación sobre las clases, carga horaria o sábados" formControlName="observacion">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="carga_horaria_a" class="font-weight-bold">Carga horaria A</label>
                        <input type="number" class="form-control" id="carga_horaria_a" placeholder="Carga horaria A" formControlName="carga_horaria_a">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="carga_horaria_b" class="font-weight-bold">Carga horaria B</label>
                        <input type="number" class="form-control" id="carga_horaria_b" placeholder="Carga horaria B" formControlName="carga_horaria_b">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="horas_academicas" class="font-weight-bold">Horas Acádemicas</label>
                        <input type="number" class="form-control" id="horas_academicas" placeholder="Horas académicas" formControlName="horas_academicas">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="creditos" class="font-weight-bold">Créditos</label>
                        <input type="number" class="form-control" id="creditos" placeholder="Créditos del Módulo" formControlName="creditos">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="descripcion" class="font-weight-bold">Descripción</label>
                        <textarea class="form-control" id="descripcion" placeholder="Descripción del Módulo" rows="5" formControlName="descripcion"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button>
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================= End Formulario de Registro de Módulos ================= -->