<!-- ================= Begin Information Course ================= -->
<div class="">
    <div class="aqsbtisi"><u>INFORMACIÓN</u></div>
    <div class="py-3 border-bottom">
        <div *ngFor="let parrafo of parrafosInfoModalidad">
            <div [ngClass]="{'aqsbtisi': (parrafo !== (parrafo | subtitulo)) }"> {{ parrafo | subtitulo }}
            </div>
        </div>
    </div>
    <div *ngIf="curso.num_plazas">
        <div class="py-3 border-bottom">
            <div *ngFor="let parrafo of parrafosInfoNumeroPlazas">
                <div [ngClass]="{'aqsbtisi': (parrafo !== (parrafo | subtitulo)) }"> {{ parrafo | subtitulo }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="curso.otra">
        <div class="py-3 border-bottom">
            <div *ngFor="let parrafo of parrafosInfoOtros">
                <div [ngClass]="{'aqsbtisi': (parrafo !== (parrafo | subtitulo)) }"> {{ parrafo | subtitulo }}
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 border-bottom">
        <div class="aqsbtisi">Calendario</div>
        <div>
            - Inscripciones: hasta el {{curso.inscripcion | date: 'd \'de\' MMMM \'del\' yyyy'}}
        </div>
        <div>
            - Matriculación: del {{curso.inicio_matriculacion | date: 'd \'de\' MMMM'}} al {{curso.fin_matriculacion | date: 'd \'de\' MMMM \'del\' yyyy'}}
        </div>
        <div>
            - Inicio de clases: {{curso.inicio_clases | date: 'd \'de\' MMMM \'del\' yyyy'}}
        </div>
    </div>
    <div class="py-3">
        <div *ngFor="let parrafo of parrafosInfoDiasHorarios">
            <div [ngClass]="{'aqsbtisi': (parrafo !== (parrafo | subtitulo)) }"> {{ parrafo | subtitulo }}
            </div>
        </div>
    </div>
</div>
<!-- ================= End Information Course ================= -->