<p>
    contactos works!
</p>
<div>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Contactos</h3><small>Píe de Pagina</small> <span class="text-danger">{{nombreImagen}}</span>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            El Contacto "{{ mensajeExito }}" ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="mt-4">
        <form [formGroup]="formaContacto" (ngSubmit)="regContacto()">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Contacto </th>
                        <th scope="col" colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contacto of contactos; index as i">
                        <td>{{contacto.contacto}}</td>
                        <td colspan="2">
                            <div class="d-flex">
                                <button (click)="editarContacto(contacto)" type="button" class="btn btn-warning">Editar</button>
                                <div style="width: 0.25rem"></div>
                                <button type="button" data-toggle="modal" data-target="#ModalContacto" (click)="eliModal(contacto, i)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="contacto" placeholder="Número telefónico, correo, otro." formControlName="contacto"></td>
                        <td>

                            <div class="form-row">
                                <div class="form-group col-xs-12 col-md-7">
                                    <label for="exampleFormControlFileContacto">Seleccione Imagen</label>
                                    <input type="file" (change)="selimg($event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFileContacto"><span *ngIf="nombreImagen" class="aqpointer" (click)="quitarSeleccion()">X</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <button [disabled]="!formaContacto.valid" type="submit" class="btn btn-primary">Guardar</button>
                                <div style="width: 0.25rem" *ngIf="this.editar"></div>
                                <button (click)="cargarForma()" class="btn btn-secondary" *ngIf="this.editar">Cancelar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalContacto" tabindex="-1" role="dialog" aria-labelledby="ModalContactoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalContactoLabel">Esta seguro de eliminar la contacto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="contacto!=null">
                    <div>
                        {{ contacto.contacto }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliContacto()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->
</div>