<p>
    list-mod works!
</p>
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end">
            <h3 class="mb-0">Módulos del Curso: {{ nombreCurso }}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','posgrado','cursos',siglaCurso,'modulos','nuevo']" type="button" class="btn btn-primary">Registrar</button>
            <div style="width: 0.5rem"></div>
            <button [disabled]="mensaje" [routerLink]="['/admin','posgrado','cursos',siglaCurso,'modulos','nuevo']" type="button" class="btn btn-info" (click)="generarPDF()">Imprimir</button>
            <!-- <button type="button" class="btn btn-primary m-1" [disabled]="mensaje" (click)="generarPDF()">Imprimir</button> -->
        </div>
    </div>

    <div class="mt-4">
        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <div class="table-responsive" *ngIf="!mensaje">
            <table class="table table-bordered">
                <thead class="text-center thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del Módulo</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Carga H. A</th>
                        <th scope="col">Carga H. B</th>
                        <th scope="col">H. Acádemicas</th>
                        <th scope="col">Créditos</th>
                        <th scope="col">Calendario</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let modulo of modulos; index as i">
                        <th class="text-center" scope="row">{{modulo.numero}}</th>

                        <th class="text-center">{{modulo.nombre}}</th>
                        <td [ngClass]="{'aqDocNoDatos': modulo.docenteId === 0}">{{modulo.profesor}}</td>
                        <td>{{modulo.carga_horaria_a}}</td>
                        <td>{{modulo.carga_horaria_b}}</td>
                        <td>{{modulo.horas_academicas}}</td>
                        <td>{{modulo.creditos}}</td>
                        <td>{{modulo.inicio_clases | date:'d \'de\' MMMM'}} al {{modulo.fin_clases | date: 'd \'de\' MMMM \'del\' yyyy'}} <i>{{modulo.observacion}}</i></td>
                        <th>
                            <div class="d-flex">
                                <button [routerLink]="['/admin','posgrado','cursos',siglaCurso,'modulos', modulo.numero]" type="button" class="btn btn-primary">Editar</button>
                                <div style="width: 0.25rem"></div>
                                <button type="button" data-toggle="modal" data-target="#ModalModulo" (click)="elimodal(modulo, i)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </th>

                    </tr>
                    <tr>
                        <th>TOTAL</th>
                        <th></th>
                        <th></th>
                        <th> {{tcarga_horaria_a}} </th>
                        <th> {{tcarga_horaria_b}} </th>
                        <th> {{thoras_academicas}} </th>
                        <th> {{tcreditos}} </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
            <div class="aqDocNoDatos">-Docente no registrado.</div>
        </div>
    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalModulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esta seguro de eliminar el Módulo </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="modulo!=null">
                    <div>
                        "{{ modulo.nombre }}"
                    </div>
                    <div>
                        del Curso {{curso.nombre}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliModulo()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->

</div>