<p>
    redes works!
</p>
<div>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Redes Sociales</h3><small>Píe de Pagina</small> <span class="text-danger">{{nombreImagen}}</span>
        </div>
        <div class="">
            <button type="button" class="btn btn-secondary m-1">Volver</button>
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            La Red Social "{{ mensajeExito }}" ha sido actualizado Exitosamente.!!!
        </div>
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="mt-4">
        <form [formGroup]="formaRedSocial" (ngSubmit)="regRedSocial()">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección de Internet (URL)</th>
                        <th scope="col" colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let red of redes; index as i">
                        <td>{{red.nombre}}</td>
                        <td>{{red.direccion_url}}</td>
                        <td colspan="2">
                            <div class="d-flex">
                                <button (click)="editarRedSocial(red)" type="button" class="btn btn-warning">Editar</button>
                                <div style="width: 0.25rem"></div>
                                <button type="button" data-toggle="modal" data-target="#ModalRedSocial" (click)="eliModal(red, i)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="nombre" placeholder="Nombre en Red Social" formControlName="nombre"></td>
                        <td><input type="text" class="form-control" id="direccion_url" placeholder="https://www.redsocial.com/ipicomumsa-987654321" formControlName="direccion_url"></td>
                        <td>

                            <div class="form-row">
                                <div class="form-group col-xs-12 col-md-7">
                                    <label for="exampleFormControlFileRed">Seleccione Imagen</label>
                                    <input type="file" (change)="selimg($event.target.files[0])" onclick="this.value=null;" class="form-control-file" id="exampleFormControlFileRed"><span *ngIf="nombreImagen" class="aqpointer" (click)="quitarSeleccion()">X</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <button [disabled]="!formaRedSocial.valid" type="submit" class="btn btn-primary">Guardar</button>
                                <div style="width: 0.25rem" *ngIf="this.editar"></div>
                                <button (click)="cargarForma()" class="btn btn-secondary" *ngIf="this.editar">Cancelar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="ModalRedSocial" tabindex="-1" role="dialog" aria-labelledby="ModalRedSocialLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalRedSocialLabel">Esta seguro de eliminar la red</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="red!=null">
                    <div>
                        {{ red.nombre }}
                    </div>
                    <div>
                        Con dirección: {{ red.direccion_url}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliRedSocial()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->
</div>