<!-- ================= Begin Events ================= -->
<div class="row mx-0">
    <section class="col-lg-9 px-0">

        <!-- ================= Begin BreadCrumb ================= -->
        <div class="row mx-0 aqpxsc9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mb-0 px-0 pt-3">
                    <li class="breadcrumb-item"><a [routerLink]="['/']" class="aqsbtx aqlihov">IpiCOM</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/interaction']" class="aqsbtx aqlihov">Interacción</a></li>
                    <li class="breadcrumb-item active"><a>Eventos</a></li>
                </ol>
            </nav>
        </div>
        <!-- ================= End BreadCrumb ================= -->

        <!-- ================= Begin EventsInteraction sc9card3 ================= -->
        <div class="mt-2">
            <div class="row mx-0 aqpxsc9">
                <h2 class=" aqffsr aqtxcoresf">Eventos que se desarrollaron</h2>
            </div>
            <div class="row mx-0 aqpxsc9rest">

                <!-- ================= Begin PastEvent ================= -->
                <div class="col-sm-6 col-md-4" *ngFor="let event of events">
                    <div class="border m-1 mt-3">
                        <a [routerLink]="['/interaction','events', event.titulo | rempEsp]">
                            <div class="aqposrel">
                                <div>
                                    <img [src]="event.imgpath | seleccionaImagen:'inteEventos' :1" class="img-fluid">
                                </div>
                                <div>
                                    <div class="p-2 aqfeint">
                                        <h5 class="m-0 text-uppercase">{{event.fecha | date: 'dd - MMM | h:mm a'}}</h5>
                                        <!-- <h5 class="m-0">23 - NOV | 4 : 30 PM</h5> -->
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <h3 class="aqffsr" style="color: #c00000">{{event.tipo}}</h3>
                                <p>{{event.descripcion | slice:0:128}}...</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ================= End PastEvent ================= -->
                <!-- <div class="col-sm-6 col-md-4">
                    <div class="border m-1 mt-3">
                        <a [routerLink]="['/interaction','event']">
                            <div class="aqposrel">
                                <div>
                                    <img src="../../../assets/img/interaction/ui7.jpg" class="img-fluid">
                                </div>
                                <div>
                                    <div class="p-2 aqfeint">
                                        <h5 class="m-0">23 - NOV | 4 : 30 PM</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <h3 class="aqffsr" style="color: #c00000">Jornada</h3>
                                <p>Segunda Jornada de la No violencia contra la mujer. La UMSA, desde sus institutos IDIS, IITS, IpiCOM y la Defensoriade los Derechos del Universitario, te invitan a participar de la Ruta contra la violencia de género</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="border m-1 mt-3">
                        <a [routerLink]="['/interaction','event']">
                            <div class="aqposrel">
                                <div>
                                    <img src="../../../assets/img/interaction/ui7.jpg" class="img-fluid">
                                </div>
                                <div>
                                    <div class="p-2 aqfeint">
                                        <h5 class="m-0">23 - NOV | 4 : 30 PM</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <h3 class="aqffsr" style="color: #c00000">Jornada</h3>
                                <p>Segunda Jornada de la No violencia contra la mujer. La UMSA, desde sus institutos IDIS, IITS, IpiCOM y la Defensoriade los Derechos del Universitario, te invitan a participar de la Ruta contra la violencia de género</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="border m-1 mt-3">
                        <a [routerLink]="['/interaction','event']">
                            <div class="aqposrel">
                                <div>
                                    <img src="../../../assets/img/interaction/ui7.jpg" class="img-fluid">
                                </div>
                                <div>
                                    <div class="p-2 aqfeint">
                                        <h5 class="m-0">23 - NOV | 4 : 30 PM</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <h3 class="aqffsr" style="color: #c00000">Jornada</h3>
                                <p>Segunda Jornada de la No violencia contra la mujer. La UMSA, desde sus institutos IDIS, IITS, IpiCOM y la Defensoriade los Derechos del Universitario, te invitan a participar de la Ruta contra la violencia de género</p>
                            </div>
                        </a>
                    </div>
                </div> -->

            </div>
            <div class="row mx-0 aqpxsc9">
                <nav aria-label="...">
                    <ul class="pagination aqsbtx">
                        <li (click)="carga(actual-1)" class="page-item" [ngClass]="{'disabled': actual === 0}">
                            <a class="page-link ">Anterior</a>
                        </li>
                        <li (click)="carga(i)" class="page-item" [ngClass]="{'disabled': actual === i }" *ngFor="let item of numPag; index as i">
                            <a class="page-link " [ngClass]="{'aqund': actual === i }">{{i+1}}</a>
                        </li>
                        <li (click)="carga(actual+1)" class="page-item" [ngClass]="{'disabled': actual === total-1}">
                            <a class="page-link ">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- ================= End NewsInstitute sc9card3 ================= -->

    </section>

    <aside class="col-lg-3 aqpx mt-3">
        <!-- ================= Begin Jumbotron Additional Info  ================= -->
        <div class="aqmt20">
            <div class="aqinfo">
                <h6 class="aqsbtisi">INFORMACIÓN ADICIONAL</h6>
                <p class="mt-3"><span>Responsable Operativo IpiCOM</span><br>Lic. Alvaro Mamani Sanchez</p>
                <p>Teléfono: (591-2) 2612733<br>Celular y whatapp: (591) 72529133</p>
                <p class="mt-3"><span>Directora IpiCOM</span><br>MsC. Esperanza Pinto Sardón<br>Correo electrónico:<br>epintosardon@gmail.com</p>
            </div>
        </div>
        <!-- ================= End Jumbotron Additional Info  ================= -->

        <!-- ================= Begin Jumbotrom AskQuestion ================= -->
        <app-consultation></app-consultation>
        <!-- ================= Fin Jumbotrom AskQuestion ================= -->
    </aside>
</div>
<!-- ================= End Events ================= -->