<!-- <p>
    principal-estudiante works!
</p> -->

<!-- ================= Begin Alertas Exitos Error ================= -->
<div class="alert alert-danger" *ngIf="mensajeError" role="alert">
    {{ mensajeError }}
</div>
<!-- ================= End Alertas Exitos Error ================= -->
<!-- ================= Begin Alertas Exitos Error ================= -->
<div class="alert alert-warning" *ngIf="mensaje" role="alert">
    {{ mensaje }}
</div>
<!-- ================= End Alertas Exitos Error ================= -->

<form [formGroup]="forma" (ngSubmit)="cambiarContrasena()">
    <div class="modal-body">
        <div class="form-group row">
            <label for="email" class="col-sm-4 pr-0 col-form-label d-flex justify-content-end">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="email" formControlName="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="oldpass" class="col-sm-4 pr-0 col-form-label d-flex justify-content-end">Contraseña anterior</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="oldpass" placeholder="Password" formControlName="oldpass">
            </div>
        </div>
        <div class="form-group row">
            <label for="newpass" class="col-sm-4 pr-0 col-form-label d-flex justify-content-end">Nueva contraseña</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="newpass" placeholder="Password" formControlName="newpass">
            </div>
        </div>
        <div class="form-group row">
            <label for="confnewpass" class="col-sm-4 pr-0 col-form-label d-flex justify-content-end">Confirmar</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="confnewpass" placeholder="Password" formControlName="confnewpass">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button [disabled]="!forma.valid" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>