<p>
    list-par works!
</p>
<!-- ================= Begin Lista de Participantes ================= -->
<div class="container-fluid border py-4">
    <div class="row mx-3 pb-2 border-bottom d-flex justify-content-between">
        <div class="d-flex align-items-end" *ngIf="this.evento">
            <h3 class="mb-0">Lista de Participantes del Evento: {{this.evento.titulo}}</h3>
        </div>
        <div class="d-flex m-1">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary">Volver</button>
            <div style="width: 0.5rem"></div>
            <button [routerLink]="['/admin','interaccion','eventos', idEvento,'participantes','nuevo']" type="button" class="btn btn-primary">Registrar</button>
            <div style="width: 0.5rem"></div>
            <button type="button" class="btn btn-primary" [disabled]="mensaje" (click)="generarPDF()">Imprimir</button>
        </div>
    </div>

    <div class="mt-4 mx-3">

        <!-- ================= Begin Alertas Exitos Error ================= -->
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
        <!-- ================= End Alertas Exitos Error ================= -->

        <table class="table table-bordered" *ngIf="!mensaje">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Apellidos y Nombres</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Correo</th>
                    <th scope="col" style="width: 10%">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let participante of participantes; index as i">
                    <th scope="row" class="text-center">{{i+1}}</th>
                    <td>{{participante.paterno}} {{participante.materno}} {{participante.pri_nombre}} {{participante.seg_nombre}}</td>
                    <td>{{participante.celular}}</td>
                    <td>{{participante.email}}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button [routerLink]="['/admin','interaccion','eventos', idEvento ,'participantes', participante.id ]" type="button" class="btn btn-warning">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#ModalParticipantes" (click)="elimodal(participante, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal Investigador ================= -->
    <div class="modal fade" id="ModalParticipantes" tabindex="-1" role="dialog" aria-labelledby="ModalParticipantesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalParticipantesLabel">Esta seguro de eliminar al participante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="participante!=null">
                    <div>
                        {{ participante.pri_nombre }} {{ participante.paterno }} {{ participante.materno }},
                    </div>
                    <div>
                        de nro. celular: {{ participante.celular }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="quitarParticipante()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal Investigador ================= -->

</div>
<!-- ================= End Lista de Participantes ================= -->