/* You can add global styles to this file, and also import other style files */

input[type=checkbox] {
    transform: scale(1.5);
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.375rem !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.375rem !important;
    color: #6c757d;
    content: "/" !important;
}

.bb {
    border: 1px black solid;
}

h1 {
    font-family: PT_Sans-Web-Bold;
}

li {
    list-style: none !important;
}

a p {
    color: #333333 !important;
}

a:hover {
    text-decoration: none !important;
}

a:link {
    text-decoration: none;
}

td,
th {
    padding: 0.375rem !important;
    line-height: 1.2 !important;
    vertical-align: middle !important;
}

.aqbgpristine {
    background-color: #477DCA;
}

.aqbgtouched {
    background-color: #CA477D;
}

.aqbgvalid {
    background-color: #7DCA47;
}

.aqpd12px {
    padding: 12px;
}

.aqtd td {
    font-family: PT_Sans-Web-Italic;
}

.aqtxcobl {
    color: #264162;
}

.aqtxcole {
    color: #7f7f7f;
}

.aqtxcore {
    color: #c00000;
}

.aqtxcowh {
    color: white;
}

.aqtxcolesf {
    color: #7f7f7f;
}

.aqtxcoblsf {
    color: #306DA7;
}

.aqtxcoresf {
    color: #c4213a;
}

.aqlico {
    color: #3479b2;
}

.aqticocurpos {
    color: #1d4163;
}

.aqmtfirst {
    margin-top: 3.82rem;
}

.aqmb075 {
    margin-bottom: 0.75rem;
}

.aqpx {
    padding-left: 2%;
    padding-right: 2.2%;
}

.aqtxcowh {
    color: white;
}


/* .aqnavact {
    color: #c8d7ea
} */

.aqpysbti {
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

.aqpx20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.aqsbtisi {
    font-size: 1.05rem;
    font-weight: 600;
}

.aq100 {
    width: 100%;
    height: 100%;
}

.aqffsb {
    font-family: PT_Sans-Web-Bold;
}

.aqffsr {
    font-family: PT_Sans-Web-Regular;
}

.aqffsi {
    font-family: PT_Sans-Web-Italic;
}

.aqffser {
    font-family: PT_Serif-Web-Regular;
}

.aqffseb {
    font-family: PT_Serif-Web-Bold;
}

.aqpxsc9 {
    padding-left: 2.67%;
    padding-right: 2.93%;
}

.aqpxsc9rest {
    padding-left: 0.67%;
    padding-right: 0.93%;
}

.aqmxsc9card3 {
    border: none;
    margin-left: 6%;
    margin-right: 6%;
}

.aqinfo {
    background-color: #e9ecef;
    padding: 1.5rem 1.75rem;
    -webkit-box-shadow: 0px 0px 0px 1px #dee2e6;
    box-shadow: 0px 0px 0px 1px #dee2e6;
}

.aqinfo span {
    font-weight: 600;
    font-size: 1.04rem;
}

.aqmt20 {
    margin-top: 2rem;
}

.aqpy20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.aqpxsc {
    padding-left: 0.5%;
    padding-right: 0.55%;
}

.aqsbti {
    font-weight: 700;
}

.hovred:hover h5 {
    color: #c82f30 !important;
}

.aqmxcard {
    border: none;
    margin-left: 6%;
    margin-right: 6.6%;
}

.aqticard {
    color: #333333;
    font-size: 1.5rem;
    font-family: PT_Sans-Web-Bold;
}

.aqsbtx {
    color: #3479b2;
    line-height: 1.2;
    font-size: .92rem;
}


/* color anterior del hover 495057 */

.aqlihov:hover {
    color: #5f666d
}

.aqcontxsc9 {
    font-family: PT_Serif-Web-Regular;
    font-size: 1.125rem;
}

.aqmxsc9pu {
    margin-left: -2.67%;
}

.aqjt {
    font-size: 1.1rem;
}

.aqpointer {
    cursor: pointer;
}


/* .aqdisabled {
    pointer-events: none;
    background-color: #e9ecef;
    opacity: 1;
} */

.aqjt.aqjtbt {
    background: #3479b2;
    border-color: #3479b2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.aqjt.aqjtbt:hover {
    background: #c82f30;
    border-color: #c82f30;
}

.aqpinfinv {
    padding: 1.5rem 1.5rem 1rem;
}

.aqfeint {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #2f2424;
}

.aqhvup {
    color: transparent;
}

.aqhvup:hover div {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: white;
}

.aqhvup:hover img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.3;
}

.aqhvup h4,
.aqhvup h5 {
    font-family: PT_Sans-Web-Regular !important;
}

.aqlink {
    color: #306DA7;
    cursor: pointer;
}

.aqlicurpos {
    border-bottom: 4px solid #306DA7;
}

.aqtxincurpos {
    font-size: 1.2rem;
    line-height: 0.8;
}

.aqbb1px {
    border-bottom: 1px solid #666666;
}

.aqsitx175 {
    font-size: 1.75rem;
}

.aqbtnatras {
    position: relative;
    height: 2rem;
    transition: 2s all;
    outline: none;
}

.aqbtnatras:hover {
    border-color: #367fa9;
    right: 10px;
}

#aqbtntop {
    display: none;
    position: fixed;
    right: 35px;
    bottom: 20px;
    transition: 0.5s all;
    outline: none;
    z-index: 17;
}

#aqbtntop:hover {
    background-color: #367fa9;
    bottom: 25px;
    border-color: #367fa9
}

.aqDocNoDatos {
    font-family: PT_Sans-Web-Italic;
    color: #D6743E;
}

.aqboev {
    -webkit-box-shadow: 0px 0px 5px 1px #7f7f7f;
    box-shadow: 0px 0px 5px 1px #7f7f7f;
}

.aqbaninv {
    background: rgba(51, 51, 51, 0.75);
    color: #fefefe;
    padding: 1rem;
}

.aqlininv {
    font-family: PT_Sans-Web-Regular;
    font-size: 1.25rem;
}

.aqund {
    background-color: #3479b2 !important;
    color: white !important;
    /* text-decoration-line: underline !important; */
}

.aqbbper {
    border-bottom: 3px solid #f2f2f2;
}

.aqimper {
    float: left;
    margin: 0px 20px;
}

@media (min-width: 992px) {
    .aquie {
        padding: 1.5rem 10%;
    }
}

@media (min-width: 768px) {
    .aqposabs {
        position: absolute;
        bottom: 0;
        left: 65%;
    }
}

@media (max-width: 992px) {
    .aqnoup {
        font-size: 3.5rem;
        padding-top: 2rem;
    }
    .aqmbpr {
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {
    .aqnoup {
        font-size: 86px;
    }
    .aqpadnoup {
        padding: 7rem 15rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .aqposabs h1 {
        font-size: 2rem !important;
    }
    .aqposabs h3 {
        font-size: 1rem !important;
    }
    .aqpadnoup {
        padding: 5% 10%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1209px) {
    .aqposabs h1 {
        font-size: 2.5rem !important;
    }
    .aqposabs h3 {
        font-size: 1.5rem !important;
    }
    .aqpadnoup {
        padding: 5% 10%;
    }
}

@media (min-width: 768px) {
    .aqpxcontabou {
        padding-left: 1.84%;
        padding-right: 2.76%;
    }
    .aqmr0 {
        margin-right: 0.5rem;
    }
    .aqw99 {
        width: 99%;
    }
    .aqcon80 {
        width: 80%;
    }
    .aqcon75 {
        width: 75%;
    }
    .aqcon90 {
        width: 90%;
    }
    .aqcon95 {
        width: 95%;
    }
    .aqpinfinv {
        padding: 3rem 3rem 1.5rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.4rem !important;
    }
    .aqrelat {
        position: relative;
        top: -7rem;
        background-color: white;
    }
    .aqimglogo {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 991px) {
    .aqh2 {
        font-size: 1.7rem !important;
    }
    .aqimglogo {
        width: 45px;
        height: 45px;
    }
    .aqpxsc9 {
        padding-left: 2%;
        padding-right: 2.2%;
    }
    .aqmxsc9pu {
        margin-left: -2%;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .aqside {
        display: none;
        width: 0;
    }
    .aqpart {
        width: 100%;
    }
    .aqimgsimaxx {
        width: 280px;
    }
    .aqmxcard {
        margin-left: 0;
        margin-right: 0;
    }
    .aqpxcard9 {
        padding-left: 0;
        padding-right: 0;
    }
    .aqpxsc {
        padding-left: 2%;
        padding-right: 2.2%;
    }
    .aqpxsc9rest {
        padding-left: 0;
        padding-right: 0;
    }
    .aqmxsc9card3 {
        margin-left: 2%;
        margin-right: 2.2%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .aqside h2 {
        font-size: 1.5rem;
    }
    .aqpxsc9rest {
        padding-left: 0.1%;
        padding-right: 0.3%;
    }
    .aqhvup h4 {
        font-size: 1.25rem;
    }
    .aqhvup h5 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1299px) {
    .aqside h2 {
        font-size: 1.75rem !important;
    }
}

@media only screen and (min-width: 1220px) {}

@media only screen and (min-width: 980px) {}

@media only screen and (min-width: 740px) {}

@media only screen and (min-width: 500px) {}


/* =======   Posiciones   ======= */

.aqposrel {
    position: relative;
}


/* =======   CSS w3 organization revisar e resolver   ======= */

.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

.w3-bar-block .w3-dropdown-hover,
.w3-bar-block .w3-dropdown-click {
    width: 100%
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
.w3-bar-block .w3-dropdown-click .w3-dropdown-content {
    min-width: 100%
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.w3-hide-small {
    display: none!important
}

.w3-mobile {
    display: block;
    width: 100%!important
}

.w3-bar-item.w3-mobile,
.w3-dropdown-hover.w3-mobile,
.w3-dropdown-click.w3-mobile {
    text-align: center
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.w3-bar-block.w3-center .w3-bar-item {
    text-align: center
}

.w3-block {
    display: block;
    width: 100%
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.w3-btn,
.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-btn,
.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-disabled *,
:disabled * {
    pointer-events: none
}

.w3-dropdown-hover:hover>.w3-button:first-child,
.w3-dropdown-click:hover>.w3-button:first-child {
    background-color: #ccc;
    color: #000
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.w3-bar .w3-button {
    white-space: normal
}

.w3-dropdown-hover.w3-mobile,
.w3-dropdown-hover.w3-mobile .w3-btn,
.w3-dropdown-hover.w3-mobile .w3-button,
.w3-dropdown-click.w3-mobile,
.w3-dropdown-click.w3-mobile .w3-btn,
.w3-dropdown-click.w3-mobile .w3-button {
    width: 100%
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.w3-tiny {
    font-size: 10px!important
}

.w3-small {
    font-size: 12px!important
}

.w3-medium {
    font-size: 15px!important
}

.w3-large {
    font-size: 18px!important
}

.w3-teal,
.w3-hover-teal:hover {
    color: #fff!important;
    background-color: #2283c3!important
    /* background-color: #009688!important */
}

.w3-xlarge {
    font-size: 24px!important
}

.w3-xxlarge {
    font-size: 36px!important
}

.w3-xxxlarge {
    font-size: 48px!important
}

.w3-jumbo {
    font-size: 64px!important
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
    content: "";
    display: table;
    clear: both
}

.w3-container,
.w3-panel {
    padding: 0.01em 16px
}

.w3-panel {
    margin-top: 16px;
    margin-bottom: 16px
}