<!-- ================= Begin List Flush Notice ================= -->
<div class="list-group list-group-flush" *ngIf="sitios">
    <a class="aqpysbti aqpx20 list-group-item">
        <h6 class="aqsbtisi">SITIOS DE INTERÉS</h6>
    </a>
    <a *ngFor="let sitio of sitios" class="aqsbtx aqlihov aqpx20 list-group-item list-group-item-action" [href]=sitio.direccion_url target="_blank">{{sitio.nombre}}</a>

</div>
<!-- ================= Fin List Flush Notice ================= -->