<p>
    noticias works!
</p>

<div class="container-fluid border"><br>
    <div class="row mx-0  d-flex justify-content-between">
        <div class="">
            <h3>Lista de Noticias</h3>
        </div>
        <div class="">
            <button (click)="irPaginaArriba()" type="button" class="btn btn-secondary m-1">Volver</button>
            <button [routerLink]="['/admin','instituto','noticias','nueva']" type="button" class="btn btn-primary m-1">Registrar</button>
            <!-- <button type="button" class="btn btn-primary m-1" (click)="generarPDF()">Imprimir</button> -->
        </div>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="alert alert-warning" *ngIf="mensajeError !== ''" role="alert">
        {{ mensajeError }}
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <!-- ================= Begin Alertas Exitos Error ================= TODO TODO TODO TODO TODO TODO TODO -->
    <!-- <div class="alert alert-danger" *ngIf="error" role="alert">
    {{ mensajeError }}
</div> -->
    <!-- ================= End Alertas Exitos Error ================= -->
    <div class="border mt-4">
        <table class="table table-bordered" *ngIf="mensajeError === ''">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let noticia of noticias; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ noticia.titulo }}</td>
                    <td>{{ noticia.fecha | slice:0:10 }}</td>
                    <td>
                        <div class="d-flex">
                            <button [routerLink]="['/admin','instituto','noticias',noticia.titulo | rempEsp]" type="button" class="btn btn-primary">Editar</button>
                            <div style="width: 0.25rem"></div>
                            <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="elimodal(noticia, i)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ================= Begin Modal ================= -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esta seguro de eliminar la Noticia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="noticia!=null">
                    <div>
                        {{ noticia.titulo }}
                    </div>
                    <div>
                        De fecha: {{ noticia.fecha | slice:0:10 }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="eliNoticia(noticia, index)" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= End Modal ================= -->

</div>