<!-- ================= Begin Footer =================    TODO aqmt6-->
<footer class="mx-0" style="margin-top: 5rem">
    <div class="d-flex align-items-center py-5 aqborderyfo w-100 h-100 " style="position: relative;">
        <svg class="aq0">
    <filter id="monochrome" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
      <feColorMatrix 	type="matrix" values="0.84 0 0 0 0.16 0.73 0 0 0 0.27 0.45 0 0 0 0.55 0 0 0 1 0"></feColorMatrix>
    </filter>
  </svg>

        <div class="aq100 aqfobgfo">
            <img class="aqprofile" src="../../../assets/img/imagen-footer.png">
        </div>

        <div class="aqpx aqffsb aq100 aqtxcofo">
            <div class="row mx-0 aqtxsi120">
                <div class="col-12 col-md-6 col-lg-3 px-0 mb-3">
                    <h3 class="aqtifo">SIGUENOS</h3>
                    <ul class="pl-0 mb-0">
                        <li *ngFor="let red of redes" class="mr-5">
                            <a [href]="red.direccion_url" target="_blank">
                                <img [src]="red.imgpath | seleccionaImagen:'instFooter'" class="aqicfo">
                                <span>{{red.nombre}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3 px-0 mb-3">
                    <h3 class="aqtifo">CONTACTOS</h3>
                    <ul class="pl-0 mb-0">
                        <li *ngFor="let contacto of contactos" class="mr-5">
                            <img [src]="contacto.imgpath | seleccionaImagen:'instFooter'" class="aqicfo">
                            <span>{{contacto.contacto}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3 px-0 mb-3">
                    <h3 class="aqtifo">OFICINAS</h3>
                    <div class="aqffsr">
                        <ul class="pl-0 mb-0 aqtxsi115">
                            <li *ngFor="let oficina of oficinas" class="mr-5">
                                {{oficina.direccion}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 px-0 mb-3">
                    <h3 class="aqtifo">RECURSOS</h3>
                    <ul class="pl-0 mb-0">
                        <li *ngFor="let recurso of recursos" class="mr-5">
                            <a [href]="recurso.docpath | seleccionaImagen:'instFooter'" class="aqicfo" target="_blank">
                                <span>{{recurso.nombre}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 px-0">
                <hr class="aqlifo">

                <div class="mt-4">
                    <div class="row mx-0 justify-content-center d-flex align-items-end aqtxcobl aqsgsi">
                        <img class=" mr-1 mt-2 aqimgfo" src="../../../assets/img/logot_IpiCOM.png">
                        <h1 class="mb-0 aqsgI">I</h1>
                        <h1 class="mb-0">pi</h1>
                        <h1 class="mb-0">COM</h1>
                    </div>

                    <div class="row mx-0 justify-content-center">
                        <h5 class="mb-0 text-center aqtxsi115">Instituto de Investigacion, Posgrado e Interaccion Social en Comunicacion</h5>
                    </div>
                    <div class=" row mx-0 justify-content-center ">
                        <h5 class="mb-0 text-center aqtxsi115">CARRERA DE CIENCIAS DE LA COMUNICACION SOCIAL - UMSA</h5>
                    </div>
                    <div class="row mx-0 justify-content-center ">
                        <p class="aqsi008 aqffsr mb-0">IpiCOM, Powered by alfaQ</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</footer>
<!-- ================= Begin Footer ================= -->