.aqmt6 {
    margin-top: 6rem;
}

.aqborderyfo {
    border-bottom: 1px solid #6d93c5;
    border-top: 1px solid #6d93c5;
}

.aq0 {
    width: 0;
    height: 0;
}

.aqprofile {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    -webkit-filter: url(#monochrome);
    filter: url(#monochrome);
}

.aqfobgfo {
    position: absolute;
    background-color: #d8e0f3;
    top: 0;
    left: 0;
}

.aqtxcofo {
    color: #1d3149;
}

.aqtxsi120 {
    font-size: 1.2rem;
}

.aqtxsi115 {
    font-size: 1.15rem;
}

.aqtifo {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: -0.5px;
}

.aqicfo {
    width: 35px;
    height: 35px;
    margin-right: 0.4rem;
}

.aqlifo {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #3a6092;
}

.aqtxcobl {
    color: #264162;
}

.aqsgsi h1 {
    font-size: 2.8rem;
}

.aqimgfo {
    width: 60px;
    height: 60px;
}

.aqsgI {
    font-family: Share-Bold;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}

.aqsi008 {
    font-size: 0.8rem;
}

.aqtxcofo ul li a {
    color: #1d3149;
}