<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<app-nav></app-nav>

<main class="aqmtfirst container-fluid px-0 mx-0">
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>