<p>
    unidades works!
</p>
<div>
    <div>
        <h3>Unidades</h3>
    </div>
    <!-- ================= Begin Alertas Exitos Error ================= -->
    <div class="mt-3">
        <div class="alert alert-success" *ngIf="mensajeExito" role="alert">
            {{ mensajeExito }}
        </div>
        <div class="alert alert-warning" *ngIf="mensaje" role="alert">
            {{ mensaje }}
        </div>
    </div>
    <!-- ================= End Alertas Exitos Error ================= -->
    <form [formGroup]="formaUnidades" (ngSubmit)="actUnidades()">
        <div class="form-row border-bottom">
            <div class="col-4 px-3">
                <div class="form-group">
                    <label for="nombreInv">Nombre</label> <span class="mx-3">|</span>
                    <label for="descripcionInv">Descripción</label>
                    <input type="text" class="form-control" id="nombreInv" formControlName="nombreInv" placeholder="Investigación">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="descripcionInv" formControlName="descripcionInv" rows="7"></textarea>
                </div>
            </div>
            <div class="col-4 px-3">
                <div class="form-group">
                    <label for="nombrePos">Nombre</label> <span class="mx-3">|</span>
                    <label for="descripcionPos">Descripción</label>
                    <input type="text" class="form-control" id="nombrePos" formControlName="nombrePos" placeholder="Posgrado">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="descripcionPos" formControlName="descripcionPos" rows="7"></textarea>
                </div>
            </div>
            <div class="col-4 px-3">
                <div class="form-group">
                    <label for="nombreInt">Nombre</label> <span class="mx-3">|</span>
                    <label for="descripcionInt">Descripción</label>
                    <input type="text" class="form-control" id="nombreInt" formControlName="nombreInt" placeholder="Interacción">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="descripcionInt" formControlName="descripcionInt" rows="7"></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <!-- <button (click)="irPaginaArriba()" type="button" class="btn btn-outline-secondary btn-lg mt-4">Cancelar</button> -->
            <button [disabled]="!formaUnidades.valid" type="submit" class="btn btn-outline-info btn-lg mt-4">Registrar</button>
        </div>
    </form>
</div>